In [ ]:
a = "Fe"
k = a.upper()
print(k)
if((k[0] >= '0' and k[0] <= '9') \
    or (k[0] >= 'A' and k[0] <= 'F')) \
    and \
    ((k[1] >= '0' and k[1] <= '9') \
    or (k[1] >= 'A' and k[1] <= 'F')) :
      print(int(a,16))
else:
  print("16진수가 아닙니다.")bb

In [ ]:
aaa = 3
print(~aaa)

-4

In [ ]:
print(not aaa)

False

In [ ]:
import random
import math

var = []
for i in range(5):
  a = random.randrange(1,11)
  var.append(a)
print(var)

total =0

for i in var:
  total += i
print("총합 : " ,total)


avg = total/ len(var)
print('평균 : ' ,avg )

for i in var:
  total += (i-avg)**2
varience = total/len(var)#분산
print("분산 : " , varience)
std2 = math.sqrt(varience)#표준편차
print("표준편차 : ", std2)

[5, 4, 9, 3, 3]
총합 :  24
평균 :  4.8
분산 :  9.760000000000002
표준편차 :  3.124099870362662

In [ ]:
a = "10*3+2"
print(a,"=", eval(a))
print(type(eval(a)))

10*3+2 = 32
<class 'int'>

In [ ]:
print(a+"="+ str(eval(a)))
print(format(eval(a),"b"))

10*3+2=32
100000

In [ ]:
a='11'
print(format(int(a),'x'))

b

In [ ]:
a='64'#각자리 비트로 바꾸면 0110 0100 -> 숫자로 바꾸면 64+32+4 = 100
print(int(a,16))
a='32'#각자리 비트로 바꾸면 0011 0010 -> 숫자로 바꾸면 32+16+2= 50
print(int(a,16))
a='34'
print(int(a,16))
a='12'
print(int(a,16))
a='0111'# 2진수는 0과 1만 존재한다. 
print(int(a,2))

100
50
52
18
7

In [ ]:
print(format(6,'b'))#bin형은 0과1만 존재 -> 0110

a=9
print(format(a,'b'))#bin형은 0과1만존재 -> 1 0001

a=15
print(format(a,'x'))#16진수로, 숫자를 16으로 나눠줌 

a=18
print(format(a,'x'))#16진수로, 숫자를 16으로 나눠줌

110
1001
f
12

In [ ]:
print(bin(int("%d" % 11,10)))
print(bin(int("%d" % 11,2)))
print(int("%d" % 11,8))
print(bin(int("%d" % 11,8)))
print(format(int("%d" % 65),'b'))# 64 + 1 = 65
print(format(int("%d" % 65),'x'))# 4*16 + 1 = 65
print(format(int("%d" % 65),'b').zfill(8))
print(format(int("%d" % 65),'x').zfill(8))

0b1011
0b11
9
0b1001
1000001
41
01000001
00000041

In [ ]:
# 비트연산자 = &,	|, ^(xor), ~, <<, >>
# 논리연산자 = and, or, not