# *빅데이터 개론 4주차 실습!*

- - -

## ``dpylr`` package

##1. dplyr(``%>%, select, filter, groupby, summarize``)

- - -

dplyr 패키지는 Hadley Wickham가 작성한 데이터 처리에 특화된 R 패키지입니다. 이 분이 지금까지 작성한 유명한 R 패키지로는 ggplot2, plyr, reshape2등이 있으며 이미 많은 분들이 사용하고 있으리라 생각합니다.

데이터 처리에 특화된 유용한 패키지로는 역시 Hadley Wickham이 만든 plyr이라는 패키지가 있었습니다. 그러나 ``plyr은 편리하긴 했지만 모든 함수가 R로 작성되어서 처리 속도가 느리다는 단점``이 있었습니다. 이에 반해 ``dplyr은 C++로 작성되어 불필요한 함수를 불러오지 않기 때문에 매우 빠른 처리 속도를 자랑``합니다.

dplyr 패키지는 데이터 프레임을 처리하는 함수군으로 구성되어 있습니다. 하지만 그 밖에도 다음 형식의 데이터를 이용할 수 있습니다.

* data.table : data.table 패키지와 사용
* 각종 데이터베이스 : 현재 MySQL, PostgreSQL, SQLite, BigQuery를 지원
* 데이터 큐브 : dplyr 패키지 내부에 실험적으로 내장됨

In [37]:
#dplyr 사용하기 위해 패키지 가져오기

install.packages("data.table")
install.packages("tidyverse")

library(tidyverse) # or library(dplyr)
library(data.table)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message in install.packages("data.table"):
“installation of package ‘data.table’ had non-zero exit status”
Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [38]:
#https://gomguard.tistory.com/243
#파일 읽어오기
DF <- fread("ftp://210.115.229.94/2020_datascience/6th_data/Pre_Season_Batter.csv", header = T, encoding = "UTF-8") %>%
  as_tibble()

* select

In [39]:
# base R 을 이용한 데이터 가져오기
# 모든 행에서 batter_name 과 team 열의 데이터만 가져와라
DF[, c("batter_name", "team")] %>% show()

# A tibble: 1,393 x 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# … with 1,383 more rows

In [4]:
# dplyr
# 파이프 연산(%>%) 을 이용하면 읽고 쓰기가 쉬워진다.
# 왼쪽에서 오른쪽으로 읽어갈 수 있다.
# DF의 데이터 프레임에서,  batter_name 과 team 열의 데이터만 가져와라
# select는 사용하고자 하는 열을 추출한다. select(사용할df, 가져올 열)
DF %>% select(., batter_name, team) %>% show()

# A tibble: 1,393 x 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# … with 1,383 more rows

In [5]:
# DF 에서 batter_name 과 team 열의 데이터만 빼고 가져와라
DF %>% select(., -batter_name, -team) %>% show()

# A tibble: 1,393 x 27
   batter_id  year avg       G    AB     R     H  `2B`  `3B`    HR    TB   RBI
       <int> <int> <chr> <int> <int> <int> <int> <int> <int> <int> <int> <int>
 1         0  2018 0.350     7    20     1     7     1     0     1    11     5
 2         1  2011 0.000     4     2     2     0     0     0     0     0     1
 3         1  2014 -         4     0     2     0     0     0     0     0     0
 4         1  2015 0.130    10    23     3     3     0     0     0     3     1
 5         1  2016 0.188    14    32     4     6     1     1     0     9     2
 6         1  2017 0.222    11    36    10     8     0     0     2    14     4
 7         2  2013 0.000     3     4     0     0     0     0     0     0     0
 8         2  2016 0.000     3     1     0     0     0     0     0     0     0
 9         2  2017 1.000     2     1     0     1     0     0     0     1     0
10        69  2006 0.200    10    15     0     3     0     0     0     3     3
# … with 1,383 more rows, and 15 more variables: SB <int>, CS <int>, BB <int>,
#   HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

In [6]:
# 열의 이름을 바꿔서 가져올 수 도 있다. 
DF %>% select(., 이름 = batter_name, 팀 = team) %>% show()

# A tibble: 1,393 x 2
   이름     팀
   <chr>    <chr>
 1 가르시아 LG
 2 강경학   한화
 3 강경학   한화
 4 강경학   한화
 5 강경학   한화
 6 강경학   한화
 7 강구성   NC
 8 강구성   NC
 9 강구성   NC
10 김태완   한화
# … with 1,383 more rows

* filter --> `Extract rows that meet logical
criteria`

In [7]:
# base R
# team이 한화인 행 값만 가져와라
DF[DF$team == "한화", ] %>% show()

# A tibble: 131 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 2         1 강경학       2014 한화  -         4     0     2     0     0     0
 3         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 4         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 5         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 6        69 김태완       2006 한화  0.200    10    15     0     3     0     0
 7        69 김태완       2007 한화  0.318     8    22     4     7     3     0
 8        69 김태완       2008 한화  0.375    10    24     3     9     1     0
 9        69 김태완       2009 한화  0.320    10    25     5     8     3     0
10        69 김태완       2010 한화  0.400     2     5     2     2     0     1
# … with 121 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [8]:
# dplyr filter
# filter는 조건에 따라 행을 추출해준다. filter(사용할df, 조건)
DF %>% filter(., team == "한화") %>% show()

# A tibble: 131 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 2         1 강경학       2014 한화  -         4     0     2     0     0     0
 3         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 4         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 5         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 6        69 김태완       2006 한화  0.200    10    15     0     3     0     0
 7        69 김태완       2007 한화  0.318     8    22     4     7     3     0
 8        69 김태완       2008 한화  0.375    10    24     3     9     1     0
 9        69 김태완       2009 한화  0.320    10    25     5     8     3     0
10        69 김태완       2010 한화  0.400     2     5     2     2     0     1
# … with 121 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [10]:
# base R
DF[DF$team == "한화" & DF$G >= 5, c("team","batter_name", "G", "AB")] %>% show()

# A tibble: 104 x 4
   team  batter_name     G    AB
   <chr> <chr>       <int> <int>
 1 한화  강경학         10    23
 2 한화  강경학         14    32
 3 한화  강경학         11    36
 4 한화  김태완         10    15
 5 한화  김태완          8    22
 6 한화  김태완         10    24
 7 한화  김태완         10    25
 8 한화  김태완          9    28
 9 한화  김태완         10    16
10 한화  강상원          6     0
# … with 94 more rows

In [11]:
DF %>% filter(., team == "한화" & G >=5) %>% 
 select(., team, batter_name, G, AB) %>% show()

# A tibble: 104 x 4
   team  batter_name     G    AB
   <chr> <chr>       <int> <int>
 1 한화  강경학         10    23
 2 한화  강경학         14    32
 3 한화  강경학         11    36
 4 한화  김태완         10    15
 5 한화  김태완          8    22
 6 한화  김태완         10    24
 7 한화  김태완         10    25
 8 한화  김태완          9    28
 9 한화  김태완         10    16
10 한화  강상원          6     0
# … with 94 more rows


* groupby, summarise

``https://dplyr.tidyverse.org/reference/group_by.html``

``https://datascienceschool.net/view-notebook/e288a67ff8f9425b8cd511c7078a7b1b/``

![대체 텍스트](https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F9978503F5B8264490F))

In [40]:
# 그룹연산(group_by) => 보통 summarize함수와 함께 이용되어, 그룹별로 함수연산을 가능하게 해준다.
# 1단계 : splite(원하는 그룹을 생성) =>
# 2단계 : apply(각 그룹별로 함수 적용) => 
# 3단계 : combine(각 그룹별로 계산된 value로 지정한 데이터가 생성된다.)

# team별로 그룹화 된다.
DF %>% group_by(team) %>% show()

# A tibble: 1,393 x 29
# Groups:   team [13]
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 3         1 강경학       2014 한화  -         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0.000     3     4     0     0     0     0
 8         2 강구성       2016 NC    0.000     3     1     0     0     0     0
 9         2 강구성       2017 NC    1.000     2     1     0     1     0     0
10        69 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [41]:
# 팀별로 G,AB,R 의 연산이 진행된다. 
DF %>% group_by(team) %>% summarise(., G_AVG = mean(G), AB_A = mean(AB), R_SUM = sum(R)) %>% show()

`summarise()` ungrouping output (override with `.groups` argument)

# A tibble: 13 x 4
   team     G_AVG  AB_A R_SUM
   <chr>    <dbl> <dbl> <int>
 1 KIA       7.87  16.8   321
 2 KT        7.63  16.3   143
 3 LG        8.74  20.3   500
 4 NC        8.49  17     195
 5 SK        8.37  19.9   426
 6 넥센      9.10  19.0   315
 7 두산     10.7   22.1   601
 8 롯데      8.21  17.7   424
 9 삼성      8.79  20.1   416
10 우리      7.33  17.3    10
11 한화      7.76  18.2   335
12 현대     10.1   25.3    42
13 히어로즈  8.2   15.6     5

In [42]:
DF %>% group_by(team, batter_name) %>% summarise(., G_AVG = mean(G), AB_AVG = mean(AB), R_AVG = mean(R))

`summarise()` regrouping output by 'team' (override with `.groups` argument)

    team     batter_name G_AVG     AB_AVG    R_AVG
1   KIA      강한울       7.500000 19.500000  3.5000000
2   KIA      김민식       7.500000 12.000000  1.5000000
3   KIA      김선빈      10.000000 22.333333  3.2222222
4   KIA      김주찬       8.000000 19.000000  2.5000000
5   KIA      김주형       7.727273 17.545455  1.9090909
6   KIA      나지완       9.900000 27.700000  3.9000000
7   KIA      노수광       2.500000  3.000000  0.0000000
8   KIA      박준태      12.000000 18.500000  3.5000000
9   KIA      백용환       6.600000 11.800000  1.4000000
10  KIA      버나디나     6.500000 17.500000  3.5000000
11  KIA      서동욱       6.333333 10.166667  1.5000000
12  KIA      신범수       5.500000  9.500000  1.0000000
13  KIA      신종길       8.833333 21.833333  4.0000000
14  KIA      안치홍       8.375000 24.625000  2.7500000
15  KIA      유민상       2.000000  3.000000  0.0000000
16  KIA      유재신       5.000000  3.000000  2.0000000
17  KIA      윤정우      12.500000 19.000000  4.0000000
18  KIA      이대형      11.000000 28.000000 11.0000000
19  KIA      이명기       7.500000 21.500000  2.5000000
20  KIA      이범호       7.000000 15.500000  1.5000000
21  KIA      이성우       7.571429  9.142857  1.2857143
22  KIA      이영욱       5.000000  7.000000  3.0000000
23  KIA      이용규       7.555556 24.888889  3.0000000
24  KIA      이인행       9.000000 15.000000  1.0000000
25  KIA      이준호       7.000000  7.750000  1.5000000
26  KIA      이호신       9.200000  9.200000  2.2000000
27  KIA      정성훈       8.500000 18.500000  3.5000000
28  KIA      최원준       6.000000 13.000000  1.6666667
29  KIA      최형우       5.500000 14.000000  3.0000000
30  KIA      한승택       5.666667  6.000000  0.6666667
⋮   ⋮        ⋮           ⋮         ⋮         ⋮
307 한화     오선진       7.000000 12.222222 1.3333333
308 한화     이대수       9.500000 24.500000 3.5000000
309 한화     이동훈       6.666667  4.000000 2.6666667
310 한화     이범호       9.625000 29.000000 4.7500000
311 한화     이성열       8.750000 20.250000 2.7500000
312 한화     이용규       7.500000 22.000000 4.0000000
313 한화     이준수       2.000000  0.500000 0.0000000
314 한화     장민석      12.000000 37.000000 6.0000000
315 한화     장진혁       3.000000  2.000000 0.0000000
316 한화     정경운       6.000000  7.000000 1.0000000
317 한화     정근우       9.000000 28.666667 3.0000000
318 한화     정범모       6.000000  8.000000 0.6666667
319 한화     지성준       8.000000 17.000000 2.0000000
320 한화     최윤석       5.333333  7.666667 1.0000000
321 한화     최재훈       8.000000 15.000000 3.0000000
322 한화     최진행       8.153846 22.230769 2.1538462
323 한화     하주석       6.200000 14.800000 1.8000000
324 한화     한승택      10.000000 15.000000 0.0000000
325 한화     허도환       7.500000 10.000000 1.5000000
326 한화     호잉         6.000000 16.000000 3.0000000
327 현대     유한준      11.000000 26.666667 2.0000000
328 현대     이택근      10.600000 24.400000 2.2000000
329 현대     정성훈      11.600000 38.000000 3.4000000
330 현대     조평호      10.000000 15.000000 0.0000000
331 현대     지석훈       6.750000 12.250000 2.0000000
332 히어로즈 오재일      12.000000 33.000000 1.0000000
333 히어로즈 유재신       8.000000  4.000000 0.0000000
334 히어로즈 이택근       1.000000  3.000000 0.0000000
335 히어로즈 장영석       9.000000  7.000000 0.0000000
336 히어로즈 황재균      11.000000 31.000000 4.0000000

##2. dplyr(``arrange,rename,mutate,sample_frac/n ``)

* ``arrange``
  1. 지정한 열을 기준으로 작은 값으로부터 큰 값의 순(오름차순)으로 데이터를 정렬.    역순 정렬(내림차순) ``desc()``

In [43]:
DF %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 3         1 강경학       2014 한화  -         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0.000     3     4     0     0     0     0
 8         2 강구성       2016 NC    0.000     3     1     0     0     0     0
 9         2 강구성       2017 NC    1.000     2     1     0     1     0     0
10        69 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [44]:
# year기준으로 오름차순 정렬된다.
DF %>% arrange(year)

     batter_id batter_name year team avg   G   AB  R  H  2B ⋯ GDP SLG   OBP   E
1     62       김주찬      2002 롯데 0.107  9  28  2   3 0  ⋯ 1   0.107 0.167 1
2     67       김태균      2002 한화 0.235 11  34  7   8 5  ⋯ 0   0.471 0.333 2
3    109       박기혁      2002 롯데 0.000  8   5  1   0 0  ⋯ 0   0.000 0.000 0
4    119       박용택      2002 LG   -      1   0  0   0 0  ⋯ 0      NA    NA 0
5    131       박한이      2002 삼성 0.319 11  47  7  15 3  ⋯ 1   0.447 0.360 0
6    202       이대호      2002 롯데 0.359 11  39  4  14 3  ⋯ 1   0.513 0.375 1
7    207       이범호      2002 한화 0.167  7   6  2   1 1  ⋯ 0   0.333 0.167 0
8    283       조동찬      2002 삼성 0.000  4   1  0   0 0  ⋯ 0   0.000 0.000 0
9    234       이진영      2002 SK   0.297 11  37  5  11 2  ⋯ 0   0.514 0.381 0
10   269       정상호      2002 SK   0.158 13  19  3   3 1  ⋯ 0   0.368 0.304 5
11   270       정성훈      2002 KIA  0.267 12  30  5   8 4  ⋯ 1   0.400 0.258 0
12   319       최형우      2002 삼성 0.000  5   5  1   0 0  ⋯ 0   0.000 0.167 0
13    24       김강민      2003 SK   -      3   0  1   0 0  ⋯ 0      NA    NA 0
14    62       김주찬      2003 롯데 0.175 11  40  8   7 0  ⋯ 0   0.325 0.233 0
15    67       김태균      2003 한화 0.115 10  26  2   3 1  ⋯ 0   0.154 0.303 1
16    83       나주환      2003 두산 0.111 11   9  3   1 0  ⋯ 1   0.111 0.200 0
17   105       박경수      2003 LG   0.067 12  15  1   1 0  ⋯ 0   0.067 0.222 0
18   109       박기혁      2003 롯데 0.190 13  42  2   8 1  ⋯ 1   0.262 0.277 1
19   119       박용택      2003 LG   0.256 13  43  7  11 3  ⋯ 0   0.395 0.313 0
20   131       박한이      2003 삼성 0.212 12  33  3   7 1  ⋯ 0   0.242 0.308 1
21   145       서동욱      2003 KIA  0.300  9  20  2   6 1  ⋯ 0   0.450 0.300 0
22   163       신종길      2003 롯데 0.250  7   8  0   2 1  ⋯ 0   0.375 0.250 0
23   201       이대형      2003 LG   0.167 13   6  4   1 1  ⋯ 0   0.333 0.286 0
24   207       이범호      2003 한화 0.297 13  37  7  11 2  ⋯ 0   0.568 0.438 3
25   211       이성열      2003 LG   0.000  2   1  0   0 0  ⋯ 0   0.000 0.000 0
26   283       조동찬      2003 삼성 0.182  7  11  1   2 1  ⋯ 0   0.545 0.182 1
27   234       이진영      2003 SK   0.171 13  41  3   7 1  ⋯ 1   0.268 0.209 0
28   238       이택근      2003 현대 0.192 12  26  3   5 1  ⋯ 0   0.231 0.276 1
29   269       정상호      2003 SK   0.150 12  20  1   3 0  ⋯ 1   0.150 0.227 2
30   270       정성훈      2003 현대 0.068 13  44  2   3 1  ⋯ 1   0.091 0.146 2
⋮    ⋮         ⋮           ⋮    ⋮    ⋮     ⋮   ⋮   ⋮  ⋮  ⋮  ⋱ ⋮   ⋮     ⋮     ⋮
1364 282       정훈        2018 롯데 0.167   5   6  1  1 0  ⋯ 0   0.167 0.500 0
1365 286       조수행      2018 두산 0.279 119 183 35 51 6  ⋯ 4   0.372 0.311 1
1366 292       조홍석      2018 롯데 0.000   3   1  2  0 0  ⋯ 0   0.000 0.500 0
1367 293       주효상      2018 넥센 0.375   5   8  1  3 2  ⋯ 1   0.625 0.375 0
1368 294       지석훈      2018 NC   0.000   3   6  0  0 0  ⋯ 0   0.000 0.000 0
1369 295       지성준      2018 한화 0.125   4   8  1  1 0  ⋯ 1   0.125 0.125 0
1370 300       채은성      2018 LG   0.357   7  28  5 10 0  ⋯ 1   0.643 0.379 0
1371 301       채태인      2018 롯데 0.286   4   7  2  2 0  ⋯ 0   0.286 0.400 0
1372 302       초이스      2018 넥센 0.278   6  18  4  5 1  ⋯ 0   0.667 0.381 0
1373 307       최승준      2018 SK   0.273   6  11  1  3 0  ⋯ 0   0.273 0.500 0
1374 308       최영진      2018 삼성 0.429   6  14  1  6 1  ⋯ 0   0.500 0.400 0
1375 310       최원준      2018 KIA  0.167   3   6  1  1 0  ⋯ 0   0.167 0.167 0
1376 311       최윤석      2018 한화 0.000   2   1  0  0 0  ⋯ 0   0.000 0.500 0
1377 312       최재훈      2018 한화 0.200   5  10  0  2 0  ⋯ 0   0.200 0.200 1
1378 313       최정        2018 SK   0.125   6  16  3  2 0  ⋯ 0   0.125 0.333 2
1379 315       최주환      2018 두산 0.583   6  12  4  7 1  ⋯ 0   0.917 0.643 0
1380 316       최준석      2018 NC   0.400   5   5  0  2 0  ⋯ 0   0.400 0.500 0
1381 317       최진행      2018 한화 0.105   6  19  1  2 0  ⋯ 0   0.105 0.227 1
1382 318       최항        2018 SK   0.111   6   9  3  1 0  ⋯ 0   0.444 0.250 0
1383 319       최형우      2018 KIA  0.500   4  14  3  7 1  ⋯ 0   1.000 0.500 0
1384 324       하주석      2018 한화 0.222   6  18  3  4 0  ⋯ 0   0.556 0.300 2
1385 326       한동민      2018 SK   0.316   6  19  2  6 2  ⋯ 1   0.579 0.350 0
1386 327       한동희      2018 롯데 0.375   5  16  4  6 2  ⋯ 0   0.500 0.375 0
1387 329       한승택      2018 KIA  0.000   4   1  0  0 0  ⋯ 0   0.000 0.667 0
1388 331       허경민      2018 두산 0.600   6  15  3  9 3  ⋯ 0   0.800 0.684 0
1389 332       허도환      2018 SK   0.000   4   4  0  0 0  ⋯ 1   0.000 0.000 0
1390 334       호잉        2018 한화 0.250   6  16  3  4 0  ⋯ 0   0.688 0.278 0
1391 337       홍재호      2018 KIA  0.333   1   3  0  1 0  ⋯ 0   0.333 0.333 0
1392 341       황윤호      2018 KIA  0.000   5   2  1  0 0  ⋯ 0   0.000 0.000 0
1393 342       황재균      2018 KT   0.250   6  16  3  4 1  ⋯ 0   0.500 0.333 3
     height/weight year_born        position
1    183cm/94kg    1981년 03월 25일 내야수(우투우타)
2    185cm/110kg   1982년 05월 29일 내야수(우투우타)
3    179cm/77kg    1981년 06월 04일 내야수(우투우타)
4    185cm/90kg    1979년 04월 21일 외야수(우투좌타)
5    182cm/91kg    1979년 01월 28일 외야수(좌투좌타)
6    194cm/130kg   1982년 06월 21일 내야수(우투우타)
7    183cm/96kg    1981년 11월 25일 내야수(우투우타)
8    180cm/80kg    1983년 07월 27일 내야수(우투우타)
9    185cm/90kg    1980년 06월 15일 외야수(좌투좌타)
10   187cm/100kg   1982년 12월 24일 포수(우투우타)
11   182cm/83kg    1980년 06월 27일 내야수(우투우타)
12   180cm/106kg   1983년 12월 16일 외야수(우투좌타)
13   182cm/85kg    1982년 09월 13일 외야수(우투우타)
14   183cm/94kg    1981년 03월 25일 내야수(우투우타)
15   185cm/110kg   1982년 05월 29일 내야수(우투우타)
16   180cm/84kg    1984년 06월 14일 내야수(우투우타)
17   178cm/80kg    1984년 03월 31일 내야수(우투우타)
18   179cm/77kg    1981년 06월 04일 내야수(우투우타)
19   185cm/90kg    1979년 04월 21일 외야수(우투좌타)
20   182cm/91kg    1979년 01월 28일 외야수(좌투좌타)
21   188cm/99kg    1984년 03월 21일 내야수(우투좌타)
22   183cm/87kg    1983년 12월 31일 외야수(우투좌타)
23   184cm/78kg    1983년 07월 19일 외야수(좌투좌타)
24   183cm/96kg    1981년 11월 25일 내야수(우투우타)
25   185cm/102kg   1984년 07월 13일 외야수(우투좌타)
26   180cm/80kg    1983년 07월 27일 내야수(우투우타)
27   185cm/90kg    1980년 06월 15일 외야수(좌투좌타)
28   183cm/89kg    1980년 07월 10일 외야수(우투우타)
29   187cm/100kg   1982년 12월 24일 포수(우투우타)
30   182cm/83kg    1980년 06월 27일 내야수(우투우타)
⋮    ⋮             ⋮                ⋮
1364 180cm/85kg    1987년 07월 18일 내야수(우투우타)
1365 178cm/73kg    1993년 08월 30일 외야수(우투좌타)
1366 175cm/78kg    1990년 02월 23일 외야수(우투좌타)
1367 182cm/85kg    1997년 11월 11일 포수(우투좌타)
1368 181cm/74kg    1984년 03월 17일 내야수(우투우타)
1369 180cm/92kg    1994년 04월 10일 포수(우투우타)
1370 186cm/92kg    1990년 02월 06일 외야수(우투우타)
1371 187cm/94kg    1982년 10월 11일 내야수(좌투좌타)
1372 183cm/98kg    1989년 11월 10일 외야수(우투우타)
1373 188cm/88kg    1988년 01월 11일 내야수(우투우타)
1374 185cm/87kg    1988년 05월 10일 내야수(우투우타)
1375 178cm/85kg    1997년 03월 23일 내야수(우투좌타)
1376 175cm/75kg    1987년 03월 28일 내야수(우투우타)
1377 178cm/76kg    1989년 08월 27일 포수(우투우타)
1378 180cm/90kg    1987년 02월 28일 내야수(우투우타)
1379 178cm/73kg    1988년 02월 28일 내야수(우투좌타)
1380 187cm/130kg   1983년 02월 15일 내야수(우투우타)
1381 188cm/100kg   1985년 08월 17일 외야수(우투우타)
1382 183cm/88kg    1994년 01월 03일 내야수(우투좌타)
1383 180cm/106kg   1983년 12월 16일 외야수(우투좌타)
1384 184cm/84kg    1994년 02월 25일 내야수(우투좌타)
1385 190cm/95kg    1989년 08월 09일 외야수(우투좌타)
1386 181cm/99kg    1999년 06월 01일 내야수(우투우타)
1387 174cm/83kg    1994년 06월 21일 포수(우투우타)
1388 176cm/69kg    1990년 08월 26일 내야수(우투우타)
1389 176cm/87kg    1984년 07월 31일 포수(우투우타)
1390 190cm/92kg    1989년 05월 18일 외야수(우투좌타)
1391 180cm/79kg    1987년 05월 10일 내야수(우투우타)
1392 177cm/78kg    1993년 09월 22일 내야수(우투우타)
1393 183cm/96kg    1987년 07월 28일 내야수(우투우타)
     career
1    충암초(장충리틀)-충암중-충암고-삼성-롯데
2    천안남산초-천안북중-북일고-(대전대)
3    대구수창초-성광중-대구상고-롯데
4    고명초-휘문중-휘문고-고려대
5    초량초-부산중-부산고-동국대
6    부산수영초-대동중-경남고-(영남사이버대)-롯데-시애틀
7    대구수창초-경운중-대구고-한화
8    공주중동초-공주중-공주고
9    군산초-군산남중-군산상고-쌍방울-SK-LG
10   석천초-동인천중-동산고-SK-상무-SK
11   송정동초-무등중-광주제일고-해태-KIA-현대-우리-LG
12   진북초-전주동중-전주고-삼성-경찰-삼성
13   본리초-대구중-경북고
14   충암초(장충리틀)-충암중-충암고-삼성-롯데
15   천안남산초-천안북중-북일고-(대전대)
16   성동초(월드리틀)-휘문중-북일고-두산
17   미성초-성남중-성남고-LG
18   대구수창초-성광중-대구상고-롯데
19   고명초-휘문중-휘문고-고려대
20   초량초-부산중-부산고-동국대
21   서울학동초-휘문중-경기고-(전남과학대)-KIA-상무-LG-넥센
22   광주대성초-무등중-광주제일고-(동신대)-롯데-한화
23   광주서림초-무등중-광주제일고-LG-KIA
24   대구수창초-경운중-대구고-한화
25   순천북초-이수중-효천고-LG-두산-넥센
26   공주중동초-공주중-공주고
27   군산초-군산남중-군산상고-쌍방울-SK-LG
28   배정초-대천중-경남상고-고려대-현대-우리-히어로즈-LG
29   석천초-동인천중-동산고-SK-상무-SK
30   송정동초-무등중-광주제일고-해태-KIA-현대-우리-LG
⋮    ⋮
1364 양덕초-마산동중-용마고
1365 노암초-경포중-강릉고-건국대
1366 광주화정초-영남중-배명고-원광대
1367 역북초-강남중-서울고
1368 가동초-휘문중-휘문고-현대-우리-상무-넥센
1369 청주우암초-청주중-청주고
1370 순천북초-순천이수중-효천고
1371 대신초-대동중-부산상고-삼성-넥센
1372 미국 Texas at Arlington(대)
1373 인천서림초-동산중-동산고-LG
1374 영랑초-설악중-속초상고-한일장신대-LG-두산
1375 연현초-서울경원중-서울고
1376 화곡초-덕수중-성남고-홍익대-SK-한화-경찰
1377 화곡초-덕수중-덕수고-(방송통신대)-두산-경찰-두산
1378 대일초-평촌중-유신고
1379 학강초-광주동성중-광주동성고-두산-상무
1380 칠성초-포철중-포철공고-(영남사이버대)-롯데-두산-롯데
1381 서울동원초-청량중-덕수정보고-(우송대)-한화-경찰
1382 대일초-매송중-유신고
1383 진북초-전주동중-전주고-삼성-경찰-삼성
1384 강남초-덕수중-신일고-한화-상무
1385 중앙초(해운대리틀)-대천중-경남고-경성대-SK-상무
1386 대연초-경남중-경남고
1387 잠전초(남양주리틀)-잠신중-덕수고-한화-경찰
1388 송정동초-충장중-광주제일고-두산-경찰
1389 서울학동초-이수중-서울고-단국대-두산-넥센-한화
1390 미국 Fort Loramie(고)-미국 Toledo(대)
1391 부산대연초-대천중-부산고-고려대-KIA-경찰
1392 수주초-신월중-장충고-NC-경찰-NC
1393 사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코
     starting_salary OPS
1    18000만원       0.274
2    16000만원       0.804
3    8000만원        0.000
4    30000만원          NA
5    30000만원       0.807
6    21000만원       0.888
7    11000만원       0.500
8    12000만원       0.000
9    10000만원       0.895
10   45000만원       0.672
11   15000만원       0.658
12   5000만원        0.167
13   11000만원          NA
14   18000만원       0.558
15   16000만원       0.457
16   10000만원       0.311
17   43000만원       0.289
18   8000만원        0.539
19   30000만원       0.708
20   30000만원       0.550
21   18000만원       0.750
22   5000만원        0.625
23   10000만원       0.619
24   11000만원       1.006
25   27000만원       0.000
26   12000만원       0.727
27   10000만원       0.477
28   25000만원       0.507
29   45000만원       0.377
30   15000만원       0.237
⋮    ⋮               ⋮
1364                 0.667
1365 14000만원       0.683
1366 7000만원        0.500
1367 20000만원       1.000
1368 25000만원       0.000
1369                 0.250
1370                 1.022
1371 10000만원       0.686
1372                 1.048
1373 5000만원        0.773
1374                 0.900
1375 15000만원       0.334
1376 6000만원        0.500
1377                 0.400
1378 30000만원       0.458
1379 6000만원        1.560
1380 3000만원        0.900
1381 10000만원       0.332
1382                 0.694
1383 5000만원        1.500
1384 30000만원       0.856
1385 3000만원        0.929
1386 18000만원       0.875
1387 9000만원        0.667
1388 13000만원       1.484
1389                 0.000
1390 300000달러      0.966
1391 4000만원        0.666
1392 3000만원        0.000
1393 6000만원        0.833

In [45]:
# year가 1순위, team이 2순위(내림차순)로 정렬이 진행된다. 
DF %>% arrange(year, desc(team)) %>% show() # year는 ascending(오름차순), team은 descending(내림차순)

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1        67 김태균       2002 한화  0.235    11    34     7     8     5     0
 2       207 이범호       2002 한화  0.167     7     6     2     1     1     0
 3       131 박한이       2002 삼성  0.319    11    47     7    15     3     0
 4       283 조동찬       2002 삼성  0.000     4     1     0     0     0     0
 5       319 최형우       2002 삼성  0.000     5     5     1     0     0     0
 6        62 김주찬       2002 롯데  0.107     9    28     2     3     0     0
 7       109 박기혁       2002 롯데  0.000     8     5     1     0     0     0
 8       202 이대호       2002 롯데  0.359    11    39     4    14     3     0
 9       234 이진영       2002 SK    0.297    11    37     5    11     2     0
10       269 정상호       2002 SK    0.158    13    19     3     3     1     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [46]:
DF %>% arrange(team, desc(avg)) %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1       145 서동욱       2004 KIA   1.000     1     1     1     1     0     0
 2       217 이용규       2009 KIA   1.000     1     2     0     2     0     0
 3        12 강한울       2015 KIA   0.600     3    10     2     6     0     1
 4       139 백용환       2018 KIA   0.600     3     5     1     3     1     0
 5       243 이호신       2009 KIA   0.500     9     6     1     3     0     0
 6       163 신종길       2017 KIA   0.500     1     2     1     1     0     0
 7       169 안치홍       2017 KIA   0.500     4    10     1     5     1     0
 8       232 이준호       2013 KIA   0.500     6     8     2     4     1     0
 9       319 최형우       2018 KIA   0.500     4    14     3     7     1     0
10       160 신범수       2017 KIA   0.471     9    17     2     8     2     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

* ``rename`` 
 1. 특정 열의 이름 변경
 2. rename(new_name = old_name)

In [47]:

DF %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 3         1 강경학       2014 한화  -         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0.000     3     4     0     0     0     0
 8         2 강구성       2016 NC    0.000     3     1     0     0     0     0
 9         2 강구성       2017 NC    1.000     2     1     0     1     0     0
10        69 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [48]:
# 특정열의 이름을 바꿔준다. 
# batter_id의 이름을 타자_고유_ID로 바꿔준다.

DF %>% rename(타자_고유_ID = batter_id, 타자_이름 = batter_name, 년도 = year) %>% show()

# A tibble: 1,393 x 29
   타자_고유_ID 타자_이름  년도 team  avg       G    AB     R     H  `2B`  `3B`
          <int> <chr>     <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1            0 가르시아   2018 LG    0.350     7    20     1     7     1     0
 2            1 강경학     2011 한화  0.000     4     2     2     0     0     0
 3            1 강경학     2014 한화  -         4     0     2     0     0     0
 4            1 강경학     2015 한화  0.130    10    23     3     3     0     0
 5            1 강경학     2016 한화  0.188    14    32     4     6     1     1
 6            1 강경학     2017 한화  0.222    11    36    10     8     0     0
 7            2 강구성     2013 NC    0.000     3     4     0     0     0     0
 8            2 강구성     2016 NC    0.000     3     1     0     0     0     0
 9            2 강구성     2017 NC    1.000     2     1     0     1     0     0
10           69 김태완     2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

* ``mutate / transmute``
 1. mutate : 기존 dataframe에서 기존 열 변형 또는 새로운 열 생성
 2. transmute : 기존 dataframe에서 기존 열 변형 또는 새로운 열을 생성하고, 해당 열 제외하고 모두 제거
 3. mutate(새로운 열 = 기존 열의 조합한 수식, ...)

In [49]:
DF %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 3         1 강경학       2014 한화  -         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0.000     3     4     0     0     0     0
 8         2 강구성       2016 NC    0.000     3     1     0     0     0     0
 9         2 강구성       2017 NC    1.000     2     1     0     1     0     0
10        69 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [50]:
# mutate = 기존 열 또는 새로운 열을 생성,변형하게 해준다. 
# batter_id 의 값에다가 각각 100을 더해준 열이 생성된다. 
DF %>% mutate(batter_id = batter_id + 100) %>% show() # 기존 열의 변형

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <dbl> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1       100 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2       101 강경학       2011 한화  0.000     4     2     2     0     0     0
 3       101 강경학       2014 한화  -         4     0     2     0     0     0
 4       101 강경학       2015 한화  0.130    10    23     3     3     0     0
 5       101 강경학       2016 한화  0.188    14    32     4     6     1     1
 6       101 강경학       2017 한화  0.222    11    36    10     8     0     0
 7       102 강구성       2013 NC    0.000     3     4     0     0     0     0
 8       102 강구성       2016 NC    0.000     3     1     0     0     0     0
 9       102 강구성       2017 NC    1.000     2     1     0     1     0     0
10       169 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [67]:
# paste = "_"를 기준으로 batter_id과 batter_name을 합쳐준다. 
# 합친것중 batter_name을 제거한다. 
DF %>% mutate(batter_id = paste(batter_id, batter_name, sep = "_")) %>% select(-batter_name)%>% show() # 기존 열의 변형 2
# DF %>% mutate(batter_id = paste(batter_id, batter_name, sep = "_")) %>% show() # 기존 열의 변형 2

# A tibble: 1,393 x 28
   batter_id  year team  avg       G    AB     R     H  `2B`  `3B`    HR    TB
   <chr>     <int> <chr> <chr> <int> <int> <int> <int> <int> <int> <int> <int>
 1 0_가르시아…  2018 LG    0.350     7    20     1     7     1     0     1    11
 2 1_강경학   2011 한화  0.000     4     2     2     0     0     0     0     0
 3 1_강경학   2014 한화  -         4     0     2     0     0     0     0     0
 4 1_강경학   2015 한화  0.130    10    23     3     3     0     0     0     3
 5 1_강경학   2016 한화  0.188    14    32     4     6     1     1     0     9
 6 1_강경학   2017 한화  0.222    11    36    10     8     0     0     2    14
 7 2_강구성   2013 NC    0.000     3     4     0     0     0     0     0     0
 8 2_강구성   2016 NC    0.000     3     1     0     0     0     0     0     0
 9 2_강구성   2017 NC    1.000     2     1     0     1     0     0     0     1
10 69_김태완  2006 한화  0.200    10    15     0     3     0     0     0     3
# … with 1,383 more rows, and 16 more variables: RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>
# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
   <chr>     <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1 0_가르시아… 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2 1_강경학  강경학       2011 한화  0.000     4     2     2     0     0     0
 3 1_강경학  강경학       2014 한화  -         4     0     2     0     0     0
 4 1_강경학  강경학       2015 한화  0.130    10    23     3     3     0     0
 5 1_강경학  강경학       2016 한화  0.188    14    32     4     6     1     1
 6 1_강경학  강경학       2017 한화  0.222    11    36    10     8     0     0
 7 2_강구성  강구성       2013 NC    0.000     3     4     0     0     0     0
 8 2_강구성  강구성       2016 NC    0.000     3     1     0     0     0     0
 9 2_강구성  강구성       2017 NC    1.000     2     1     0     1     0     0
10 69_김태완 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [52]:
# mutate를 이용해서 새로운 열인 G_R을 생성한다. 
DF %>% mutate(G_R = R / G) # 경기 당(G) 득점(R), 추가되는 열은 끝으로 이동

     batter_id batter_name year team     avg   G  AB R  H  2B ⋯ SLG   OBP   E
1     0        가르시아    2018 LG       0.350  7 20  1  7 1  ⋯ 0.550 0.409 1
2     1        강경학      2011 한화     0.000  4  2  2  0 0  ⋯ 0.000 0.500 0
3     1        강경학      2014 한화     -      4  0  2  0 0  ⋯    NA    NA 0
4     1        강경학      2015 한화     0.130 10 23  3  3 0  ⋯ 0.130 0.286 2
5     1        강경학      2016 한화     0.188 14 32  4  6 1  ⋯ 0.281 0.212 0
6     1        강경학      2017 한화     0.222 11 36 10  8 0  ⋯ 0.389 0.282 1
7     2        강구성      2013 NC       0.000  3  4  0  0 0  ⋯ 0.000 0.000 0
8     2        강구성      2016 NC       0.000  3  1  0  0 0  ⋯ 0.000 0.500 0
9     2        강구성      2017 NC       1.000  2  1  0  1 0  ⋯ 1.000 1.000 0
10   69        김태완      2006 한화     0.200 10 15  0  3 0  ⋯ 0.200 0.278 0
11   69        김태완      2007 한화     0.318  8 22  4  7 3  ⋯ 0.864 0.423 0
12   69        김태완      2008 한화     0.375 10 24  3  9 1  ⋯ 0.542 0.444 0
13   69        김태완      2009 한화     0.320 10 25  5  8 3  ⋯ 0.560 0.452 1
14   69        김태완      2010 한화     0.400  2  5  2  2 0  ⋯ 0.800 0.400 1
15   69        김태완      2013 한화     0.250  9 28  3  7 0  ⋯ 0.250 0.417 0
16   69        김태완      2014 한화     0.125 10 16  1  2 0  ⋯ 0.125 0.263 0
17   69        김태완      2016 한화     0.000  3  3  0  0 0  ⋯ 0.000 0.250 0
18   69        김태완      2017 넥센     0.370 12 27  2 10 1  ⋯ 0.519 0.364 1
19   69        김태완      2018 넥센     0.375  5  8  2  3 1  ⋯ 0.875 0.500 0
20    3        강민국      2014 NC       0.000  2  1  0  0 0  ⋯ 0.000 0.000 0
21    3        강민국      2015 NC       0.100  9 10  2  1 1  ⋯ 0.200 0.100 0
22    3        강민국      2016 NC       0.316 16 19  2  6 2  ⋯ 0.526 0.381 0
23    4        강민호      2005 롯데     0.250 11 20  2  5 4  ⋯ 0.450 0.250 0
24    4        강민호      2006 롯데     0.381  9 21  6  8 1  ⋯ 0.810 0.391 0
25    4        강민호      2007 롯데     0.136 10 22  2  3 0  ⋯ 0.136 0.174 0
26    4        강민호      2008 롯데     0.200  5 10  0  2 1  ⋯ 0.300 0.273 0
27    4        강민호      2009 롯데     0.167  2  6  0  1 0  ⋯ 0.167 0.167 0
28    4        강민호      2010 롯데     0.261 10 23  8  6 1  ⋯ 0.826 0.414 0
29    4        강민호      2011 롯데     0.353 13 34  4 12 3  ⋯ 0.618 0.400 0
30    4        강민호      2012 롯데     0.273  5 11  2  3 0  ⋯ 0.273 0.273 0
⋮    ⋮         ⋮           ⋮    ⋮        ⋮     ⋮  ⋮  ⋮  ⋮  ⋮  ⋱ ⋮     ⋮     ⋮
1364 331       허경민      2017 두산     0.250 11 32 4   8 0  ⋯ 0.438 0.314 0
1365 331       허경민      2018 두산     0.600  6 15 3   9 3  ⋯ 0.800 0.684 0
1366 332       허도환      2012 넥센     0.200  9 15 0   3 0  ⋯ 0.200 0.294 0
1367 332       허도환      2013 넥센     0.000  4  8 0   0 0  ⋯ 0.000 0.000 0
1368 332       허도환      2014 넥센     0.150 12 20 2   3 0  ⋯ 0.300 0.227 2
1369 332       허도환      2016 한화     0.250  8 12 2   3 2  ⋯ 0.417 0.333 0
1370 332       허도환      2017 한화     0.375  7  8 1   3 2  ⋯ 0.625 0.375 1
1371 332       허도환      2018 SK       0.000  4  4 0   0 0  ⋯ 0.000 0.000 0
1372 334       호잉        2018 한화     0.250  6 16 3   4 0  ⋯ 0.688 0.278 0
1373 337       홍재호      2011 KIA      0.111  8  9 1   1 0  ⋯ 0.111 0.111 0
1374 337       홍재호      2012 KIA      0.250 12 24 3   6 0  ⋯ 0.375 0.308 0
1375 337       홍재호      2013 KIA      0.438 11 16 5   7 1  ⋯ 0.625 0.500 1
1376 337       홍재호      2017 KIA      0.231 11 13 3   3 0  ⋯ 0.385 0.286 0
1377 337       홍재호      2018 KIA      0.333  1  3 0   1 0  ⋯ 0.333 0.333 0
1378 338       홍창기      2016 LG       0.200  5  5 0   1 1  ⋯ 0.400 0.429 1
1379 341       황윤호      2015 NC       -      2  0 0   0 0  ⋯    NA    NA 0
1380 341       황윤호      2016 NC       0.000  2  1 0   0 0  ⋯ 0.000 0.000 1
1381 341       황윤호      2017 NC       0.000  8  3 2   0 0  ⋯ 0.000 0.000 0
1382 341       황윤호      2018 KIA      0.000  5  2 1   0 0  ⋯ 0.000 0.000 0
1383 342       황재균      2008 우리     0.179 11 28 0   5 1  ⋯ 0.214 0.179 2
1384 342       황재균      2009 히어로즈 0.194 11 31 4   6 2  ⋯ 0.258 0.242 1
1385 342       황재균      2010 롯데     0.174 12 46 4   8 1  ⋯ 0.304 0.224 2
1386 342       황재균      2011 롯데     0.152 13 33 2   5 1  ⋯ 0.242 0.222 3
1387 342       황재균      2012 롯데     0.154 12 26 2   4 2  ⋯ 0.346 0.258 1
1388 342       황재균      2013 롯데     0.200 10 30 2   6 0  ⋯ 0.300 0.306 3
1389 342       황재균      2014 롯데     0.407 10 27 3  11 2  ⋯ 0.593 0.448 1
1390 342       황재균      2015 롯데     0.333 11 30 8  10 3  ⋯ 0.433 0.389 0
1391 342       황재균      2016 롯데     0.310 16 42 8  13 3  ⋯ 0.429 0.370 1
1392 342       황재균      2018 KT       0.250  6 16 3   4 1  ⋯ 0.500 0.333 3
1393 344       황진수      2014 롯데     0.000  1  1 1   0 0  ⋯ 0.000 0.000 0
     height/weight year_born        position
1    177cm/93kg    1985년 04월 12일 내야수(우투우타)
2    180cm/72kg    1992년 08월 11일 내야수(우투좌타)
3    180cm/72kg    1992년 08월 11일 내야수(우투좌타)
4    180cm/72kg    1992년 08월 11일 내야수(우투좌타)
5    180cm/72kg    1992년 08월 11일 내야수(우투좌타)
6    180cm/72kg    1992년 08월 11일 내야수(우투좌타)
7    180cm/82kg    1993년 06월 09일 외야수(우투좌타)
8    180cm/82kg    1993년 06월 09일 외야수(우투좌타)
9    180cm/82kg    1993년 06월 09일 외야수(우투좌타)
10   189cm/105kg   1984년 01월 27일 내야수(우투우타)
11   189cm/105kg   1984년 01월 27일 내야수(우투우타)
12   189cm/105kg   1984년 01월 27일 내야수(우투우타)
13   189cm/105kg   1984년 01월 27일 내야수(우투우타)
14   189cm/105kg   1984년 01월 27일 내야수(우투우타)
15   189cm/105kg   1984년 01월 27일 내야수(우투우타)
16   189cm/105kg   1984년 01월 27일 내야수(우투우타)
17   189cm/105kg   1984년 01월 27일 내야수(우투우타)
18   189cm/105kg   1984년 01월 27일 내야수(우투우타)
19   189cm/105kg   1984년 01월 27일 내야수(우투우타)
20   176cm/80kg    1992년 01월 10일 내야수(우투우타)
21   176cm/80kg    1992년 01월 10일 내야수(우투우타)
22   176cm/80kg    1992년 01월 10일 내야수(우투우타)
23   185cm/100kg   1985년 08월 18일 포수(우투우타)
24   185cm/100kg   1985년 08월 18일 포수(우투우타)
25   185cm/100kg   1985년 08월 18일 포수(우투우타)
26   185cm/100kg   1985년 08월 18일 포수(우투우타)
27   185cm/100kg   1985년 08월 18일 포수(우투우타)
28   185cm/100kg   1985년 08월 18일 포수(우투우타)
29   185cm/100kg   1985년 08월 18일 포수(우투우타)
30   185cm/100kg   1985년 08월 18일 포수(우투우타)
⋮    ⋮             ⋮                ⋮
1364 176cm/69kg    1990년 08월 26일 내야수(우투우타)
1365 176cm/69kg    1990년 08월 26일 내야수(우투우타)
1366 176cm/87kg    1984년 07월 31일 포수(우투우타)
1367 176cm/87kg    1984년 07월 31일 포수(우투우타)
1368 176cm/87kg    1984년 07월 31일 포수(우투우타)
1369 176cm/87kg    1984년 07월 31일 포수(우투우타)
1370 176cm/87kg    1984년 07월 31일 포수(우투우타)
1371 176cm/87kg    1984년 07월 31일 포수(우투우타)
1372 190cm/92kg    1989년 05월 18일 외야수(우투좌타)
1373 180cm/79kg    1987년 05월 10일 내야수(우투우타)
1374 180cm/79kg    1987년 05월 10일 내야수(우투우타)
1375 180cm/79kg    1987년 05월 10일 내야수(우투우타)
1376 180cm/79kg    1987년 05월 10일 내야수(우투우타)
1377 180cm/79kg    1987년 05월 10일 내야수(우투우타)
1378 189cm/94kg    1993년 11월 21일 외야수(우투좌타)
1379 177cm/78kg    1993년 09월 22일 내야수(우투우타)
1380 177cm/78kg    1993년 09월 22일 내야수(우투우타)
1381 177cm/78kg    1993년 09월 22일 내야수(우투우타)
1382 177cm/78kg    1993년 09월 22일 내야수(우투우타)
1383 183cm/96kg    1987년 07월 28일 내야수(우투우타)
1384 183cm/96kg    1987년 07월 28일 내야수(우투우타)
1385 183cm/96kg    1987년 07월 28일 내야수(우투우타)
1386 183cm/96kg    1987년 07월 28일 내야수(우투우타)
1387 183cm/96kg    1987년 07월 28일 내야수(우투우타)
1388 183cm/96kg    1987년 07월 28일 내야수(우투우타)
1389 183cm/96kg    1987년 07월 28일 내야수(우투우타)
1390 183cm/96kg    1987년 07월 28일 내야수(우투우타)
1391 183cm/96kg    1987년 07월 28일 내야수(우투우타)
1392 183cm/96kg    1987년 07월 28일 내야수(우투우타)
1393 181cm/82kg    1989년 02월 15일 내야수(우투양타)
     career
1    쿠바 Ciego de Avila Maximo Gomez Baez(대)
2    광주대성초-광주동성중-광주동성고
3    광주대성초-광주동성중-광주동성고
4    광주대성초-광주동성중-광주동성고
5    광주대성초-광주동성중-광주동성고
6    광주대성초-광주동성중-광주동성고
7    관산초-부천중-야탑고-NC-상무
8    관산초-부천중-야탑고-NC-상무
9    관산초-부천중-야탑고-NC-상무
10   양목초-신월중-중앙고-성균관대-한화
11   양목초-신월중-중앙고-성균관대-한화
12   양목초-신월중-중앙고-성균관대-한화
13   양목초-신월중-중앙고-성균관대-한화
14   양목초-신월중-중앙고-성균관대-한화
15   양목초-신월중-중앙고-성균관대-한화
16   양목초-신월중-중앙고-성균관대-한화
17   양목초-신월중-중앙고-성균관대-한화
18   양목초-신월중-중앙고-성균관대-한화
19   양목초-신월중-중앙고-성균관대-한화
20   송정동초-충장중-광주제일고-동국대-NC-상무
21   송정동초-충장중-광주제일고-동국대-NC-상무
22   송정동초-충장중-광주제일고-동국대-NC-상무
23   제주신광초-포철중-포철공고-(국제디지털대)-롯데
24   제주신광초-포철중-포철공고-(국제디지털대)-롯데
25   제주신광초-포철중-포철공고-(국제디지털대)-롯데
26   제주신광초-포철중-포철공고-(국제디지털대)-롯데
27   제주신광초-포철중-포철공고-(국제디지털대)-롯데
28   제주신광초-포철중-포철공고-(국제디지털대)-롯데
29   제주신광초-포철중-포철공고-(국제디지털대)-롯데
30   제주신광초-포철중-포철공고-(국제디지털대)-롯데
⋮    ⋮
1364 송정동초-충장중-광주제일고-두산-경찰
1365 송정동초-충장중-광주제일고-두산-경찰
1366 서울학동초-이수중-서울고-단국대-두산-넥센-한화
1367 서울학동초-이수중-서울고-단국대-두산-넥센-한화
1368 서울학동초-이수중-서울고-단국대-두산-넥센-한화
1369 서울학동초-이수중-서울고-단국대-두산-넥센-한화
1370 서울학동초-이수중-서울고-단국대-두산-넥센-한화
1371 서울학동초-이수중-서울고-단국대-두산-넥센-한화
1372 미국 Fort Loramie(고)-미국 Toledo(대)
1373 부산대연초-대천중-부산고-고려대-KIA-경찰
1374 부산대연초-대천중-부산고-고려대-KIA-경찰
1375 부산대연초-대천중-부산고-고려대-KIA-경찰
1376 부산대연초-대천중-부산고-고려대-KIA-경찰
1377 부산대연초-대천중-부산고-고려대-KIA-경찰
1378 대일초-매송중-안산공고-건국대-LG-경찰
1379 수주초-신월중-장충고-NC-경찰-NC
1380 수주초-신월중-장충고-NC-경찰-NC
1381 수주초-신월중-장충고-NC-경찰-NC
1382 수주초-신월중-장충고-NC-경찰-NC
1383 사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코
1384 사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코
1385 사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코
1386 사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코
1387 사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코
1388 사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코
1389 사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코
1390 사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코
1391 사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코
1392 사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코
1393 석천초-대헌중-공주고
     starting_salary OPS   G_R
1                    0.959 0.1428571
2    10000만원       0.500 0.5000000
3    10000만원          NA 0.5000000
4    10000만원       0.416 0.3000000
5    10000만원       0.493 0.2857143
6    10000만원       0.671 0.9090909
7    9000만원        0.000 0.0000000
8    9000만원        0.500 0.0000000
9    9000만원        2.000 0.0000000
10   11000만원       0.478 0.0000000
11   11000만원       1.287 0.5000000
12   11000만원       0.986 0.3000000
13   11000만원       1.012 0.5000000
14   11000만원       1.200 1.0000000
15   11000만원       0.667 0.3333333
16   11000만원       0.388 0.1000000
17   11000만원       0.250 0.0000000
18   11000만원       0.883 0.1666667
19   11000만원       1.375 0.4000000
20   20000만원       0.000 0.0000000
21   20000만원       0.300 0.2222222
22   20000만원       0.907 0.1250000
23   9000만원        0.700 0.1818182
24   9000만원        1.201 0.6666667
25   9000만원        0.310 0.2000000
26   9000만원        0.573 0.0000000
27   9000만원        0.334 0.0000000
28   9000만원        1.240 0.8000000
29   9000만원        1.018 0.3076923
30   9000만원        0.546 0.4000000
⋮    ⋮               ⋮     ⋮
1364 13000만원       0.752 0.3636364
1365 13000만원       1.484 0.5000000
1366                 0.494 0.0000000
1367                 0.000 0.0000000
1368                 0.527 0.1666667
1369                 0.750 0.2500000
1370                 1.000 0.1428571
1371                 0.000 0.0000000
1372 300000달러      0.966 0.5000000
1373 4000만원        0.222 0.1250000
1374 4000만원        0.683 0.2500000
1375 4000만원        1.125 0.4545455
1376 4000만원        0.671 0.2727273
1377 4000만원        0.666 0.0000000
1378 8000만원        0.829 0.0000000
1379 3000만원           NA 0.0000000
1380 3000만원        0.000 0.0000000
1381 3000만원        0.000 0.2500000
1382 3000만원        0.000 0.2000000
1383 6000만원        0.393 0.0000000
1384 6000만원        0.500 0.3636364
1385 6000만원        0.528 0.3333333
1386 6000만원        0.464 0.1538462
1387 6000만원        0.604 0.1666667
1388 6000만원        0.606 0.2000000
1389 6000만원        1.041 0.3000000
1390 6000만원        0.822 0.7272727
1391 6000만원        0.799 0.5000000
1392 6000만원        0.833 0.5000000
1393 4000만원        0.000 1.0000000

In [54]:
# mutate와 쓰임은 동일하다
# 차이점 = transmute는 원하는 결과만 남기고 나머지를 삭제한다.  
DF %>% transmute(batter_id = paste(batter_id, batter_name, sep = "_")) %>% show() # transmute

# A tibble: 1,393 x 1
   batter_id
   <chr>
 1 0_가르시아
 2 1_강경학
 3 1_강경학
 4 1_강경학
 5 1_강경학
 6 1_강경학
 7 2_강구성
 8 2_강구성
 9 2_강구성
10 69_김태완
# … with 1,383 more rows

* ``sample_frac, sample_n``

**<arguments!>**
 1. ``size`` For sample_n(), the number of rows to select. For sample_frac(), the fraction of rows to select. If tbl is grouped, size applies to each group.
 2. ``replace`` Sample with or without replacement?

In [68]:
# sample_n = 무작위로 데이터를 추출한다.
# sample_n(date.frame, 뽑을갯수, 복원(비복원)추출)
# replace = F -> 비복원추출 -> 중복되지 않는 값을 뽑는다.

train_set <- sample_n(DF, 1, replace = F) # sample_n
train_set %>% show()

# A tibble: 1 x 29
  batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
      <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
1       200 이대수       2006 SK    0.348    11    23     6     8     0     0
# … with 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

In [69]:
# 무작위로 DF에서 34개의 데이터를 뽑는다.
train_set <- sample_n(DF, 34, replace = F) # sample_n
train_set %>% show()

# A tibble: 34 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1        73 김현수       2008 두산  0.235    10    34     4     8     2     0
 2       172 양성우       2018 한화  0.333     6    12     2     4     0     0
 3        62 김주찬       2017 KIA   0.174     8    23     0     4     0     0
 4       294 지석훈       2007 현대  0.222    11    18     2     4     1     0
 5       100 문규현       2011 롯데  0.231    10    13     3     3     1     0
 6       109 박기혁       2010 롯데  0.520    10    25     5    13     4     1
 7        20 국해성       2015 두산  0.200    11    20     6     4     1     0
 8        57 김재호       2005 두산  0.048    13    21     2     1     0     0
 9       131 박한이       2011 삼성  0.192    10    26     3     5     1     0
10       180 오재일       2011 넥센  0.333     8    12     1     4     2     0
# … with 24 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [58]:
# sample_frac = 무작위로 퍼샌트만큼 데이터를 뽑는다. 0 ~ 1까지
# 0.7 = 70% 의 데이터를 뽑는다. 
train_set <- sample_frac(DF, 0.7, replace = F) # sample_frac
train_set %>% show()

# A tibble: 975 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1       124 박정음       2016 넥센  0.148    15    27     6     4     0     0
 2       211 이성열       2011 두산  0.200    12    35     1     7     1     0
 3       144 서건창       2016 넥센  0.244    15    45     8    11     7     1
 4       337 홍재호       2011 KIA   0.111     8     9     1     1     0     0
 5       251 장민석       2013 넥센  0.280    11    25     2     7     1     1
 6       216 이영욱       2015 삼성  0.143     9     7     3     1     0     0
 7       252 장성우       2008 롯데  0.333     3     6     1     2     2     0
 8       313 최정         2016 SK    0.240    10    25     2     6     1     0
 9       311 최윤석       2012 SK    0.208    13    24     6     5     0     1
10       174 양의지       2011 두산  0.222    11    27     1     6     3     0
# … with 965 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [59]:
# 모든 데이터를 무작위로 뽑는다 
train_set <- sample_frac(DF, 1, replace = F) # sample_frac
train_set %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1        72 김헌곤       2014 삼성  0.143     7     7     1     1     1     0
 2       145 서동욱       2011 LG    0.175    13    40     6     7     1     0
 3       151 손주인       2010 삼성  0.125    13    16     5     2     0     0
 4       243 이호신       2007 KIA   0.333    10     3     1     1     0     0
 5       283 조동찬       2013 삼성  0.182    10    33     1     6     1     0
 6        46 김성훈       2018 삼성  0.091     5    11     0     1     0     0
 7       313 최정         2006 SK    0.067    11    15     2     1     0     0
 8       294 지석훈       2015 NC    0.133     9    15     1     2     0     0
 9        31 김동욱       2008 삼성  -         1     0     0     0     0     0
10       318 최항         2017 SK    0.500     2     2     0     1     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [61]:
# setdiff와 sample_frac을 이용한 training/test set 생성
# 나중에 머신러닝에서 필요함.
# train_set에 70%의 데이터를 넣어준다.
# replace는 꼭 F를 줘서 비복원추출로 해야한다. 

train_set <- sample_frac(DF, 0.7, replace = F) 
train_set %>% show()

# A tibble: 975 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1       249 임종혁       2015 롯데  -         1     0     0     0     0     0
 2       295 지성준       2018 한화  0.125     4     8     1     1     0     0
 3       201 이대형       2007 LG    0.214    11    28     5     6     1     0
 4       117 박승욱       2018 SK    0.455     6    11     4     5     1     0
 5       201 이대형       2016 KT    0.325    13    40     5    13     2     0
 6       332 허도환       2016 한화  0.250     8    12     2     3     2     0
 7       195 윤수강       2018 NC    -         3     0     0     0     0     0
 8        69 김태완       2017 넥센  0.370    12    27     2    10     1     0
 9       139 백용환       2014 KIA   0.267    11    15     2     4     1     2
10        56 김재현       2014 삼성  0.333    10     3     1     1     0     0
# … with 965 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [70]:
# test_set에는 setdiff를 이용해서 
# DF(원본 데이터) 에서 train_set을 뺀 나머지를 넣어준다. 

test_set <- setdiff(DF, train_set)
test_set %>% show()

# A tibble: 1,359 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 3         1 강경학       2014 한화  -         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0.000     3     4     0     0     0     0
 8         2 강구성       2016 NC    0.000     3     1     0     0     0     0
 9         2 강구성       2017 NC    1.000     2     1     0     1     0     0
10        69 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,349 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

# **<4주차 과제 - 100점>**

### **(1) 각각의 문제 바로 아래에 답을 작성 후, lab4.ipynb 파일을 한림SmartLEAD에 제출할 것**
### **(2) 제출 데드라인 : 2020.9.21(월요일) ~ 2020.9.27(일요일) 23:59 까지**
### **(3) 부정행위 적발 시, 원본(보여준 사람)과 복사본(베낀 사람) 모두 0점 처리**
### **(4) !!해당 문제의 코드와 출력 결과를 반드시 기록할 것(둘 중 하나라도 없으면 해당 문제 0점처리)!!**


- - -

## 1. 다음의 코드를 ``%>%``를 이용하여 동일한 결과가 출력되도록 작성하시오 ( https://gomguard.tistory.com/243 참고) **(20 점)**

```
summarise(group_by(mutate(filter(select(iris, Sepal.Length, Species), Sepal.Length >= 5), Petal.Length = 1), Species), n())


## 출력 예시

A tibble: 3 × 2
Species	n()
 <fct>	<int>
setosa	30
versicolor	49
virginica	49
```

In [78]:
## 답안 작성
# 1. iris 데이터에서 Sepal.length와 Species 열을 추출
# 2. 추출한 열 중 Sepal.Length가 5보다 큰 값을 filter 한다.
# 3. 새로운 열을 만드는데, patal.Length가 1인 데이터를 가지고 만들어 진다. 
# 4. patal.Length가 1인 데이터, Species 를 그룹한다. 
# 5. 그룹한 것을 n함수를 이용해 계산한다. 

str(iris)
iris %>% select("Sepal.Length","Species") %>% filter(Sepal.Length >= 5) %>% mutate(Petal.Length = 1) %>% group_by(Species) %>% summarise(n()) %>% show()

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

`summarise()` ungrouping output (override with `.groups` argument)

# A tibble: 3 x 2
  Species    `n()`
  <fct>      <int>
1 setosa        30
2 versicolor    49
3 virginica     49

## 2. 주어진 조건을 이용해여 DF에서 새로운 데이터 프레임을 추출하시오(60 점, 문제당 20점)

* dplyr 함수 사용(select, filter, groupby, summarise)

 (1) DF에서 문자형(chr) 열을 제외한 모든 열(column) - select

 (2) DF에서 team이 "두산" 또는 "한화"이고 G가 10 이상인 모든 행(row) - filter

 (3) DF에서 team 별(key) SLG, OPB의 평균과 R의 합 - group_by, summarise

In [79]:
# 사용 데이터
DF <- fread("ftp://210.115.229.94/2020_datascience/6th_data/Pre_Season_Batter.csv", header = T, encoding = "UTF-8") %>%
  as_tibble()

In [80]:
DF %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 3         1 강경학       2014 한화  -         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0.000     3     4     0     0     0     0
 8         2 강구성       2016 NC    0.000     3     1     0     0     0     0
 9         2 강구성       2017 NC    1.000     2     1     0     1     0     0
10        69 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

### (1) DF에서 문자형(chr) 열을 제외한 모든 열(column) - select

* 참고 : https://wikidocs.net/33942

In [93]:
## 답안 작성
#
DF %>% select(-team,-batter_name,-'height/weight', -year_born, -position, -career, -starting_salary)
# DF %>% select_if(is.integer, is.double)

     batter_id year avg   G  AB R  H  2B 3B HR ⋯ SB CS BB HBP SO GDP SLG
1     0        2018 0.350  7 20  1  7 1  0  1  ⋯ 0  0  2  0    3 1   0.550
2     1        2011 0.000  4  2  2  0 0  0  0  ⋯ 0  1  0  2    1 0   0.000
3     1        2014 -      4  0  2  0 0  0  0  ⋯ 0  0  0  0    0 0      NA
4     1        2015 0.130 10 23  3  3 0  0  0  ⋯ 3  0  4  1    9 0   0.130
5     1        2016 0.188 14 32  4  6 1  1  0  ⋯ 1  2  0  1   10 0   0.281
6     1        2017 0.222 11 36 10  8 0  0  2  ⋯ 0  0  3  0   10 0   0.389
7     2        2013 0.000  3  4  0  0 0  0  0  ⋯ 0  0  0  0    0 1   0.000
8     2        2016 0.000  3  1  0  0 0  0  0  ⋯ 1  0  1  0    0 1   0.000
9     2        2017 1.000  2  1  0  1 0  0  0  ⋯ 0  0  0  0    0 0   1.000
10   69        2006 0.200 10 15  0  3 0  0  0  ⋯ 0  0  1  1    5 1   0.200
11   69        2007 0.318  8 22  4  7 3  0  3  ⋯ 0  0  4  0    4 0   0.864
12   69        2008 0.375 10 24  3  9 1  0  1  ⋯ 0  0  2  1    2 2   0.542
13   69        2009 0.320 10 25  5  8 3  0  1  ⋯ 0  0  6  0    2 1   0.560
14   69        2010 0.400  2  5  2  2 0  1  0  ⋯ 0  0  0  0    1 0   0.800
15   69        2013 0.250  9 28  3  7 0  0  0  ⋯ 0  0  7  1    5 1   0.250
16   69        2014 0.125 10 16  1  2 0  0  0  ⋯ 0  0  3  0    4 0   0.125
17   69        2016 0.000  3  3  0  0 0  0  0  ⋯ 0  0  1  0    1 1   0.000
18   69        2017 0.370 12 27  2 10 1  0  1  ⋯ 0  0  2  0    8 1   0.519
19   69        2018 0.375  5  8  2  3 1  0  1  ⋯ 0  0  2  0    3 0   0.875
20    3        2014 0.000  2  1  0  0 0  0  0  ⋯ 0  0  0  0    1 0   0.000
21    3        2015 0.100  9 10  2  1 1  0  0  ⋯ 0  0  0  0    4 0   0.200
22    3        2016 0.316 16 19  2  6 2  1  0  ⋯ 0  0  2  0    4 0   0.526
23    4        2005 0.250 11 20  2  5 4  0  0  ⋯ 0  1  0  0    6 0   0.450
24    4        2006 0.381  9 21  6  8 1  1  2  ⋯ 0  0  1  0    5 1   0.810
25    4        2007 0.136 10 22  2  3 0  0  0  ⋯ 0  0  0  1    6 1   0.136
26    4        2008 0.200  5 10  0  2 1  0  0  ⋯ 0  0  0  1    2 0   0.300
27    4        2009 0.167  2  6  0  1 0  0  0  ⋯ 0  0  0  0    1 0   0.167
28    4        2010 0.261 10 23  8  6 1  0  4  ⋯ 0  0  5  1    3 0   0.826
29    4        2011 0.353 13 34  4 12 3  0  2  ⋯ 0  0  4  0    6 3   0.618
30    4        2012 0.273  5 11  2  3 0  0  0  ⋯ 0  1  0  0    2 0   0.273
⋮    ⋮         ⋮    ⋮     ⋮  ⋮  ⋮  ⋮  ⋮  ⋮  ⋮  ⋱ ⋮  ⋮  ⋮  ⋮   ⋮  ⋮   ⋮
1364 331       2017 0.250 11 32 4   8 0  0  2  ⋯ 1  0  2  1   2  2   0.438
1365 331       2018 0.600  6 15 3   9 3  0  0  ⋯ 1  0  4  0   0  0   0.800
1366 332       2012 0.200  9 15 0   3 0  0  0  ⋯ 0  0  0  2   5  0   0.200
1367 332       2013 0.000  4  8 0   0 0  0  0  ⋯ 0  0  0  0   3  0   0.000
1368 332       2014 0.150 12 20 2   3 0  0  1  ⋯ 0  0  2  0   4  2   0.300
1369 332       2016 0.250  8 12 2   3 2  0  0  ⋯ 0  0  1  1   2  1   0.417
1370 332       2017 0.375  7  8 1   3 2  0  0  ⋯ 0  0  0  0   2  0   0.625
1371 332       2018 0.000  4  4 0   0 0  0  0  ⋯ 0  0  0  0   1  1   0.000
1372 334       2018 0.250  6 16 3   4 0  2  1  ⋯ 0  0  1  0   0  0   0.688
1373 337       2011 0.111  8  9 1   1 0  0  0  ⋯ 0  0  0  0   0  0   0.111
1374 337       2012 0.250 12 24 3   6 0  0  1  ⋯ 1  0  2  0   4  0   0.375
1375 337       2013 0.438 11 16 5   7 1  1  0  ⋯ 0  0  2  0   1  1   0.625
1376 337       2017 0.231 11 13 3   3 0  1  0  ⋯ 0  0  1  0   2  0   0.385
1377 337       2018 0.333  1  3 0   1 0  0  0  ⋯ 0  0  0  0   0  0   0.333
1378 338       2016 0.200  5  5 0   1 1  0  0  ⋯ 1  0  2  0   1  0   0.400
1379 341       2015 -      2  0 0   0 0  0  0  ⋯ 0  0  0  0   0  0      NA
1380 341       2016 0.000  2  1 0   0 0  0  0  ⋯ 0  0  0  0   0  0   0.000
1381 341       2017 0.000  8  3 2   0 0  0  0  ⋯ 0  0  0  0   0  0   0.000
1382 341       2018 0.000  5  2 1   0 0  0  0  ⋯ 0  0  0  0   0  0   0.000
1383 342       2008 0.179 11 28 0   5 1  0  0  ⋯ 1  1  0  0   4  0   0.214
1384 342       2009 0.194 11 31 4   6 2  0  0  ⋯ 1  1  2  0   5  0   0.258
1385 342       2010 0.174 12 46 4   8 1  1  1  ⋯ 2  0  3  0   9  2   0.304
1386 342       2011 0.152 13 33 2   5 1  1  0  ⋯ 2  1  3  0   9  1   0.242
1387 342       2012 0.154 12 26 2   4 2  0  1  ⋯ 0  0  3  1   4  0   0.346
1388 342       2013 0.200 10 30 2   6 0  0  1  ⋯ 2  1  3  2   2  1   0.300
1389 342       2014 0.407 10 27 3  11 2  0  1  ⋯ 1  0  2  0   5  0   0.593
1390 342       2015 0.333 11 30 8  10 3  0  0  ⋯ 0  0  4  0   3  0   0.433
1391 342       2016 0.310 16 42 8  13 3  1  0  ⋯ 3  1  4  0   4  0   0.429
1392 342       2018 0.250  6 16 3   4 1  0  1  ⋯ 0  0  2  0   6  0   0.500
1393 344       2014 0.000  1  1 1   0 0  0  0  ⋯ 0  0  0  0   1  0   0.000
     OBP   E OPS
1    0.409 1 0.959
2    0.500 0 0.500
3       NA 0    NA
4    0.286 2 0.416
5    0.212 0 0.493
6    0.282 1 0.671
7    0.000 0 0.000
8    0.500 0 0.500
9    1.000 0 2.000
10   0.278 0 0.478
11   0.423 0 1.287
12   0.444 0 0.986
13   0.452 1 1.012
14   0.400 1 1.200
15   0.417 0 0.667
16   0.263 0 0.388
17   0.250 0 0.250
18   0.364 1 0.883
19   0.500 0 1.375
20   0.000 0 0.000
21   0.100 0 0.300
22   0.381 0 0.907
23   0.250 0 0.700
24   0.391 0 1.201
25   0.174 0 0.310
26   0.273 0 0.573
27   0.167 0 0.334
28   0.414 0 1.240
29   0.400 0 1.018
30   0.273 0 0.546
⋮    ⋮     ⋮ ⋮
1364 0.314 0 0.752
1365 0.684 0 1.484
1366 0.294 0 0.494
1367 0.000 0 0.000
1368 0.227 2 0.527
1369 0.333 0 0.750
1370 0.375 1 1.000
1371 0.000 0 0.000
1372 0.278 0 0.966
1373 0.111 0 0.222
1374 0.308 0 0.683
1375 0.500 1 1.125
1376 0.286 0 0.671
1377 0.333 0 0.666
1378 0.429 1 0.829
1379    NA 0    NA
1380 0.000 1 0.000
1381 0.000 0 0.000
1382 0.000 0 0.000
1383 0.179 2 0.393
1384 0.242 1 0.500
1385 0.224 2 0.528
1386 0.222 3 0.464
1387 0.258 1 0.604
1388 0.306 3 0.606
1389 0.448 1 1.041
1390 0.389 0 0.822
1391 0.370 1 0.799
1392 0.333 3 0.833
1393 0.000 0 0.000

### (2) DF에서 team이 "두산" 또는 "한화"이고 G가 10 이상인 모든 행(row) - filter

In [105]:
## 답안 작성
#
DF %>% filter(.,team == "두산" | team == "한화" & G >= 10) %>% show()

# A tibble: 238 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 2         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 3         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 4        69 김태완       2006 한화  0.200    10    15     0     3     0     0
 5        69 김태완       2008 한화  0.375    10    24     3     9     1     0
 6        69 김태완       2009 한화  0.320    10    25     5     8     3     0
 7        69 김태완       2014 한화  0.125    10    16     1     2     0     0
 8         8 강상원       2017 한화  0.000    10     1     4     0     0     0
 9       162 신성현       2016 한화  0.286    14    35     6    10     1     0
10       162 신성현       2017 두산  0.324    10    34     7    11     2     0
# … with 228 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

### (3) DF에서 team 별(key) SLG, OBP의 평균과 R의 합 - group_by, summarise

* **NA 발생시 해당 문제 0점.**
* 출력 예시와 동일해야 함.
* 새로 생성되는 열의 이름을 자유롭게 설정.

```
# 출력예시
A tibble: 13 × 4
team	SLG_mean	OBP_mean	R_sum
<chr>	<dbl>	<dbl>	<int>
KIA	0.4068168	0.3579771	321
KT	0.3732105	0.3196491	143
LG	0.3497235	0.3211813	500
NC	0.4006190	0.3121882	195
SK	0.3501159	0.3052866	426
넥센	0.3833929	0.3228750	315
두산	0.3319891	0.3102688	601
롯데	0.3784125	0.3217500	424
삼성	0.3452260	0.3073151	416
우리	0.2081667	0.1941667	10
한화	0.3503465	0.3193858	335
현대	0.2971111	0.2705000	42
히어로즈	0.2530000	0.2894000	5
```

In [125]:
## 답안 작성
##
# str(DF)
# table(is.na(DF))
# table(is.na(DF$SLG))
# table(is.na(DF$OBP))
# DFt = DF
# DFt

DF %>% group_by(team) %>% summarise(SLG_mean = mean(SLG, na.rm = T), OBP_mean = mean(OBP, na.rm = T), R_sum = sum(R,na.rm = T))

`summarise()` ungrouping output (override with `.groups` argument)

   team     SLG_mean  OBP_mean  R_sum
1  KIA      0.4068168 0.3579771 321
2  KT       0.3732105 0.3196491 143
3  LG       0.3497235 0.3211813 500
4  NC       0.4006190 0.3121882 195
5  SK       0.3501159 0.3052866 426
6  넥센     0.3833929 0.3228750 315
7  두산     0.3319891 0.3102688 601
8  롯데     0.3784125 0.3217500 424
9  삼성     0.3452260 0.3073151 416
10 우리     0.2081667 0.1941667  10
11 한화     0.3503465 0.3193858 335
12 현대     0.2971111 0.2705000  42
13 히어로즈 0.2530000 0.2894000   5

## 3. Train / Test / Validation 데이터 생성하기 - setdiff, sample_frac 사용 (20점)

DF를 Train / Test / Validation 데이터로 6:2:2의 비율로 분할하고자한다.

* 비복원 추출(replace = F) 사용
* nrow()를 이용하여 분할된 데이터의 행의 개수를 파악할 수 있음

```
# 출력 예시
nrow(train_set) + nrow(test_set) + nrow(validation_set)
1393
```

In [127]:
# 사용 데이터
DF <- fread("ftp://210.115.229.94/2020_datascience/6th_data/Pre_Season_Batter.csv", header = T, encoding = "UTF-8") %>%
  as_tibble()

nrow(DF) # DF의 행의 개수

[1] 1393

In [132]:
## 답안 작성
#
train_set <- sample_frac(DF, 0.6 , replace = F)
temp <- setdiff(DF , train_set)
#temp는 DF에서 rain_set을 뺀 데이터들의 집합임. 
#따라서 temp는 100퍼센트에서 시작, test와 validation을 같은비율로 나눠야 하기 때문에 0.5를 해야 한다

test_set <- sample_frac(temp, 0.5, replace = F)# temp에 50퍼는 test로, 다른 50퍼는 validation으로 저장된다. 
validation_set <- setdiff(temp, test_set)

In [133]:
nrow(train_set) + nrow(test_set) + nrow(validation_set)

[1] 1393