In [1]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [5]:
# 1.과거의 데이터를 준비합니다.
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)#어떤 열이 있는지 확인
보스턴.head()#잘 불러왔는지 확인

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [7]:
#종속변수, 독립변수 나누기
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]#원인= input
종속 = 보스턴[['medv']]#결과=output

print(독립.shape)
print(종속.shape)

(506, 13)
(506, 1)

In [13]:
#모델 만들기

x = tf.keras.layers.Input(shape=[13])#독립변수 13개
y = tf.keras.layers.Dense(1)(x)#종속변수 1개

model = tf.keras.models.Model(x,y)
model.compile(loss='mse')

In [15]:
 #데이터로 모델을 학습(FIT)합니다.

 model.fit(독립,종속,epochs=1000,verbose=0)#1000번 학습시키는데 loss 안나오게 함
 model.fit(독립,종속,epochs=10)#최종적으로 10번 더 학습시킨것에 loss 표시

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 24.4142
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 24.2340
Epoch 3/10
16/16 [==============================] - 0s 2ms/step - loss: 25.2975
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 24.8307
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 24.3426
Epoch 6/10
16/16 [==============================] - 0s 896us/step - loss: 24.7659
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 24.2543
Epoch 8/10
16/16 [==============================] - 0s 906us/step - loss: 24.0680
Epoch 9/10
16/16 [==============================] - 0s 958us/step - loss: 25.4637
Epoch 10/10
16/16 [==============================] - 0s 915us/step - loss: 24.4429

In [17]:
# 모델의 독립변수를 이용해서 결과를 유추하기
#비슷하게 나옴
print(model.predict(독립[5:10]))


# 종속변수 확인 -> 결과
print(종속[5:10])

[[25.941038]
 [21.741735]
 [18.67552 ]
 [10.313532]
 [18.126429]]
   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [18]:
# 모델의 수식 확인
#모델이 이런 수식을 자동으로 만든것임.
print(model.get_weights())

[array([[-0.09141653],
       [ 0.05605944],
       [-0.04633157],
       [ 2.9926167 ],
       [ 1.7815673 ],
       [ 4.981029  ],
       [-0.00511863],
       [-0.9852712 ],
       [ 0.17001015],
       [-0.01030085],
       [-0.29288012],
       [ 0.01466866],
       [-0.497299  ]], dtype=float32), array([3.537502], dtype=float32)]