# *빅데이터 개론 4주차 실습!*

- - -

## ``dpylr`` package

##1. dplyr(``%>%, select, filter, groupby, summarize``)

- - -

dplyr 패키지는 Hadley Wickham가 작성한 데이터 처리에 특화된 R 패키지입니다. 이 분이 지금까지 작성한 유명한 R 패키지로는 ggplot2, plyr, reshape2등이 있으며 이미 많은 분들이 사용하고 있으리라 생각합니다.

데이터 처리에 특화된 유용한 패키지로는 역시 Hadley Wickham이 만든 plyr이라는 패키지가 있었습니다. 그러나 ``plyr은 편리하긴 했지만 모든 함수가 R로 작성되어서 처리 속도가 느리다는 단점``이 있었습니다. 이에 반해 ``dplyr은 C++로 작성되어 불필요한 함수를 불러오지 않기 때문에 매우 빠른 처리 속도를 자랑``합니다.

dplyr 패키지는 데이터 프레임을 처리하는 함수군으로 구성되어 있습니다. 하지만 그 밖에도 다음 형식의 데이터를 이용할 수 있습니다.

* data.table : data.table 패키지와 사용
* 각종 데이터베이스 : 현재 MySQL, PostgreSQL, SQLite, BigQuery를 지원
* 데이터 큐브 : dplyr 패키지 내부에 실험적으로 내장됨

In [ ]:
install.packages("data.table")
install.packages("tidyverse")

library(tidyverse) # or library(dplyr)
library(data.table)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union



Attaching package: ‘data.table’


The following objects are masked from ‘package:dplyr’:

    between, first, last

In [ ]:
#https://gomguard.tistory.com/243
DF <- fread("ftp://210.115.229.94/2020_datascience/6th_data/Pre_Season_Batter.csv", header = T, encoding = "UTF-8") %>%
  as_tibble()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 3         1 강경학       2014 한화  -         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0.000     3     4     0     0     0     0
 8         2 강구성       2016 NC    0.000     3     1     0     0     0     0
 9         2 강구성       2017 NC    1.000     2     1     0     1     0     0
10        69 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

* select

In [ ]:
# base R
DF[, c("batter_name", "team")] %>% show()

# A tibble: 1,393 x 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# … with 1,383 more rows

In [ ]:
# dplyr
DF %>% select(., batter_name, team) %>% show()

# A tibble: 1,393 x 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# … with 1,383 more rows

In [ ]:
DF %>% select(., -batter_name, -team) %>% show()

# A tibble: 1,393 x 27
   batter_id  year avg       G    AB     R     H  `2B`  `3B`    HR    TB   RBI
       <int> <int> <chr> <int> <int> <int> <int> <int> <int> <int> <int> <int>
 1         0  2018 0.350     7    20     1     7     1     0     1    11     5
 2         1  2011 0.000     4     2     2     0     0     0     0     0     1
 3         1  2014 -         4     0     2     0     0     0     0     0     0
 4         1  2015 0.130    10    23     3     3     0     0     0     3     1
 5         1  2016 0.188    14    32     4     6     1     1     0     9     2
 6         1  2017 0.222    11    36    10     8     0     0     2    14     4
 7         2  2013 0.000     3     4     0     0     0     0     0     0     0
 8         2  2016 0.000     3     1     0     0     0     0     0     0     0
 9         2  2017 1.000     2     1     0     1     0     0     0     1     0
10        69  2006 0.200    10    15     0     3     0     0     0     3     3
# … with 1,383 more rows, and 15 more variables: SB <int>, CS <int>, BB <int>,
#   HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

In [ ]:
DF %>% select(., 이름 = batter_name, 팀 = team) %>% show()

# A tibble: 1,393 x 2
   이름     팀
   <chr>    <chr>
 1 가르시아 LG
 2 강경학   한화
 3 강경학   한화
 4 강경학   한화
 5 강경학   한화
 6 강경학   한화
 7 강구성   NC
 8 강구성   NC
 9 강구성   NC
10 김태완   한화
# … with 1,383 more rows

* filter --> `Extract rows that meet logical
criteria`

In [ ]:
# base R
DF[DF$team == "한화", ] %>% show()

# A tibble: 131 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 2         1 강경학       2014 한화  -         4     0     2     0     0     0
 3         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 4         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 5         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 6        69 김태완       2006 한화  0.200    10    15     0     3     0     0
 7        69 김태완       2007 한화  0.318     8    22     4     7     3     0
 8        69 김태완       2008 한화  0.375    10    24     3     9     1     0
 9        69 김태완       2009 한화  0.320    10    25     5     8     3     0
10        69 김태완       2010 한화  0.400     2     5     2     2     0     1
# … with 121 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
# dplyr filter
DF %>% filter(., team == "한화") %>% show()

# A tibble: 131 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 2         1 강경학       2014 한화  -         4     0     2     0     0     0
 3         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 4         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 5         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 6        69 김태완       2006 한화  0.200    10    15     0     3     0     0
 7        69 김태완       2007 한화  0.318     8    22     4     7     3     0
 8        69 김태완       2008 한화  0.375    10    24     3     9     1     0
 9        69 김태완       2009 한화  0.320    10    25     5     8     3     0
10        69 김태완       2010 한화  0.400     2     5     2     2     0     1
# … with 121 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
# base R
DF[DF$team == "한화" & DF$G >= 5, c("team","batter_name", "G", "AB")] %>% show()

# A tibble: 104 x 4
   team  batter_name     G    AB
   <chr> <chr>       <int> <int>
 1 한화  강경학         10    23
 2 한화  강경학         14    32
 3 한화  강경학         11    36
 4 한화  김태완         10    15
 5 한화  김태완          8    22
 6 한화  김태완         10    24
 7 한화  김태완         10    25
 8 한화  김태완          9    28
 9 한화  김태완         10    16
10 한화  강상원          6     0
# … with 94 more rows

In [ ]:
DF %>% filter(., team == "한화" & G >=5) %>% 
 select(., team, batter_name, G, AB) %>% show()

# A tibble: 104 x 4
   team  batter_name     G    AB
   <chr> <chr>       <int> <int>
 1 한화  강경학         10    23
 2 한화  강경학         14    32
 3 한화  강경학         11    36
 4 한화  김태완         10    15
 5 한화  김태완          8    22
 6 한화  김태완         10    24
 7 한화  김태완         10    25
 8 한화  김태완          9    28
 9 한화  김태완         10    16
10 한화  강상원          6     0
# … with 94 more rows


* groupby, summarise

``https://dplyr.tidyverse.org/reference/group_by.html``

``https://datascienceschool.net/view-notebook/e288a67ff8f9425b8cd511c7078a7b1b/``

![대체 텍스트](https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F9978503F5B8264490F))

In [ ]:
DF %>% group_by(team) %>% show()

# A tibble: 1,393 x 29
# Groups:   team [13]
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 3         1 강경학       2014 한화  -         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0.000     3     4     0     0     0     0
 8         2 강구성       2016 NC    0.000     3     1     0     0     0     0
 9         2 강구성       2017 NC    1.000     2     1     0     1     0     0
10        69 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
DF %>% group_by(team) %>% summarise(., G_AVG = mean(G), AB_A = mean(AB), R_SUM = sum(R)) %>% show()

`summarise()` ungrouping output (override with `.groups` argument)

# A tibble: 13 x 4
   team     G_AVG  AB_A R_SUM
   <chr>    <dbl> <dbl> <int>
 1 KIA       7.87  16.8   321
 2 KT        7.63  16.3   143
 3 LG        8.74  20.3   500
 4 NC        8.49  17     195
 5 SK        8.37  19.9   426
 6 넥센      9.10  19.0   315
 7 두산     10.7   22.1   601
 8 롯데      8.21  17.7   424
 9 삼성      8.79  20.1   416
10 우리      7.33  17.3    10
11 한화      7.76  18.2   335
12 현대     10.1   25.3    42
13 히어로즈  8.2   15.6     5

In [ ]:
DF %>% group_by(team, batter_name) %>% summarise(., G_AVG = mean(G), AB_AVG = mean(AB), R_AVG = mean(R))

`summarise()` regrouping output by 'team' (override with `.groups` argument)

    team     batter_name G_AVG     AB_AVG    R_AVG
1   KIA      강한울       7.500000 19.500000  3.5000000
2   KIA      김민식       7.500000 12.000000  1.5000000
3   KIA      김선빈      10.000000 22.333333  3.2222222
4   KIA      김주찬       8.000000 19.000000  2.5000000
5   KIA      김주형       7.727273 17.545455  1.9090909
6   KIA      나지완       9.900000 27.700000  3.9000000
7   KIA      노수광       2.500000  3.000000  0.0000000
8   KIA      박준태      12.000000 18.500000  3.5000000
9   KIA      백용환       6.600000 11.800000  1.4000000
10  KIA      버나디나     6.500000 17.500000  3.5000000
11  KIA      서동욱       6.333333 10.166667  1.5000000
12  KIA      신범수       5.500000  9.500000  1.0000000
13  KIA      신종길       8.833333 21.833333  4.0000000
14  KIA      안치홍       8.375000 24.625000  2.7500000
15  KIA      유민상       2.000000  3.000000  0.0000000
16  KIA      유재신       5.000000  3.000000  2.0000000
17  KIA      윤정우      12.500000 19.000000  4.0000000
18  KIA      이대형      11.000000 28.000000 11.0000000
19  KIA      이명기       7.500000 21.500000  2.5000000
20  KIA      이범호       7.000000 15.500000  1.5000000
21  KIA      이성우       7.571429  9.142857  1.2857143
22  KIA      이영욱       5.000000  7.000000  3.0000000
23  KIA      이용규       7.555556 24.888889  3.0000000
24  KIA      이인행       9.000000 15.000000  1.0000000
25  KIA      이준호       7.000000  7.750000  1.5000000
26  KIA      이호신       9.200000  9.200000  2.2000000
27  KIA      정성훈       8.500000 18.500000  3.5000000
28  KIA      최원준       6.000000 13.000000  1.6666667
29  KIA      최형우       5.500000 14.000000  3.0000000
30  KIA      한승택       5.666667  6.000000  0.6666667
⋮   ⋮        ⋮           ⋮         ⋮         ⋮
307 한화     오선진       7.000000 12.222222 1.3333333
308 한화     이대수       9.500000 24.500000 3.5000000
309 한화     이동훈       6.666667  4.000000 2.6666667
310 한화     이범호       9.625000 29.000000 4.7500000
311 한화     이성열       8.750000 20.250000 2.7500000
312 한화     이용규       7.500000 22.000000 4.0000000
313 한화     이준수       2.000000  0.500000 0.0000000
314 한화     장민석      12.000000 37.000000 6.0000000
315 한화     장진혁       3.000000  2.000000 0.0000000
316 한화     정경운       6.000000  7.000000 1.0000000
317 한화     정근우       9.000000 28.666667 3.0000000
318 한화     정범모       6.000000  8.000000 0.6666667
319 한화     지성준       8.000000 17.000000 2.0000000
320 한화     최윤석       5.333333  7.666667 1.0000000
321 한화     최재훈       8.000000 15.000000 3.0000000
322 한화     최진행       8.153846 22.230769 2.1538462
323 한화     하주석       6.200000 14.800000 1.8000000
324 한화     한승택      10.000000 15.000000 0.0000000
325 한화     허도환       7.500000 10.000000 1.5000000
326 한화     호잉         6.000000 16.000000 3.0000000
327 현대     유한준      11.000000 26.666667 2.0000000
328 현대     이택근      10.600000 24.400000 2.2000000
329 현대     정성훈      11.600000 38.000000 3.4000000
330 현대     조평호      10.000000 15.000000 0.0000000
331 현대     지석훈       6.750000 12.250000 2.0000000
332 히어로즈 오재일      12.000000 33.000000 1.0000000
333 히어로즈 유재신       8.000000  4.000000 0.0000000
334 히어로즈 이택근       1.000000  3.000000 0.0000000
335 히어로즈 장영석       9.000000  7.000000 0.0000000
336 히어로즈 황재균      11.000000 31.000000 4.0000000

##2. dplyr(``arrange,rename,mutate,sample_frac/n ``)

* ``arrange``
  1. 지정한 열을 기준으로 작은 값으로부터 큰 값의 순(오름차순)으로 데이터를 정렬.    역순 정렬(내림차순) ``desc()``

In [ ]:
DF %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 3         1 강경학       2014 한화  -         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0.000     3     4     0     0     0     0
 8         2 강구성       2016 NC    0.000     3     1     0     0     0     0
 9         2 강구성       2017 NC    1.000     2     1     0     1     0     0
10        69 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
DF %>% arrange(year)

In [ ]:
DF %>% arrange(year, desc(team)) %>% show() # year는 ascending(오름차순), team은 descending(내림차순)

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1        67 김태균       2002 한화  0.235    11    34     7     8     5     0
 2       207 이범호       2002 한화  0.167     7     6     2     1     1     0
 3       131 박한이       2002 삼성  0.319    11    47     7    15     3     0
 4       283 조동찬       2002 삼성  0.000     4     1     0     0     0     0
 5       319 최형우       2002 삼성  0.000     5     5     1     0     0     0
 6        62 김주찬       2002 롯데  0.107     9    28     2     3     0     0
 7       109 박기혁       2002 롯데  0.000     8     5     1     0     0     0
 8       202 이대호       2002 롯데  0.359    11    39     4    14     3     0
 9       234 이진영       2002 SK    0.297    11    37     5    11     2     0
10       269 정상호       2002 SK    0.158    13    19     3     3     1     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
DF %>% arrange(team, desc(avg)) %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1       145 서동욱       2004 KIA   1.000     1     1     1     1     0     0
 2       217 이용규       2009 KIA   1.000     1     2     0     2     0     0
 3        12 강한울       2015 KIA   0.600     3    10     2     6     0     1
 4       139 백용환       2018 KIA   0.600     3     5     1     3     1     0
 5       243 이호신       2009 KIA   0.500     9     6     1     3     0     0
 6       163 신종길       2017 KIA   0.500     1     2     1     1     0     0
 7       169 안치홍       2017 KIA   0.500     4    10     1     5     1     0
 8       232 이준호       2013 KIA   0.500     6     8     2     4     1     0
 9       319 최형우       2018 KIA   0.500     4    14     3     7     1     0
10       160 신범수       2017 KIA   0.471     9    17     2     8     2     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

* ``rename`` 
 1. 특정 열의 이름 변경
 2. rename(new_name = old_name)

In [ ]:
DF %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 3         1 강경학       2014 한화  -         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0.000     3     4     0     0     0     0
 8         2 강구성       2016 NC    0.000     3     1     0     0     0     0
 9         2 강구성       2017 NC    1.000     2     1     0     1     0     0
10        69 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
DF %>% rename(타자_고유_ID = batter_id, 타자_이름 = batter_name, 년도 = year) %>% show()

# A tibble: 1,393 x 29
   타자_고유_ID 타자_이름  년도 team  avg       G    AB     R     H  `2B`  `3B`
          <int> <chr>     <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1            0 가르시아   2018 LG    0.350     7    20     1     7     1     0
 2            1 강경학     2011 한화  0.000     4     2     2     0     0     0
 3            1 강경학     2014 한화  -         4     0     2     0     0     0
 4            1 강경학     2015 한화  0.130    10    23     3     3     0     0
 5            1 강경학     2016 한화  0.188    14    32     4     6     1     1
 6            1 강경학     2017 한화  0.222    11    36    10     8     0     0
 7            2 강구성     2013 NC    0.000     3     4     0     0     0     0
 8            2 강구성     2016 NC    0.000     3     1     0     0     0     0
 9            2 강구성     2017 NC    1.000     2     1     0     1     0     0
10           69 김태완     2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

* ``mutate / transmute``
 1. mutate : 기존 dataframe에서 기존 열 변형 또는 새로운 열 생성
 2. transmute : 기존 dataframe에서 기존 열 변형 또는 새로운 열을 생성하고, 해당 열 제외하고 모두 제거
 3. mutate(새로운 열 = 기존 열의 조합한 수식, ...)

In [ ]:
DF %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 3         1 강경학       2014 한화  -         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0.000     3     4     0     0     0     0
 8         2 강구성       2016 NC    0.000     3     1     0     0     0     0
 9         2 강구성       2017 NC    1.000     2     1     0     1     0     0
10        69 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
DF %>% mutate(batter_id = batter_id + 100) %>% show() # 기존 열의 변형

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <dbl> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1       100 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2       101 강경학       2011 한화  0.000     4     2     2     0     0     0
 3       101 강경학       2014 한화  -         4     0     2     0     0     0
 4       101 강경학       2015 한화  0.130    10    23     3     3     0     0
 5       101 강경학       2016 한화  0.188    14    32     4     6     1     1
 6       101 강경학       2017 한화  0.222    11    36    10     8     0     0
 7       102 강구성       2013 NC    0.000     3     4     0     0     0     0
 8       102 강구성       2016 NC    0.000     3     1     0     0     0     0
 9       102 강구성       2017 NC    1.000     2     1     0     1     0     0
10       169 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
DF %>% mutate(batter_id = paste(batter_id, batter_name, sep = "_")) %>% select(-batter_name)%>% show() # 기존 열의 변형 2

# A tibble: 1,393 x 28
   batter_id  year team  avg       G    AB     R     H  `2B`  `3B`    HR    TB
   <chr>     <int> <chr> <chr> <int> <int> <int> <int> <int> <int> <int> <int>
 1 0_가르시아…  2018 LG    0.350     7    20     1     7     1     0     1    11
 2 1_강경학   2011 한화  0.000     4     2     2     0     0     0     0     0
 3 1_강경학   2014 한화  -         4     0     2     0     0     0     0     0
 4 1_강경학   2015 한화  0.130    10    23     3     3     0     0     0     3
 5 1_강경학   2016 한화  0.188    14    32     4     6     1     1     0     9
 6 1_강경학   2017 한화  0.222    11    36    10     8     0     0     2    14
 7 2_강구성   2013 NC    0.000     3     4     0     0     0     0     0     0
 8 2_강구성   2016 NC    0.000     3     1     0     0     0     0     0     0
 9 2_강구성   2017 NC    1.000     2     1     0     1     0     0     0     1
10 69_김태완  2006 한화  0.200    10    15     0     3     0     0     0     3
# … with 1,383 more rows, and 16 more variables: RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

In [ ]:
DF %>% mutate(G_R = R / G) # 경기 당(G) 득점(R), 추가되는 열은 끝으로 이동

In [ ]:
DF %>% transmute(batter_id = paste(batter_id, batter_name, sep = "_")) %>% show() # transmute

# A tibble: 1,393 x 1
   batter_id
   <chr>
 1 0_가르시아
 2 1_강경학
 3 1_강경학
 4 1_강경학
 5 1_강경학
 6 1_강경학
 7 2_강구성
 8 2_강구성
 9 2_강구성
10 69_김태완
# … with 1,383 more rows

* ``sample_frac, sample_n``

**<arguments!>**
 1. ``size`` For sample_n(), the number of rows to select. For sample_frac(), the fraction of rows to select. If tbl is grouped, size applies to each group.
 2. ``replace`` Sample with or without replacement?

In [ ]:
train_set <- sample_n(DF, 1, replace = F) # sample_n
train_set %>% show()

# A tibble: 1 x 29
  batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
      <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
1        71 김하성       2015 넥센  0.148    11    27     2     4     1     0
# … with 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

In [ ]:
train_set <- sample_n(DF, 34, replace = F) # sample_n
train_set %>% show()

# A tibble: 34 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1        84 나지완       2016 KIA   0.296    13    27     5     8     1     0
 2       111 박동원       2015 넥센  0.500     2     4     0     2     0     0
 3       238 이택근       2003 현대  0.192    12    26     3     5     1     0
 4       264 정근우       2014 한화  0.292     8    24     1     7     2     0
 5       301 채태인       2014 삼성  0.111     7    18     1     2     1     0
 6       178 오선진       2012 한화  0.000     7     5     0     0     0     0
 7       103 민병헌       2006 두산  0.333     8     6     2     2     0     0
 8       251 장민석       2011 넥센  0.200    12    25     2     5     0     1
 9       252 장성우       2011 롯데  0.200    12    15     0     3     0     0
10       117 박승욱       2018 SK    0.455     6    11     4     5     1     0
# … with 24 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
train_set <- sample_frac(DF, 0.7, replace = F) # sample_frac
train_set %>% show()

# A tibble: 975 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1       103 민병헌       2006 두산  0.333     8     6     2     2     0     0
 2        37 김민수       2014 한화  0.217    11    23     2     5     1     0
 3       274 정의윤       2005 LG    0.235    13    34     1     8     1     0
 4       310 최원준       2017 KIA   0.296    11    27     4     8     1     1
 5        36 김민성       2010 넥센  0.150    10    20     1     3     0     0
 6       265 정범모       2012 한화  0.353    11    17     3     6     1     0
 7       319 최형우       2009 삼성  0.263     6    19     3     5     0     0
 8       308 최영진       2016 두산  0.000     3     1     2     0     0     0
 9       224 이재원       2007 SK    0.667     2     3     0     2     0     0
10       130 박찬도       2014 삼성  0.200    10     5     3     1     0     0
# … with 965 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
train_set <- sample_frac(DF, 1, replace = F) # sample_frac
train_set %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1       307 최승준       2014 LG    0.300     6    10     3     3     1     0
 2       342 황재균       2012 롯데  0.154    12    26     2     4     2     0
 3         5 강백호       2018 KT    0.333     6    18     2     6     1     0
 4       252 장성우       2015 KT    0.200    11    20     1     4     2     0
 5        85 남태혁       2017 KT    0.200     8    10     1     2     0     0
 6       162 신성현       2016 한화  0.286    14    35     6    10     1     0
 7        84 나지완       2017 KIA   0.211     9    19     4     4     1     0
 8       112 박민우       2014 NC    0.292    11    24     8     7     1     1
 9         4 강민호       2017 롯데  0.300    10    20     1     6     0     0
10       123 박정권       2007 SK    0.150     9    20     1     3     1     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
# setdiff와 sample_frac을 이용한 training/test set 생성
train_set <- sample_frac(DF, 0.7, replace = F) 
train_set %>% show()

# A tibble: 975 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1        41 김상수       2009 삼성  0.348    13    46     8    16     1     1
 2        69 김태완       2008 한화  0.375    10    24     3     9     1     0
 3       238 이택근       2007 현대  0.194     9    36     4     7     0     0
 4       264 정근우       2014 한화  0.292     8    24     1     7     2     0
 5       207 이범호       2003 한화  0.297    13    37     7    11     2     1
 6       148 손시헌       2015 NC    0.190    10    21     0     4     1     0
 7        63 김주형       2014 KIA   0.353    12    34     2    12     5     0
 8       148 손시헌       2012 두산  0.333    12    30     2    10     1     0
 9       187 유강남       2012 LG    0.250    10    20     1     5     0     0
10       201 이대형       2010 LG    0.275    11    40     7    11     2     1
# … with 965 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
test_set <- setdiff(DF, train_set)
test_set %>% show()

# A tibble: 418 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1        69 김태완       2007 한화  0.318     8    22     4     7     3     0
 2        69 김태완       2013 한화  0.250     9    28     3     7     0     0
 3        69 김태완       2018 넥센  0.375     5     8     2     3     1     0
 4         3 강민국       2015 NC    0.100     9    10     2     1     1     0
 5         4 강민호       2008 롯데  0.200     5    10     0     2     1     0
 6         4 강민호       2010 롯데  0.261    10    23     8     6     1     0
 7         4 강민호       2015 롯데  0.158    10    19     1     3     0     0
 8         5 강백호       2018 KT    0.333     6    18     2     6     1     0
 9         9 강승호       2013 LG    0.250     7    12     2     3     2     0
10         9 강승호       2016 LG    0.250    13    32     1     8     0     2
# … with 408 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

# **<4주차 과제 - 100점>**

### **(1) 각각의 문제 바로 아래에 답을 작성 후, lab4.ipynb 파일을 한림SmartLEAD에 제출할 것**
### **(2) 제출 데드라인 : 2020.9.21(월요일) ~ 2020.9.27(일요일) 23:59 까지**
### **(3) 부정행위 적발 시, 원본(보여준 사람)과 복사본(베낀 사람) 모두 0점 처리**
### **(4) !!해당 문제의 코드와 출력 결과를 반드시 기록할 것(둘 중 하나라도 없으면 해당 문제 0점처리)!!**


- - -

## 1. 다음의 코드를 ``%>%``를 이용하여 동일한 결과가 출력되도록 작성하시오 ( https://gomguard.tistory.com/243 참고) **(20 점)**

```
summarise(group_by(mutate(filter(select(iris, Sepal.Length, Species), Sepal.Length >= 5), Petal.Length = 1), Species), n())


## 출력 예시

A tibble: 3 × 2
Species	n()
 <fct>	<int>
setosa	30
versicolor	49
virginica	49
```

In [ ]:
## 답안 작성
#
iris %>% ???

## 2. 주어진 조건을 이용해여 DF에서 새로운 데이터 프레임을 추출하시오(60 점, 문제당 20점)

* dplyr 함수 사용(select, filter, groupby, summarise)

 (1) DF에서 문자형(chr) 열을 제외한 모든 열(column) - select

 (2) DF에서 team이 "두산" 또는 "한화"이고 G가 10 이상인 모든 행(row) - filter

 (3) DF에서 team 별(key) SLG, OPB의 평균과 R의 합 - group_by, summarise

In [ ]:
# 사용 데이터
DF <- fread("ftp://210.115.229.94/2020_datascience/6th_data/Pre_Season_Batter.csv", header = T, encoding = "UTF-8") %>%
  as_tibble()

In [ ]:
DF %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 3         1 강경학       2014 한화  -         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0.000     3     4     0     0     0     0
 8         2 강구성       2016 NC    0.000     3     1     0     0     0     0
 9         2 강구성       2017 NC    1.000     2     1     0     1     0     0
10        69 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

### (1) DF에서 문자형(chr) 열을 제외한 모든 열(column) - select

* 참고 : https://wikidocs.net/33942

In [ ]:
## 답안 작성
#
DF %>% select???

### (2) DF에서 team이 "두산" 또는 "한화"이고 G가 10 이상인 모든 행(row) - filter

In [ ]:
## 답안 작성
#
DF %>% filter???

### (3) DF에서 team 별(key) SLG, OBP의 평균과 R의 합 - group_by, summarise

* **NA 발생시 해당 문제 0점.**
* 출력 예시와 동일해야 함.
* 새로 생성되는 열의 이름을 자유롭게 설정.

```
# 출력예시
A tibble: 13 × 4
team	SLG_mean	OBP_mean	R_sum
<chr>	<dbl>	<dbl>	<int>
KIA	0.4068168	0.3579771	321
KT	0.3732105	0.3196491	143
LG	0.3497235	0.3211813	500
NC	0.4006190	0.3121882	195
SK	0.3501159	0.3052866	426
넥센	0.3833929	0.3228750	315
두산	0.3319891	0.3102688	601
롯데	0.3784125	0.3217500	424
삼성	0.3452260	0.3073151	416
우리	0.2081667	0.1941667	10
한화	0.3503465	0.3193858	335
현대	0.2971111	0.2705000	42
히어로즈	0.2530000	0.2894000	5
```

In [ ]:
## 답안 작성
##
DF %>% group_by(?) %>% summarise(?)

## 3. Train / Test / Validation 데이터 생성하기 - setdiff, sample_frac 사용 (20점)

DF를 Train / Test / Validation 데이터로 6:2:2의 비율로 분할하고자한다.

* 비복원 추출(replace = F) 사용
* nrow()를 이용하여 분할된 데이터의 행의 개수를 파악할 수 있음

```
# 출력 예시
nrow(train_set) + nrow(test_set) + nrow(validation_set)
1393
```

In [151]:
# 사용 데이터
DF <- fread("ftp://210.115.229.94/2020_datascience/6th_data/Pre_Season_Batter.csv", header = T, encoding = "UTF-8") %>%
  as_tibble()

nrow(DF) # DF의 행의 개수

[1] 1393

In [149]:
## 답안 작성
#
train_set <- ?
temp <- ?
test_set <- ?
validation_set <- ?

In [150]:
nrow(train_set) + nrow(test_set) + nrow(validation_set)

[1] 1393