In [1]:
#라이브러리 생성
import tensorflow as tf
import pandas as pd

In [5]:
#과거 데이터 준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [9]:
#종속변수, 독립변수 나누기

종속 = 보스턴[['medv']]
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
print(종속.shape,독립.shape)

(506, 1) (506, 13)

In [10]:
#모델 만들기

x = tf.keras.layers.Input(shape=[13])
#hidden layer 를 추가한다. 
h = tf.keras.layers.Dense(10,activation='swish')(x)
#마지막 output값에 입력되는 것은 hidden layer 이다.
y = tf.keras.layers.Dense(1)(h)

model = tf.keras.models.Model(x,y)
model.compile(loss='mse')

In [12]:
#모델이 원하는 구조로로 만들어졌는지 확인하기
#13개의 input과 하나의 bias가 hidden 10개로 만들어진다.
#(13+1) * 10 = 140

model.summary()

Model: "functional_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense (Dense)                (None, 10)                140
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 11
=================================================================
Total params: 151
Trainable params: 151
Non-trainable params: 0
_________________________________________________________________

In [13]:
#모델을 학습시킨다.

model.fit(독립,종속,epochs=1000,verbose=0)
model.fit(독립,종속,epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 24.7395
Epoch 2/10
16/16 [==============================] - 0s 942us/step - loss: 25.0100
Epoch 3/10
16/16 [==============================] - 0s 856us/step - loss: 25.7368
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 24.2546
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 25.9481
Epoch 6/10
16/16 [==============================] - 0s 1000us/step - loss: 22.8239
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 27.2706
Epoch 8/10
16/16 [==============================] - 0s 967us/step - loss: 23.8995
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 26.3193
Epoch 10/10
16/16 [==============================] - 0s 917us/step - loss: 25.8653

In [15]:
#모델을 이용해 독립값(원인)으로 종속(결과)값 구하기

print(model.predict(독립[:5]))#0부터5까지 
print(종속[:5])

[[30.352526]
 [23.435894]
 [30.115477]
 [29.890715]
 [28.245613]]
   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [17]:
# 모델의 수식 확인
print(model.get_weights())

[array([[-4.00487870e-01, -3.63638103e-01,  2.79752016e-02,
        -4.22367394e-01,  3.27648818e-01, -2.18535185e-01,
        -2.92952675e-02,  5.10829449e-01, -4.80344236e-01,
        -2.72272348e-01],
       [-1.13110065e-01, -2.05138087e-01, -1.24679357e-01,
         3.40672731e-02,  1.47967681e-01, -2.80647993e-01,
        -8.90704617e-02, -2.82201767e-01, -4.66496795e-01,
        -1.62586346e-02],
       [-4.61693518e-02, -4.88062203e-01,  3.53293478e-01,
        -3.25649381e-01,  4.77157570e-02,  7.88855329e-02,
        -2.51284033e-01,  2.52733260e-01,  2.14519858e-01,
        -8.16490129e-02],
       [ 1.78823984e+00,  3.87284815e-01, -4.64903623e-01,
        -6.40642941e-02,  1.21706879e+00,  1.28005898e+00,
         1.36014283e+00, -7.87925541e-01, -3.75430763e-01,
        -1.17200267e+00],
       [-1.40357554e-01,  2.74593741e-01, -2.69523740e-01,
        -4.59846377e-01, -3.14885408e-01, -8.18355158e-02,
         1.11151777e-01, -1.88737169e-01,  2.66104817e-01,
         1.18574038e-01],
       [ 1.72938657e+00, -5.66887140e-01,  1.49856567e-01,
         1.29228175e-01,  1.10044312e+00,  7.99440086e-01,
        -4.62368224e-03, -1.15542185e+00,  2.61334360e-01,
        -8.66633356e-01],
       [-5.29675424e-01, -3.28720778e-01,  3.14289629e-01,
        -7.21721947e-02, -3.05128664e-01,  2.33870119e-01,
         1.97928250e-01, -2.14320779e-01,  1.90354824e-01,
        -2.87599742e-01],
       [-1.17678094e+00, -5.79090953e-01,  3.76488984e-01,
         1.33095086e-01, -4.89866763e-01, -2.63149682e-02,
         1.11054815e-01,  3.49754214e-01, -2.65236706e-01,
         2.04207644e-01],
       [ 8.36393058e-01,  7.86560122e-03, -3.16023827e-04,
        -1.07800722e-01,  4.18682039e-01,  5.83508760e-02,
         5.67087485e-03,  2.44003847e-01,  2.11334646e-01,
         1.78363174e-01],
       [-1.11204451e-02,  2.15900969e-02, -4.78627592e-01,
        -2.89515495e-01,  3.46127331e-01,  3.10939789e-01,
        -8.38829018e-03,  5.88940203e-01, -2.24622518e-01,
         1.10095583e-01],
       [-9.25622284e-01, -3.49358439e-01,  1.58396542e-01,
        -2.91409075e-01,  1.01881161e-01,  7.86798149e-02,
        -3.71894747e-01,  7.13552833e-01,  5.61604500e-02,
         5.25533818e-02],
       [ 2.06256926e-01, -3.26551080e-01, -5.23495674e-02,
        -2.32920885e-01,  1.97991684e-01,  2.74564624e-01,
        -4.29555513e-02,  4.40620154e-01, -4.11257654e-01,
         5.00522777e-02],
       [-1.36976326e+00,  2.76454091e-01,  2.25061297e-01,
         4.89666402e-01, -3.38239461e-01, -8.49978179e-02,
        -1.42857209e-01,  2.70072073e-01, -3.76587093e-01,
        -7.63334408e-02]], dtype=float32), array([ 1.5422413e-01, -1.4852813e-01,  1.9998965e-18,  0.0000000e+00,
        2.7520287e-01,  2.7549875e-01, -1.7371878e-01, -2.9501206e-01,
        0.0000000e+00, -2.8293556e-01], dtype=float32), array([[ 0.42214975],
       [ 0.1783755 ],
       [-0.6898061 ],
       [ 0.32141775],
       [ 0.5648636 ],
       [ 0.57972246],
       [ 2.4475553 ],
       [-0.56491494],
       [-0.55547464],
       [-0.47459993]], dtype=float32), array([0.28516924], dtype=float32)]

In [18]:
#아이리스 품종 분류 -> 종속이 범주(이름)로 되어있어 원핫인코딩 필요

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
아이리스 = pd.read_csv(파일경로)

In [23]:
#원핫인코딩을 이용해 종속값에 있는 이름을 숫자형으로 변환

아이리스 = pd.get_dummies(아이리스)
print(아이리스.columns)
아이리스.head()

Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종_setosa', '품종_versicolor',
       '품종_virginica'],
      dtype='object')

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0   5.1  3.5    1.4   0.2          1              0             0
1   4.9  3.0    1.4   0.2          1              0             0
2   4.7  3.2    1.3   0.2          1              0             0
3   4.6  3.1    1.5   0.2          1              0             0
4   5.0  3.6    1.4   0.2          1              0             0

In [25]:
#종속변수, 독립변수 나눠주가

독립 = 아이리스[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속 = 아이리스[['품종_setosa', '품종_versicolor','품종_virginica']]

print(독립.shape,종속.shape)

(150, 4) (150, 3)

In [44]:
#hidden layer를 포함한 모델 구조 설계
#output에 꼭!! softmax적용시켜줘야함.

x = tf.keras.layers.Input(shape = 4)
h = tf.keras.layers.Dense(8,activation='swish')(x)
h = tf.keras.layers.Dense(8,activation='swish')(h)
h = tf.keras.layers.Dense(8,activation='swish')(h)
y = tf.keras.layers.Dense(3,activation='softmax')(h)

model = tf.keras.models.Model(x,y)
#종속변수가 범주형이기 때문에 loss를 msc가 아닌 entropy 써주고, 정확도를 보기위해 accuracy를 설정해준다.
model.compile(loss='categorical_crossentropy',metrics='accuracy')

In [45]:
model.summary()

Model: "functional_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_4 (InputLayer)         [(None, 4)]               0
_________________________________________________________________
dense_10 (Dense)             (None, 8)                 40
_________________________________________________________________
dense_11 (Dense)             (None, 8)                 72
_________________________________________________________________
dense_12 (Dense)             (None, 8)                 72
_________________________________________________________________
dense_13 (Dense)             (None, 3)                 27
=================================================================
Total params: 211
Trainable params: 211
Non-trainable params: 0
_________________________________________________________________

In [46]:
#모델을 학습시킨다.

model.fit(독립,종속,epochs=1000,verbose = 0)
model.fit(독립,종속,epochs=10)

Epoch 1/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0423 - accuracy: 0.9800
Epoch 2/10
5/5 [==============================] - 0s 1ms/step - loss: 0.0461 - accuracy: 0.9800
Epoch 3/10
5/5 [==============================] - 0s 1ms/step - loss: 0.0468 - accuracy: 0.9733
Epoch 4/10
5/5 [==============================] - 0s 1ms/step - loss: 0.0527 - accuracy: 0.9733
Epoch 5/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0441 - accuracy: 0.9800
Epoch 6/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0472 - accuracy: 0.9800
Epoch 7/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0597 - accuracy: 0.9733
Epoch 8/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0501 - accuracy: 0.9800
Epoch 9/10
5/5 [==============================] - 0s 1ms/step - loss: 0.0460 - accuracy: 0.9867
Epoch 10/10
5/5 [==============================] - 0s 1ms/step - loss: 0.0526 - accuracy: 0.9800

In [47]:
#모델을 이용해 학습잘 되었나 확인하기

print(종속[:5])#나와야 하는 결과
model.predict(독립[:5])

   품종_setosa  품종_versicolor  품종_virginica
0          1              0             0
1          1              0             0
2          1              0             0
3          1              0             0
4          1              0             0

array([[9.9999976e-01, 2.5849573e-07, 7.8532742e-18],
       [9.9999857e-01, 1.4154043e-06, 3.9078733e-16],
       [9.9999905e-01, 9.6927010e-07, 1.7680009e-16],
       [9.9999499e-01, 4.9779169e-06, 2.7148795e-15],
       [9.9999976e-01, 2.7986567e-07, 7.8168394e-18]], dtype=float32)