In [2]:
#라이브러리 사용
import pandas as pd

In [13]:
#기존 데이터 읽어오기
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris2.csv'
아이리스 = pd.read_csv(파일경로)
아이리스.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [14]:
#int형인 품종부분의 데이터 타입을 category 형으로 바꿔줘야 원핫인코딩 가능

print(아이리스.dtypes)
print('품종의 데이터 타입 = ',아이리스['품종'].dtype)
인코딩 = pd.get_dummies(아이리스)
인코딩.head()

꽃잎길이     float64
꽃잎폭      float64
꽃받침길이    float64
꽃받침폭     float64
품종         int64
dtype: object
품종의 데이터 타입 =  int64

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [15]:
#데이터타입 바꿔주고 바꾼 데이터타입 확인

아이리스['품종'] = 아이리스['품종'].astype('category')
print(아이리스.dtypes)#품종의 데이터타입이 바뀜

꽃잎길이      float64
꽃잎폭       float64
꽃받침길이     float64
꽃받침폭      float64
품종       category
dtype: object

In [16]:
#원핫인코딩 진행

인코딩 = pd.get_dummies(아이리스)
인코딩.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_0  품종_1  품종_2
0   5.1  3.5    1.4   0.2     1     0     0
1   4.9  3.0    1.4   0.2     1     0     0
2   4.7  3.2    1.3   0.2     1     0     0
3   4.6  3.1    1.5   0.2     1     0     0
4   5.0  3.6    1.4   0.2     1     0     0

In [20]:
#자료에 NAN값이 있는지 찾기

print(아이리스.isna().sum())
아이리스.tail()#끝부분에 있음

꽃잎길이     0
꽃잎폭      1
꽃받침길이    0
꽃받침폭     0
품종       0
dtype: int64

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.0    5.2   2.3  2
146   6.3  2.5    5.0   1.9  2
147   6.5  3.0    5.2   2.0  2
148   6.2  3.4    5.4   2.3  2
149   5.9  NaN    5.1   1.8  2

In [21]:
#꽃잎폭의 평균을 구한다.

mean = 아이리스['꽃잎폭'].mean()
print(mean)

3.0543624161073835

In [22]:
#NAN값에 꽃입폭의 평균값을 넣어준다.

아이리스['꽃잎폭'] = 아이리스['꽃잎폭'].fillna(mean)#na값에 값을 채우는 방법
아이리스.tail()

     꽃잎길이       꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.000000    5.2   2.3  2
146   6.3  2.500000    5.0   1.9  2
147   6.5  3.000000    5.2   2.0  2
148   6.2  3.400000    5.4   2.3  2
149   5.9  3.054362    5.1   1.8  2