# **빅데이터 개론 Lab 11 - 교차분석, 데이터베이스 연동**

참고자료 : https://www.notion.so/TA-2689a38b5289413a82671d3956fea103

- - -

### **<교차분석>**

* 두 범주형 변수 간에 연관관계(association)가 있는지의 여부를 판단하고자 하는 경우 교차표를 작성하여 변수들 간의 관계를 분석한다.

 - 이를 교차분석 혹은 χ2(chi-square) 검정(test)이라고 한다. 교차분석은 두 변수의 빈도표를 교차 시킨다는 의미로 해석되며, 교차분석에 사용되는 검정 통계량이 ``χ2 -분포를 따르므로 χ2 - 검정``으로 부른다.

 - 교차표(cross tabulation), 분할표(contingency table): 각 범주형 변수에 대한 빈도표를 행과 열로 결합시켜 놓은 형태이다. 일반적으로 행에는 설명(독립)변수에 해당 하는 변수를 할당하고, 열에는 반응(종속)변수를 할당한다.

In [ ]:
install.packages(c("tidyverse", "data.table", "gmodels"))
library(tidyverse)
library(data.table)
library(gmodels)
options(repr.plot.width=13, repr.plot.height=13)

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘gtools’, ‘gdata’


── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘data.table’


The following objects are masked from ‘package:dplyr’:

    between, first, last


The following object is masked from ‘package:purrr’:

    transpose

#### **A. 예제 1**

---

1. **HR(Human Resource, 인사관리)_연습데이터([링크](https://www.dropbox.com/sh/xx1w2syi768kfu0/AACZgxgo1fcxyDMgv9U-iTz8a?dl=0))**

* 변수 설명

```
satisfaction_level : 직무 만족도
last_evaluation : 마지막 평가점수
number_project : 진행 프로젝트 수
average_monthly_hours : 월평균 근무시간
time_spend_company : 근속년수
work_accident : 사건사고 여부(0: 없음, 1: 있음, 범주형)
left : 이직 여부(0: 잔류, 1: 이직, 범주형)
promotion_last_5years: 최근 5년간 승진여부(0: 승진 x, 1: 승진, 범주형)
sales : 부서(범주형)
salary : 임금 수준(범주형)
```

In [ ]:
hr_DF <- fread("https://raw.githubusercontent.com/Jin0331/TA/master/data/HR_comma_sep.csv", sep = ",") %>% as_tibble()

In [ ]:
hr_DF %>% str()

tibble [14,999 × 10] (S3: tbl_df/tbl/data.frame)
 $ satisfaction_level   : num [1:14999] 0.38 0.8 0.11 0.72 0.37 0.41 0.1 0.92 0.89 0.42 ...
 $ last_evaluation      : num [1:14999] 0.53 0.86 0.88 0.87 0.52 0.5 0.77 0.85 1 0.53 ...
 $ number_project       : int [1:14999] 2 5 7 5 2 2 6 5 5 2 ...
 $ average_montly_hours : int [1:14999] 157 262 272 223 159 153 247 259 224 142 ...
 $ time_spend_company   : int [1:14999] 3 6 4 5 3 3 4 5 5 3 ...
 $ Work_accident        : int [1:14999] 0 0 0 0 0 0 0 0 0 0 ...
 $ left                 : int [1:14999] 1 1 1 1 1 1 1 1 1 1 ...
 $ promotion_last_5years: int [1:14999] 0 0 0 0 0 0 0 0 0 0 ...
 $ sales                : chr [1:14999] "sales" "sales" "sales" "sales" ...
 $ salary               : chr [1:14999] "low" "medium" "medium" "low" ...
 - attr(*, ".internal.selfref")=<externalptr>

In [ ]:
hr_DF %>% summary()

 satisfaction_level last_evaluation  number_project  average_montly_hours
 Min.   :0.0900     Min.   :0.3600   Min.   :2.000   Min.   : 96.0
 1st Qu.:0.4400     1st Qu.:0.5600   1st Qu.:3.000   1st Qu.:156.0
 Median :0.6400     Median :0.7200   Median :4.000   Median :200.0
 Mean   :0.6128     Mean   :0.7161   Mean   :3.803   Mean   :201.1
 3rd Qu.:0.8200     3rd Qu.:0.8700   3rd Qu.:5.000   3rd Qu.:245.0
 Max.   :1.0000     Max.   :1.0000   Max.   :7.000   Max.   :310.0
 time_spend_company Work_accident         left        promotion_last_5years
 Min.   : 2.000     Min.   :0.0000   Min.   :0.0000   Min.   :0.00000
 1st Qu.: 3.000     1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.00000
 Median : 3.000     Median :0.0000   Median :0.0000   Median :0.00000
 Mean   : 3.498     Mean   :0.1446   Mean   :0.2381   Mean   :0.02127
 3rd Qu.: 4.000     3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.00000
 Max.   :10.000     Max.   :1.0000   Max.   :1.0000   Max.   :1.00000
    sales              salary
 Length:14999       Length:14999
 Class :character   Class :character
 Mode  :character   Mode  :character

* 범주형 변수 확인

In [ ]:
hr_DF$sales %>% unique()

 [1] "sales"       "accounting"  "hr"          "technical"   "support"
 [6] "management"  "IT"          "product_mng" "marketing"   "RandD"

In [ ]:
hr_DF$salary %>% unique()

[1] "low"    "medium" "high"

In [ ]:
hr_DF$Work_accident %>% unique()

[1] 0 1

In [ ]:
hr_DF$left %>% unique()

[1] 1 0

In [ ]:
hr_DF$promotion_last_5years %>% unique()

[1] 0 1

* mutate를 이용한 데이터 타입 변경(int or chr ---> factor)

In [ ]:
## mutate_at을 이용해 한번에 여러 행값을 넘겨준 후, facter형으로 바꿔준다. 
## levels = 몇개의 종류가 있는지 알려줌 => ex) sales는 총 10가지 종류가 있는데, 그것을 다 범주형으로 바꿔줬다.

hr_DF <- hr_DF %>% mutate_at(`.vars` = c("sales", "salary", "Work_accident", "left", "promotion_last_5years"), `.funs` = as.factor)
hr_DF %>% str()

tibble [14,999 × 10] (S3: tbl_df/tbl/data.frame)
 $ satisfaction_level   : num [1:14999] 0.38 0.8 0.11 0.72 0.37 0.41 0.1 0.92 0.89 0.42 ...
 $ last_evaluation      : num [1:14999] 0.53 0.86 0.88 0.87 0.52 0.5 0.77 0.85 1 0.53 ...
 $ number_project       : int [1:14999] 2 5 7 5 2 2 6 5 5 2 ...
 $ average_montly_hours : int [1:14999] 157 262 272 223 159 153 247 259 224 142 ...
 $ time_spend_company   : int [1:14999] 3 6 4 5 3 3 4 5 5 3 ...
 $ Work_accident        : Factor w/ 2 levels "0","1": 1 1 1 1 1 1 1 1 1 1 ...
 $ left                 : Factor w/ 2 levels "0","1": 2 2 2 2 2 2 2 2 2 2 ...
 $ promotion_last_5years: Factor w/ 2 levels "0","1": 1 1 1 1 1 1 1 1 1 1 ...
 $ sales                : Factor w/ 10 levels "accounting","hr",..: 8 8 8 8 8 8 8 8 8 8 ...
 $ salary               : Factor w/ 3 levels "high","low","medium": 2 3 3 2 2 2 2 2 2 2 ...
 - attr(*, ".internal.selfref")=<externalptr>

* left(이직여부)와 salary(연봉수준)의 연관성 검사

In [ ]:
# 이직여부와 연봉수준의 연관성을 검사한다. 
# 교차표로 보여준다.
# cell contents => 자료에 어떤것을 표시했는지 나타내줌 
# 1.N = 관측값, 2. Expected= 기대값, 3.Chi-square= 카이제곱 검정
# Chi^2 =  381.225  -> 카이제곱    
# d.f. =  2  -> 자유도 => (행의갯수-1) * (열의갯수-1)
# p =  1.652087e-83   -> p-value값( 낮은 수치인것을 볼 수 있다. -> 귀무가설 기각 -> 관계가 존재한다.)
# e = 자연로그 -> 2.7xxx 로 생각하면 됨


gmodels::CrossTable(hr_DF$left, hr_DF$salary, 
                    chisq = T, # 카이제곱 검정
                    expected = T, # 기대값(E) 표시
                    prop.r = F, prop.c = F) # 각 셀의 비율표시(F)-> 볼필요 없음

   Cell Contents
|-------------------------|
|                       N |
|              Expected N |
| Chi-square contribution |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  14999


             | hr_DF$salary
  hr_DF$left |      high |       low |    medium | Row Total |
-------------|-----------|-----------|-----------|-----------|
           0 |      1155 |      5144 |      5129 |     11428 |
             |   942.492 |  5574.188 |  4911.320 |           |
             |    47.915 |    33.200 |     9.648 |           |
             |     0.077 |     0.343 |     0.342 |           |
-------------|-----------|-----------|-----------|-----------|
           1 |        82 |      2172 |      1317 |      3571 |
             |   294.508 |  1741.812 |  1534.680 |           |
             |   153.339 |   106.247 |    30.876 |           |
             |     0.005 |     0.145 |     0.088 |           |
-------------|-----------|-----------|-----------|-----------|
Column Total |      1237 |      7316 |      6446 |     14999 |
-------------|-----------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  381.225     d.f. =  2     p =  1.652087e-83

* left(이직여부)와 promotion_last_5years(5년간 승진여부)의 연관성 검사

In [ ]:
# 이직여부와 승진여부를 교차검증한다. 
# p =  3.813123e-14  => 낮은수치임 -> 귀무가설 기각 (관련이 있다.)

gmodels::CrossTable(hr_DF$left, hr_DF$promotion_last_5years, 
                    chisq = T, # 카이제곱 검정
                    expected = T, # 기대값(E) 표시
                    prop.r = F, prop.c = F) # 각 셀의 비율표시(F)

   Cell Contents
|-------------------------|
|                       N |
|              Expected N |
| Chi-square contribution |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  14999


             | hr_DF$promotion_last_5years
  hr_DF$left |         0 |         1 | Row Total |
-------------|-----------|-----------|-----------|
           0 |     11128 |       300 |     11428 |
             | 11184.948 |   243.052 |           |
             |     0.290 |    13.343 |           |
             |     0.742 |     0.020 |           |
-------------|-----------|-----------|-----------|
           1 |      3552 |        19 |      3571 |
             |  3495.052 |    75.948 |           |
             |     0.928 |    42.702 |           |
             |     0.237 |     0.001 |           |
-------------|-----------|-----------|-----------|
Column Total |     14680 |       319 |     14999 |
-------------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  57.26273     d.f. =  1     p =  3.813123e-14

Pearson's Chi-squared test with Yates' continuity correction
------------------------------------------------------------
Chi^2 =  56.26163     d.f. =  1     p =  6.344155e-14

* left(이직여부)와 Work_accident(사건사고 여부)의 연관성 검사

In [ ]:
gmodels::CrossTable(hr_DF$left, hr_DF$Work_accident, 
                    chisq = T, # 카이제곱 검정
                    expected = T, # 기대값(E) 표시
                    prop.r = F, prop.c = F) # 각 셀의 비율표시(F)

   Cell Contents
|-------------------------|
|                       N |
|              Expected N |
| Chi-square contribution |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  14999


             | hr_DF$Work_accident
  hr_DF$left |         0 |         1 | Row Total |
-------------|-----------|-----------|-----------|
           0 |      9428 |      2000 |     11428 |
             |  9775.401 |  1652.599 |           |
             |    12.346 |    73.029 |           |
             |     0.629 |     0.133 |           |
-------------|-----------|-----------|-----------|
           1 |      3402 |       169 |      3571 |
             |  3054.599 |   516.401 |           |
             |    39.510 |   233.709 |           |
             |     0.227 |     0.011 |           |
-------------|-----------|-----------|-----------|
Column Total |     12830 |      2169 |     14999 |
-------------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  358.5938     d.f. =  1     p =  5.698673e-80

Pearson's Chi-squared test with Yates' continuity correction
------------------------------------------------------------
Chi^2 =  357.5624     d.f. =  1     p =  9.55824e-80

* left(이직여부)와 sales(부서)의 연관성 검사

In [ ]:
gmodels::CrossTable(hr_DF$left, hr_DF$sales, 
                    chisq = T, # 카이제곱 검정
                    expected = T, # 기대값(E) 표시
                    prop.r = F, prop.c = F) # 각 셀의 비율표시(F)

   Cell Contents
|-------------------------|
|                       N |
|              Expected N |
| Chi-square contribution |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  14999


             | hr_DF$sales
  hr_DF$left |  accounting |          hr |          IT |  management |   marketing | product_mng |       RandD |       sales |     support |   technical |   Row Total |
-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|
           0 |         563 |         524 |         954 |         539 |         655 |         704 |         666 |        3126 |        1674 |        2023 |       11428 |
             |     584.391 |     563.057 |     934.873 |     480.008 |     653.725 |     687.250 |     599.629 |    3154.338 |    1698.314 |    2072.415 |             |
             |       0.783 |       2.709 |       0.391 |       7.250 |       0.002 |       0.408 |       7.346 |       0.255 |       0.348 |       1.178 |             |
             |       0.038 |       0.035 |       0.064 |       0.036 |       0.044 |       0.047 |       0.044 |       0.208 |       0.112 |       0.135 |             |
-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|
           1 |         204 |         215 |         273 |          91 |         203 |         198 |         121 |        1014 |         555 |         697 |        3571 |
             |     182.609 |     175.943 |     292.127 |     149.992 |     204.275 |     214.750 |     187.371 |     985.662 |     530.686 |     647.585 |             |
             |       2.506 |       8.670 |       1.252 |      23.202 |       0.008 |       1.307 |      23.510 |       0.815 |       1.114 |       3.771 |             |
             |       0.014 |       0.014 |       0.018 |       0.006 |       0.014 |       0.013 |       0.008 |       0.068 |       0.037 |       0.046 |             |
-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|
Column Total |         767 |         739 |        1227 |         630 |         858 |         902 |         787 |        4140 |        2229 |        2720 |       14999 |
-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  86.82547     d.f. =  9     p =  7.04213e-15

* promotion_last_5years(5년간 승진여부)와 Work_accident(사건사고 여부)의 연관성 검사

In [ ]:
gmodels::CrossTable(hr_DF$promotion_last_5years, hr_DF$Work_accident, 
                    chisq = T, # 카이제곱 검정
                    expected = T, # 기대값(E) 표시
                    prop.r = F, prop.c = F) # 각 셀의 비율표시(F)

   Cell Contents
|-------------------------|
|                       N |
|              Expected N |
| Chi-square contribution |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  14999


                            | hr_DF$Work_accident
hr_DF$promotion_last_5years |         0 |         1 | Row Total |
----------------------------|-----------|-----------|-----------|
                          0 |     12587 |      2093 |     14680 |
                            | 12557.130 |  2122.870 |           |
                            |     0.071 |     0.420 |           |
                            |     0.839 |     0.140 |           |
----------------------------|-----------|-----------|-----------|
                          1 |       243 |        76 |       319 |
                            |   272.870 |    46.130 |           |
                            |     3.270 |    19.341 |           |
                            |     0.016 |     0.005 |           |
----------------------------|-----------|-----------|-----------|
               Column Total |     12830 |      2169 |     14999 |
----------------------------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  23.10152     d.f. =  1     p =  1.53669e-06

Pearson's Chi-squared test with Yates' continuity correction
------------------------------------------------------------
Chi^2 =  22.33458     d.f. =  1     p =  2.290447e-06

* Work_accident(사건사고 여부)와 sales(부서)의 연관성 검사

In [ ]:
gmodels::CrossTable(hr_DF$Work_accident, hr_DF$sales, 
                    chisq = T, # 카이제곱 검정
                    expected = T, # 기대값(E) 표시
                    prop.r = F, prop.c = F) # 각 셀의 비율표시(F)

   Cell Contents
|-------------------------|
|                       N |
|              Expected N |
| Chi-square contribution |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  14999


                    | hr_DF$sales
hr_DF$Work_accident |  accounting |          hr |          IT |  management |   marketing | product_mng |       RandD |       sales |     support |   technical |   Row Total |
--------------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|
                  0 |         671 |         650 |        1063 |         527 |         720 |         770 |         653 |        3553 |        1884 |        2339 |       12830 |
                    |     656.084 |     632.133 |    1049.564 |     538.896 |     733.925 |     771.562 |     673.192 |    3541.316 |    1906.665 |    2326.662 |             |
                    |       0.339 |       0.505 |       0.172 |       0.263 |       0.264 |       0.003 |       0.606 |       0.039 |       0.269 |       0.065 |             |
                    |       0.045 |       0.043 |       0.071 |       0.035 |       0.048 |       0.051 |       0.044 |       0.237 |       0.126 |       0.156 |             |
--------------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|
                  1 |          96 |          89 |         164 |         103 |         138 |         132 |         134 |         587 |         345 |         381 |        2169 |
                    |     110.916 |     106.867 |     177.436 |      91.104 |     124.075 |     130.438 |     113.808 |     598.684 |     322.335 |     393.338 |             |
                    |       2.006 |       2.987 |       1.017 |       1.553 |       1.563 |       0.019 |       3.583 |       0.228 |       1.594 |       0.387 |             |
                    |       0.006 |       0.006 |       0.011 |       0.007 |       0.009 |       0.009 |       0.009 |       0.039 |       0.023 |       0.025 |             |
--------------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|
       Column Total |         767 |         739 |        1227 |         630 |         858 |         902 |         787 |        4140 |        2229 |        2720 |       14999 |
--------------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  17.46149     d.f. =  9     p =  0.04196082

* salary(연봉)과 sales(부서)의 연관성 검사

In [ ]:
gmodels::CrossTable(hr_DF$salary, hr_DF$sales, 
                    chisq = T, # 카이제곱 검정
                    expected = T, # 기대값(E) 표시
                    prop.r = F, prop.c = F) # 각 셀의 비율표시(F)

   Cell Contents
|-------------------------|
|                       N |
|              Expected N |
| Chi-square contribution |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  14999


             | hr_DF$sales
hr_DF$salary |  accounting |          hr |          IT |  management |   marketing | product_mng |       RandD |       sales |     support |   technical |   Row Total |
-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|
        high |          74 |          45 |          83 |         225 |          80 |          68 |          51 |         269 |         141 |         201 |        1237 |
             |      63.256 |      60.947 |     101.193 |      51.957 |      70.761 |      74.390 |      64.906 |     341.435 |     183.830 |     224.324 |             |
             |       1.825 |       4.173 |       3.271 |     576.312 |       1.206 |       0.549 |       2.979 |      15.367 |       9.979 |       2.425 |             |
             |       0.005 |       0.003 |       0.006 |       0.015 |       0.005 |       0.005 |       0.003 |       0.018 |       0.009 |       0.013 |             |
-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|
         low |         358 |         335 |         609 |         180 |         402 |         451 |         364 |        2099 |        1146 |        1372 |        7316 |
             |     374.116 |     360.459 |     598.489 |     307.292 |     418.503 |     439.965 |     383.872 |    2019.351 |    1087.230 |    1326.723 |             |
             |       0.694 |       1.798 |       0.185 |      52.729 |       0.651 |       0.277 |       1.029 |       3.142 |       3.177 |       1.545 |             |
             |       0.024 |       0.022 |       0.041 |       0.012 |       0.027 |       0.030 |       0.024 |       0.140 |       0.076 |       0.091 |             |
-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|
      medium |         335 |         359 |         535 |         225 |         376 |         383 |         372 |        1772 |         942 |        1147 |        6446 |
             |     329.627 |     317.594 |     527.318 |     270.750 |     368.736 |     387.645 |     338.223 |    1779.215 |     957.939 |    1168.953 |             |
             |       0.088 |       5.398 |       0.112 |       7.731 |       0.143 |       0.056 |       3.373 |       0.029 |       0.265 |       0.412 |             |
             |       0.022 |       0.024 |       0.036 |       0.015 |       0.025 |       0.026 |       0.025 |       0.118 |       0.063 |       0.076 |             |
-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|
Column Total |         767 |         739 |        1227 |         630 |         858 |         902 |         787 |        4140 |        2229 |        2720 |       14999 |
-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  700.9193     d.f. =  18     p =  3.621445e-137

#### **B. 예제 2**

---

* https://www.kaggle.com/c/titanic/data

**<kaggle의 타이타닉 data>**

  * survived : 생존=1, 죽음=0
  * pclass : 승객 등급. 1등급=1, 2등급=2, 3등급=3
  * sibsp : 함께 탑승한 형제 또는 배우자 수
  * parch : 함께 탑승한 부모 또는 자녀 수
  * ticket : 티켓 번호
  * cabin : 선실 번호
  * embarked : 탑승장소 S=Southhampton, C=Cherbourg, Q=Queenstown

In [ ]:
DF <- fread("https://raw.githubusercontent.com/Jin0331/TA/master/data/titanic/train.csv") %>%
 as_tibble()

In [ ]:
str(DF)

tibble [891 × 12] (S3: tbl_df/tbl/data.frame)
 $ PassengerId: int [1:891] 1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int [1:891] 0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int [1:891] 3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : chr [1:891] "Braund, Mr. Owen Harris" "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" "Heikkinen, Miss. Laina" "Futrelle, Mrs. Jacques Heath (Lily May Peel)" ...
 $ Sex        : chr [1:891] "male" "female" "female" "female" ...
 $ Age        : num [1:891] 22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp      : int [1:891] 1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int [1:891] 0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : chr [1:891] "A/5 21171" "PC 17599" "STON/O2. 3101282" "113803" ...
 $ Fare       : num [1:891] 7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin      : chr [1:891] "" "C85" "" "C123" ...
 $ Embarked   : chr [1:891] "S" "C" "S" "S" ...
 - attr(*, ".internal.selfref")=<externalptr>

In [ ]:
DF %>% summary()

  PassengerId       Survived          Pclass          Name
 Min.   :  1.0   Min.   :0.0000   Min.   :1.000   Length:891
 1st Qu.:223.5   1st Qu.:0.0000   1st Qu.:2.000   Class :character
 Median :446.0   Median :0.0000   Median :3.000   Mode  :character
 Mean   :446.0   Mean   :0.3838   Mean   :2.309
 3rd Qu.:668.5   3rd Qu.:1.0000   3rd Qu.:3.000
 Max.   :891.0   Max.   :1.0000   Max.   :3.000

     Sex                 Age            SibSp           Parch
 Length:891         Min.   : 0.42   Min.   :0.000   Min.   :0.0000
 Class :character   1st Qu.:20.12   1st Qu.:0.000   1st Qu.:0.0000
 Mode  :character   Median :28.00   Median :0.000   Median :0.0000
                    Mean   :29.70   Mean   :0.523   Mean   :0.3816
                    3rd Qu.:38.00   3rd Qu.:1.000   3rd Qu.:0.0000
                    Max.   :80.00   Max.   :8.000   Max.   :6.0000
                    NA's   :177
    Ticket               Fare           Cabin             Embarked
 Length:891         Min.   :  0.00   Length:891         Length:891
 Class :character   1st Qu.:  7.91   Class :character   Class :character
 Mode  :character   Median : 14.45   Mode  :character   Mode  :character
                    Mean   : 32.20
                    3rd Qu.: 31.00
                    Max.   :512.33

* 범주형 변수 확인

In [ ]:
DF$Survived %>% unique()

[1] 0 1

In [ ]:
DF$Pclass %>% unique()

[1] 3 1 2

In [ ]:
DF$Sex %>% unique()

[1] "male"   "female"

In [ ]:
DF$Ticket %>% unique()

  [1] "A/5 21171"          "PC 17599"           "STON/O2. 3101282"
  [4] "113803"             "373450"             "330877"
  [7] "17463"              "349909"             "347742"
 [10] "237736"             "PP 9549"            "113783"
 [13] "A/5. 2151"          "347082"             "350406"
 [16] "248706"             "382652"             "244373"
 [19] "345763"             "2649"               "239865"
 [22] "248698"             "330923"             "113788"
 [25] "347077"             "2631"               "19950"
 [28] "330959"             "349216"             "PC 17601"
 [31] "PC 17569"           "335677"             "C.A. 24579"
 [34] "PC 17604"           "113789"             "2677"
 [37] "A./5. 2152"         "345764"             "2651"
 [40] "7546"               "11668"              "349253"
 [43] "SC/Paris 2123"      "330958"             "S.C./A.4. 23567"
 [46] "370371"             "14311"              "2662"
 [49] "349237"             "3101295"            "A/4. 39886"
 [52] "PC 17572"           "2926"               "113509"
 [55] "19947"              "C.A. 31026"         "2697"
 [58] "C.A. 34651"         "CA 2144"            "2669"
 [61] "113572"             "36973"              "347088"
 [64] "PC 17605"           "2661"               "C.A. 29395"
 [67] "S.P. 3464"          "3101281"            "315151"
 [70] "C.A. 33111"         "S.O.C. 14879"       "2680"
 [73] "1601"               "348123"             "349208"
 [76] "374746"             "248738"             "364516"
 [79] "345767"             "345779"             "330932"
 [82] "113059"             "SO/C 14885"         "3101278"
 [85] "W./C. 6608"         "SOTON/OQ 392086"    "343275"
 [88] "343276"             "347466"             "W.E.P. 5734"
 [91] "C.A. 2315"          "364500"             "374910"
 [94] "PC 17754"           "PC 17759"           "231919"
 [97] "244367"             "349245"             "349215"
[100] "35281"              "7540"               "3101276"
[103] "349207"             "343120"             "312991"
[106] "349249"             "371110"             "110465"
[109] "2665"               "324669"             "4136"
[112] "2627"               "STON/O 2. 3101294"  "370369"
[115] "PC 17558"           "A4. 54510"          "27267"
[118] "370372"             "C 17369"            "2668"
[121] "347061"             "349241"             "SOTON/O.Q. 3101307"
[124] "A/5. 3337"          "228414"             "C.A. 29178"
[127] "SC/PARIS 2133"      "11752"              "7534"
[130] "PC 17593"           "2678"               "347081"
[133] "STON/O2. 3101279"   "365222"             "231945"
[136] "C.A. 33112"         "350043"             "230080"
[139] "244310"             "S.O.P. 1166"        "113776"
[142] "A.5. 11206"         "A/5. 851"           "Fa 265302"
[145] "PC 17597"           "35851"              "SOTON/OQ 392090"
[148] "315037"             "CA. 2343"           "371362"
[151] "C.A. 33595"         "347068"             "315093"
[154] "363291"             "113505"             "PC 17318"
[157] "111240"             "STON/O 2. 3101280"  "17764"
[160] "350404"             "4133"               "PC 17595"
[163] "250653"             "LINE"               "SC/PARIS 2131"
[166] "230136"             "315153"             "113767"
[169] "370365"             "111428"             "364849"
[172] "349247"             "234604"             "28424"
[175] "350046"             "PC 17610"           "368703"
[178] "4579"               "370370"             "248747"
[181] "345770"             "3101264"            "2628"
[184] "A/5 3540"           "347054"             "2699"
[187] "367231"             "112277"             "SOTON/O.Q. 3101311"
[190] "F.C.C. 13528"       "A/5 21174"          "250646"
[193] "367229"             "35273"              "STON/O2. 3101283"
[196] "243847"             "11813"              "W/C 14208"
[199] "SOTON/OQ 392089"    "220367"             "21440"
[202] "349234"             "19943"              "PP 4348"
[205] "SW/PP 751"          "A/5 21173"          "236171"
[208] "347067"             "237442"             "C.A. 29566"
[211] "W./C. 6609"         "26707"              "C.A. 31921"
[214] "28665"              "SCO/W 1585"         "367230"
[217] "W./C. 14263"        "STON/O 2. 3101275"  "2694"
[220] "19928"              "347071"             "250649"
[223] "11751"              "244252"             "362316"
[226] "113514"             "A/5. 3336"          "370129"
[229] "2650"               "PC 17585"           "110152"
[232] "PC 17755"           "230433"             "384461"
[235] "110413"             "112059"             "382649"
[238] "C.A. 17248"         "347083"             "PC 17582"
[241] "PC 17760"           "113798"             "250644"
[244] "PC 17596"           "370375"             "13502"
[247] "347073"             "239853"             "C.A. 2673"
[250] "336439"             "347464"             "345778"
[253] "A/5. 10482"         "113056"             "349239"
[256] "345774"             "349206"             "237798"
[259] "370373"             "19877"              "11967"
[262] "SC/Paris 2163"      "349236"             "349233"
[265] "PC 17612"           "2693"               "113781"
[268] "19988"              "9234"               "367226"
[271] "226593"             "A/5 2466"           "17421"
[274] "PC 17758"           "P/PP 3381"          "PC 17485"
[277] "11767"              "PC 17608"           "250651"
[280] "349243"             "F.C.C. 13529"       "347470"
[283] "29011"              "36928"              "16966"
[286] "A/5 21172"          "349219"             "234818"
[289] "345364"             "28551"              "111361"
[292] "113043"             "PC 17611"           "349225"
[295] "7598"               "113784"             "248740"
[298] "244361"             "229236"             "248733"
[301] "31418"              "386525"             "C.A. 37671"
[304] "315088"             "7267"               "113510"
[307] "2695"               "2647"               "345783"
[310] "237671"             "330931"             "330980"
[313] "SC/PARIS 2167"      "2691"               "SOTON/O.Q. 3101310"
[316] "C 7076"             "110813"             "2626"
[319] "14313"              "PC 17477"           "11765"
[322] "3101267"            "323951"             "C 7077"
[325] "113503"             "2648"               "347069"
[328] "PC 17757"           "2653"               "STON/O 2. 3101293"
[331] "349227"             "27849"              "367655"
[334] "SC 1748"            "113760"             "350034"
[337] "3101277"            "350052"             "350407"
[340] "28403"              "244278"             "240929"
[343] "STON/O 2. 3101289"  "341826"             "4137"
[346] "315096"             "28664"              "347064"
[349] "29106"              "312992"             "349222"
[352] "394140"             "STON/O 2. 3101269"  "343095"
[355] "28220"              "250652"             "28228"
[358] "345773"             "349254"             "A/5. 13032"
[361] "315082"             "347080"             "A/4. 34244"
[364] "2003"               "250655"             "364851"
[367] "SOTON/O.Q. 392078"  "110564"             "376564"
[370] "SC/AH 3085"         "STON/O 2. 3101274"  "13507"
[373] "C.A. 18723"         "345769"             "347076"
[376] "230434"             "65306"              "33638"
[379] "113794"             "2666"               "113786"
[382] "65303"              "113051"             "17453"
[385] "A/5 2817"           "349240"             "13509"
[388] "17464"              "F.C.C. 13531"       "371060"
[391] "19952"              "364506"             "111320"
[394] "234360"             "A/S 2816"           "SOTON/O.Q. 3101306"
[397] "113792"             "36209"              "323592"
[400] "315089"             "SC/AH Basle 541"    "7553"
[403] "31027"              "3460"               "350060"
[406] "3101298"            "239854"             "A/5 3594"
[409] "4134"               "11771"              "A.5. 18509"
[412] "65304"              "SOTON/OQ 3101317"   "113787"
[415] "PC 17609"           "A/4 45380"          "36947"
[418] "C.A. 6212"          "350035"             "315086"
[421] "364846"             "330909"             "4135"
[424] "26360"              "111427"             "C 4001"
[427] "382651"             "SOTON/OQ 3101316"   "PC 17473"
[430] "PC 17603"           "349209"             "36967"
[433] "C.A. 34260"         "226875"             "349242"
[436] "12749"              "349252"             "2624"
[439] "2700"               "367232"             "W./C. 14258"
[442] "PC 17483"           "3101296"            "29104"
[445] "2641"               "2690"               "315084"
[448] "113050"             "PC 17761"           "364498"
[451] "13568"              "WE/P 5735"          "2908"
[454] "693"                "SC/PARIS 2146"      "244358"
[457] "330979"             "2620"               "347085"
[460] "113807"             "11755"              "345572"
[463] "372622"             "349251"             "218629"
[466] "SOTON/OQ 392082"    "SOTON/O.Q. 392087"  "A/4 48871"
[469] "349205"             "2686"               "350417"
[472] "S.W./PP 752"        "11769"              "PC 17474"
[475] "14312"              "A/4. 20589"         "358585"
[478] "243880"             "2689"               "STON/O 2. 3101286"
[481] "237789"             "13049"              "3411"
[484] "237565"             "13567"              "14973"
[487] "A./5. 3235"         "STON/O 2. 3101273"  "A/5 3902"
[490] "364848"             "SC/AH 29037"        "248727"
[493] "2664"               "349214"             "113796"
[496] "364511"             "111426"             "349910"
[499] "349246"             "113804"             "SOTON/O.Q. 3101305"
[502] "370377"             "364512"             "220845"
[505] "31028"              "2659"               "11753"
[508] "350029"             "54636"              "36963"
[511] "219533"             "349224"             "334912"
[514] "27042"              "347743"             "13214"
[517] "112052"             "237668"             "STON/O 2. 3101292"
[520] "350050"             "349231"             "13213"
[523] "S.O./P.P. 751"      "CA. 2314"           "349221"
[526] "8475"               "330919"             "365226"
[529] "349223"             "29751"              "2623"
[532] "5727"               "349210"             "STON/O 2. 3101285"
[535] "234686"             "312993"             "A/5 3536"
[538] "19996"              "29750"              "F.C. 12750"
[541] "C.A. 24580"         "244270"             "239856"
[544] "349912"             "342826"             "4138"
[547] "330935"             "6563"               "349228"
[550] "350036"             "24160"              "17474"
[553] "349256"             "2672"               "113800"
[556] "248731"             "363592"             "35852"
[559] "348121"             "PC 17475"           "36864"
[562] "350025"             "223596"             "PC 17476"
[565] "PC 17482"           "113028"             "7545"
[568] "250647"             "348124"             "34218"
[571] "36568"              "347062"             "350048"
[574] "12233"              "250643"             "113806"
[577] "315094"             "36866"              "236853"
[580] "STON/O2. 3101271"   "239855"             "28425"
[583] "233639"             "349201"             "349218"
[586] "16988"              "376566"             "STON/O 2. 3101288"
[589] "250648"             "113773"             "335097"
[592] "29103"              "392096"             "345780"
[595] "349204"             "350042"             "29108"
[598] "363294"             "SOTON/O2 3101272"   "2663"
[601] "347074"             "112379"             "364850"
[604] "8471"               "345781"             "350047"
[607] "S.O./P.P. 3"        "2674"               "29105"
[610] "347078"             "383121"             "36865"
[613] "2687"               "113501"             "W./C. 6607"
[616] "SOTON/O.Q. 3101312" "374887"             "3101265"
[619] "12460"              "PC 17600"           "349203"
[622] "28213"              "17465"              "349244"
[625] "2685"               "2625"               "347089"
[628] "347063"             "112050"             "347087"
[631] "248723"             "3474"               "28206"
[634] "364499"             "112058"             "STON/O2. 3101290"
[637] "S.C./PARIS 2079"    "C 7075"             "315098"
[640] "19972"              "368323"             "367228"
[643] "2671"               "347468"             "2223"
[646] "PC 17756"           "315097"             "392092"
[649] "11774"              "SOTON/O2 3101287"   "2683"
[652] "315090"             "C.A. 5547"          "349213"
[655] "347060"             "PC 17592"           "392091"
[658] "113055"             "2629"               "350026"
[661] "28134"              "17466"              "233866"
[664] "236852"             "SC/PARIS 2149"      "PC 17590"
[667] "345777"             "349248"             "695"
[670] "345765"             "2667"               "349212"
[673] "349217"             "349257"             "7552"
[676] "C.A./SOTON 34068"   "SOTON/OQ 392076"    "211536"
[679] "112053"             "111369"             "370376"

In [ ]:
DF$Embarked %>% unique()

[1] "S" "C" "Q" ""

In [ ]:
DF <- DF %>% 
 select(-PassengerId, -Name, -Cabin, -Ticket) %>% mutate_at(c("Pclass","Survived","Sex","Embarked"), factor)
str(DF)

tibble [891 × 8] (S3: tbl_df/tbl/data.frame)
 $ Survived: Factor w/ 2 levels "0","1": 1 2 2 2 1 1 1 1 2 2 ...
 $ Pclass  : Factor w/ 3 levels "1","2","3": 3 1 3 1 3 3 1 3 3 2 ...
 $ Sex     : Factor w/ 2 levels "female","male": 2 1 1 1 2 2 2 2 1 1 ...
 $ Age     : num [1:891] 22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp   : int [1:891] 1 1 0 1 0 0 0 3 0 1 ...
 $ Parch   : int [1:891] 0 0 0 0 0 0 0 1 2 0 ...
 $ Fare    : num [1:891] 7.25 71.28 7.92 53.1 8.05 ...
 $ Embarked: Factor w/ 4 levels "","C","Q","S": 4 2 4 4 4 3 4 4 4 2 ...
 - attr(*, ".internal.selfref")=<externalptr>

* Survived(생존여부)와 Pclass(승객 등급)의 연관관계 조사

In [ ]:
gmodels::CrossTable(DF$Survived, DF$Pclass, 
                    chisq = T, # 카이제곱 검정
                    expected = T, # 기대값(E) 표시
                    prop.r = F, prop.c = F) # 각 셀의 비율표시(F)

   Cell Contents
|-------------------------|
|                       N |
|              Expected N |
| Chi-square contribution |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  891


             | DF$Pclass
 DF$Survived |         1 |         2 |         3 | Row Total |
-------------|-----------|-----------|-----------|-----------|
           0 |        80 |        97 |       372 |       549 |
             |   133.091 |   113.374 |   302.535 |           |
             |    21.178 |     2.365 |    15.950 |           |
             |     0.090 |     0.109 |     0.418 |           |
-------------|-----------|-----------|-----------|-----------|
           1 |       136 |        87 |       119 |       342 |
             |    82.909 |    70.626 |   188.465 |           |
             |    33.997 |     3.796 |    25.603 |           |
             |     0.153 |     0.098 |     0.134 |           |
-------------|-----------|-----------|-----------|-----------|
Column Total |       216 |       184 |       491 |       891 |
-------------|-----------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  102.889     d.f. =  2     p =  4.549252e-23

* Survived(생존여부)와 Sex(성별)의 연관관계 조사

In [ ]:
gmodels::CrossTable(DF$Survived, DF$Sex, 
                    chisq = T, # 카이제곱 검정
                    expected = T, # 기대값(E) 표시
                    prop.r = F, prop.c = F) # 각 셀의 비율표시(F)

   Cell Contents
|-------------------------|
|                       N |
|              Expected N |
| Chi-square contribution |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  891


             | DF$Sex
 DF$Survived |    female |      male | Row Total |
-------------|-----------|-----------|-----------|
           0 |        81 |       468 |       549 |
             |   193.475 |   355.525 |           |
             |    65.386 |    35.583 |           |
             |     0.091 |     0.525 |           |
-------------|-----------|-----------|-----------|
           1 |       233 |       109 |       342 |
             |   120.525 |   221.475 |           |
             |   104.962 |    57.120 |           |
             |     0.262 |     0.122 |           |
-------------|-----------|-----------|-----------|
Column Total |       314 |       577 |       891 |
-------------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  263.0506     d.f. =  1     p =  3.711748e-59

Pearson's Chi-squared test with Yates' continuity correction
------------------------------------------------------------
Chi^2 =  260.717     d.f. =  1     p =  1.197357e-58

* Survived(생존여부)와 Embarked(탑승 장소)의 연관관계 조사

In [ ]:
gmodels::CrossTable(DF$Survived, DF$Embarked, 
                    chisq = T, # 카이제곱 검정
                    expected = T, # 기대값(E) 표시
                    prop.r = F, prop.c = F) # 각 셀의 비율표시(F)

Warning message in chisq.test(t, correct = FALSE, ...):
“Chi-squared approximation may be incorrect”

   Cell Contents
|-------------------------|
|                       N |
|              Expected N |
| Chi-square contribution |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  891


             | DF$Embarked
 DF$Survived |           |         C |         Q |         S | Row Total |
-------------|-----------|-----------|-----------|-----------|-----------|
           0 |         0 |        75 |        47 |       427 |       549 |
             |     1.232 |   103.515 |    47.444 |   396.808 |           |
             |     1.232 |     7.855 |     0.004 |     2.297 |           |
             |     0.000 |     0.084 |     0.053 |     0.479 |           |
-------------|-----------|-----------|-----------|-----------|-----------|
           1 |         2 |        93 |        30 |       217 |       342 |
             |     0.768 |    64.485 |    29.556 |   247.192 |           |
             |     1.978 |    12.609 |     0.007 |     3.688 |           |
             |     0.002 |     0.104 |     0.034 |     0.244 |           |
-------------|-----------|-----------|-----------|-----------|-----------|
Column Total |         2 |       168 |        77 |       644 |       891 |
-------------|-----------|-----------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  29.67061     d.f. =  3     p =  1.618719e-06

* Pclass(승객 등급)과 Sex(성별)의 연관관계 조사

In [ ]:
gmodels::CrossTable(DF$Pclass, DF$Sex, 
                    chisq = T, # 카이제곱 검정
                    expected = T, # 기대값(E) 표시
                    prop.r = F, prop.c = F) # 각 셀의 비율표시(F)

   Cell Contents
|-------------------------|
|                       N |
|              Expected N |
| Chi-square contribution |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  891


             | DF$Sex
   DF$Pclass |    female |      male | Row Total |
-------------|-----------|-----------|-----------|
           1 |        94 |       122 |       216 |
             |    76.121 |   139.879 |           |
             |     4.199 |     2.285 |           |
             |     0.105 |     0.137 |           |
-------------|-----------|-----------|-----------|
           2 |        76 |       108 |       184 |
             |    64.844 |   119.156 |           |
             |     1.919 |     1.044 |           |
             |     0.085 |     0.121 |           |
-------------|-----------|-----------|-----------|
           3 |       144 |       347 |       491 |
             |   173.035 |   317.965 |           |
             |     4.872 |     2.651 |           |
             |     0.162 |     0.389 |           |
-------------|-----------|-----------|-----------|
Column Total |       314 |       577 |       891 |
-------------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  16.9715     d.f. =  2     p =  0.0002063886

* Sex(성별)과 Embarked(탑승 장소)의 연관관계 조사

In [ ]:
gmodels::CrossTable(DF$Sex, DF$Embarked, 
                    chisq = T, # 카이제곱 검정
                    expected = T, # 기대값(E) 표시
                    prop.r = F, prop.c = F) # 각 셀의 비율표시(F)

Warning message in chisq.test(t, correct = FALSE, ...):
“Chi-squared approximation may be incorrect”

   Cell Contents
|-------------------------|
|                       N |
|              Expected N |
| Chi-square contribution |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  891


             | DF$Embarked
      DF$Sex |           |         C |         Q |         S | Row Total |
-------------|-----------|-----------|-----------|-----------|-----------|
      female |         2 |        73 |        36 |       203 |       314 |
             |     0.705 |    59.205 |    27.136 |   226.954 |           |
             |     2.380 |     3.214 |     2.896 |     2.528 |           |
             |     0.002 |     0.082 |     0.040 |     0.228 |           |
-------------|-----------|-----------|-----------|-----------|-----------|
        male |         0 |        95 |        41 |       441 |       577 |
             |     1.295 |   108.795 |    49.864 |   417.046 |           |
             |     1.295 |     1.749 |     1.576 |     1.376 |           |
             |     0.000 |     0.107 |     0.046 |     0.495 |           |
-------------|-----------|-----------|-----------|-----------|-----------|
Column Total |         2 |       168 |        77 |       644 |       891 |
-------------|-----------|-----------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  17.01377     d.f. =  3     p =  0.0007021496

### **<데이터베이스 연동>**

* 데이터베이스란?
  - 데이터베이스는 체계화된 데이터의 모임이다. 즉, 작성된 목록으로서 여러 응용시스템들의 통합된 정보들을 저장하여 운영할 수 있는 공용데이터들의 묶음이다. 여러 사람들이 공유하고 사용할 목적으로 통합 관리되는 정보의 집합이다. 논리적으로 연관된 하나 이상의 자료의 모음으로 그 내용을 고도로 구조화함으로써 검색과 갱신의 효율화를 꾀한 것이다. 즉, 몇 개의 자료 파일을 조직적으로 통합하여 자료 항목의 중복을 없애고 자료를 구조화하여 기억시켜 놓은 자료의 집합체라고 할 수 있다.

출처: https://neos518.tistory.com/122 [As I've always been]

In [ ]:
#install.packages("tidyverse")
library(tidyverse)

#### **A. SQLite**

https://ehdvudee.tistory.com/23

---

In [ ]:
## 두가지 패키지를 설치함으로써 데이터베이스를 사용할수 있다.

install.packages(c("DBI", "RSQLite"))

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘bit’, ‘bit64’, ‘plogr’

In [ ]:
library(DBI)
library(RSQLite)

* connection 생성

In [ ]:
# 현재 폴더가 없기 때문에 오류남

con <- RSQLite::dbConnect(drv = SQLite(), dbname = "/sqlite/height_weight.sqlite")

ERROR: ignored

In [ ]:
# 현재 디렉토리
# 현재 저장되는 공간 -> content 밑에 squlite 폴더 생성

getwd()

[1] "/content"

In [ ]:
# 위에처럼 파일 만들어도 되고, dir을 이용해서 폴더 만들어줘도 된다.
# 워킹디렉토리에 폴더 생성

dir.create("sqlite")

In [ ]:
# 어떤 폴더가 있는지 보여줌

list.dirs()

[1] "."                         "./.config"
[3] "./.config/configurations"  "./.config/logs"
[5] "./.config/logs/2020.11.06" "./.ipynb_checkpoints"
[7] "./sample_data"             "./sqlite"
[9] "./squlit"

In [ ]:
# sqlite 폴더가 없음. 따라서 생성
# sqlite밑에 (height_weight)파일을 생성
# 이 한줄로 R에서 데이터베이스를 사용할 수 있게되는거임. -> 파일을 생성해야함

con <- RSQLite::dbConnect(drv = RSQLite::SQLite(), dbname = "sqlite/height_weight.sqlite")

In [ ]:
# RSQLite::dbDisconnect(con) # connection 끊기

In [ ]:

list.files("sqlite/")

[1] "height_weight.sqlite" "seoul_bike.sqlite"

In [ ]:
dbGetInfo(dbObj = con)

$db.version
[1] "3.33.0"

$dbname
[1] "sqlite/height_weight.sqlite"

$username
[1] NA

$host
[1] NA

$port
[1] NA

* 테이블 생성하기

```
ID : 사람의 고유한 ID(primary key), integer
HEIGHT : 키(cm), numeric
WEIGHT : 몸무게(kg), numeric

### PRIMARY KEY ??? --> https://jins-dev.tistory.com/entry/RDB-MySQL-%EC%97%90%EC%84%9C%EC%9D%98-Primary-Key-%EB%9E%80
```

In [ ]:
# 테이블이 있는지 확인 -> 아무 테이블도 없는것으로 나옴

dbListTables(con)

character(0)

- ``dbSendQuery``는 DB에 쿼리를 보낼 때 사용. 단, 데이터를 가지고 오지는 못함. 

- 또한, ``dbSendQuery``의 경우 ``dbClearResult`` 함수를 이용하여 보낸 쿼리의 처리결과를 제거해주어야 함

In [ ]:
# 테이블 생성
# dbSendQuery함수를 이용해 DB에 쿼리를 보낸다. -> 댠, 데이터를 가지고 오지는 못한다.
# 따라서 쿼리만 보낼 수 있다.

table_query <- dbSendQuery(conn = con, 
                           statement = "CREATE TABLE HW_table(
                                          ID INTEGER PRIMARY KEY,
                                          HEIGHT NUMERIC,
                                          WEIGHT NUMERIC)")

In [ ]:
# 쿼리의 결과를 제거해줘야함

dbClearResult(table_query)

* 생성된 table 확인

In [ ]:
# 테이블이 만들어진것을 확인할 수 잇다.

dbListTables(con)

[1] "HW_table"

In [ ]:
# 테이블 이름을 주면 있는지 없는지 파악할 수 있다.


dbExistsTable(con, "HW_table") # False 일 경우, 생성이 안 된 것.

[1] TRUE

In [ ]:
dbListFields(con, "HW_table")

[1] "ID"     "HEIGHT" "WEIGHT"

* 생성된 `HW_table`에 데이터 넣기 - 한번에 1행(row)

In [ ]:
# dbSendQuery = 한번에 1개 행씩 넣어주는 방법
# dbSendQuery은 한번에 1개행만 넣을 수 있다.

row_add_query  <- dbSendQuery(con, 
                                  "INSERT INTO HW_table (ID, HEIGHT, WEIGHT) VALUES (1, 183, 85)")
dbClearResult(row_add_query)#

In [ ]:
# error 오류남

# ID값이 중복되서 들어가서 -> primary key라서

# row_add_query  <- dbSendQuery(con, 
#                                   "INSERT INTO HW_table (ID, HEIGHT, WEIGHT) VALUES (1, 182, 67)")
# dbClearResult(row_add_query)

In [ ]:
row_add_query  <- dbSendQuery(con, 
                                  "INSERT INTO HW_table (ID, HEIGHT, WEIGHT) VALUES (2, 170, 68)")
dbClearResult(row_add_query)

In [ ]:
row_add_query  <- dbSendQuery(con, 
                                  "INSERT INTO HW_table (ID, HEIGHT, WEIGHT) VALUES (3, 165, 65)")
dbClearResult(row_add_query)

In [ ]:
row_add_query  <- dbSendQuery(con, 
                                  "INSERT INTO HW_table (ID, HEIGHT, WEIGHT) VALUES (5, 165, 65)")
dbClearResult(row_add_query)

* 테이블에서 데이터 가져오기

In [ ]:
# dbGetQuery = 테이블에서 데이터를 가져올 수 있다.
# 데이터 프레임의 형태로 반환됨


dbGetQuery(con, "SELECT * FROM HW_table")

  ID HEIGHT WEIGHT
1 1  183    85
2 2  170    68
3 3  165    65
4 5  165    65

In [ ]:
# 데이터 베이스로부터 받아온 정보들을 DF에다가 저장


DF <- dbGetQuery(con, "SELECT * FROM HW_table")
DF %>% str()

'data.frame':	4 obs. of  3 variables:
 $ ID    : int  1 2 3 5
 $ HEIGHT: int  183 170 165 165
 $ WEIGHT: int  85 68 65 65

In [ ]:
# lm=회귀분석 

lm(HEIGHT ~ WEIGHT, data = DF) %>% summary()

Call:
lm(formula = HEIGHT ~ WEIGHT, data = DF)

Residuals:
      1       2       3       4
-0.2493  1.6621 -0.7064 -0.7064

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 108.69196    5.92035   18.36  0.00295 **
WEIGHT        0.87715    0.08311   10.55  0.00886 **
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 1.383 on 2 degrees of freedom
Multiple R-squared:  0.9824,	Adjusted R-squared:  0.9735
F-statistic: 111.4 on 1 and 2 DF,  p-value: 0.008858

In [ ]:
dbGetQuery(con, "SELECT ID, HEIGHT FROM HW_table")

  ID HEIGHT
1 1  183
2 2  170
3 3  165
4 5  165

In [ ]:
# 조건을 걸어서 가져옴

dbGetQuery(con, "SELECT * FROM HW_table WHERE HEIGHT >= 180")

  ID HEIGHT WEIGHT
1 1  183    85

In [ ]:
dbGetQuery(con, "SELECT * FROM HW_table WHERE HEIGHT >= 180 or WEIGHT >= 68")

  ID HEIGHT WEIGHT
1 1  183    85
2 2  170    68

* 생성된 `HW_table`에 데이터 넣기 - 한번에 여러행

In [ ]:
# dbSendQuery는 데이터를 넣는데 오래걸리기 때문에 한번에 넣어주는 방법이 필요
# 한번에 넣어주는 방법시작
# R에서 DF를 만들고, DB 테이블에 한번에 저장
# 복원추출로 500개의 데이터를 뽑아서 height와 weight 에 넣어줌

temp <- tibble(height = sample(150:210, 500, replace = T), weight = sample(45:120, 500, replace = T)) # 복원 추출(중복 허용)
temp %>% show()

# A tibble: 500 x 2
   height weight
    <int>  <int>
 1    195    103
 2    204     46
 3    184     80
 4    164     85
 5    178     45
 6    163     47
 7    168    116
 8    153     91
 9    200    101
10    158     75
# ... with 490 more rows

In [ ]:
# 해당 Table의 column 명과 동일해야 함. error(에러남)


# dbWriteTable(con, "HW_table", temp, row.names = F, append = T)

In [ ]:
# append = 우리가 사용하고 있는 테이블의 데이터에 추가적으로 데이터를 넣어준다.
#  row.names = F => T해주게 되면 우리가 만든 행보다 더 만들어질 수 있기 때문에 원치않는 정보가 들어갈 수있음.
# 데이터베이스에 만든 colume명과 DF의 열 이름이 동일해야 한다.

temp <- tibble(HEIGHT = sample(150:210, 500, replace = T), WEIGHT = sample(45:120, 500, replace = T)) # 복원 추출(중복 허용)
temp %>% show()

# A tibble: 500 x 2
   HEIGHT WEIGHT
    <int>  <int>
 1    157     85
 2    195     97
 3    189     81
 4    195    106
 5    182    103
 6    173     87
 7    175     71
 8    173     49
 9    161     50
10    168     55
# ... with 490 more rows

In [ ]:
# 해당 Table의 column 명과 동일해야 함.
dbWriteTable(con, "HW_table", temp, row.names = F, append = T)

In [ ]:
# !!!!!중요!!!!!!
# ID의 경우 PRIMARY KEY이므로 자동적으로 중복되지 않은 값이 채워짐.
# 데이터를 넣어줄 때 ID는 넣어주지 않았다. -> primary key라서 알아서 값이 채워진다.


dbGetQuery(con, "SELECT * FROM HW_table")

       ID     HEIGHT WEIGHT
1       1     183     85
2       2     170     68
3       3     165     65
4       5     165     65
5       6     209     64
6       7     187     97
7       8     183    107
8       9     206     61
9      10     197    104
10     11     156     55
11     12     157     97
12     13     182     93
13     14     174     80
14     15     188     74
15     16     189     63
16     17     187     54
17     18     176     62
18     19     180     57
19     20     189    106
20     21     196     85
21     22     186     98
22     23     161     69
23     24     198    109
24     25     168     63
25     26     165     96
26     27     207     93
27     28     169     68
28     29     188     69
29     30     198     84
30     31     207    102
<U+22EE> <U+22EE> <U+22EE> <U+22EE>
1475   1476   152     50
1476   1477   207     88
1477   1478   186     50
1478   1479   168    120
1479   1480   167    101
1480   1481   191     82
1481   1482   207    110
1482   1483   154    118
1483   1484   172     72
1484   1485   189     79
1485   1486   184     63
1486   1487   165    120
1487   1488   158    111
1488   1489   191    120
1489   1490   162     79
1490   1491   160     98
1491   1492   195     98
1492   1493   151    120
1493   1494   158    108
1494   1495   162     98
1495   1496   157     87
1496   1497   210    100
1497   1498   151    111
1498   1499   208    104
1499   1500   165     67
1500   1501   185    112
1501   1502   172    108
1502   1503   150    120
1503   1504   170     63
1504   1505   157     98

* 테이블에 있는 데이터 삭제하기(DELETE FROM ~ WHERE)

In [ ]:
# 테이블에 있는 데이터 삭제

query <- dbSendQuery(con, "DELETE FROM HW_table WHERE HEIGHT >= 200")
dbClearResult(query)

In [ ]:
# 삭제가 되었기 때문에 존재하지 않는다고 나온다.

dbGetQuery(con, "SELECT * FROM HW_table WHERE HEIGHT >= 200")

     ID HEIGHT WEIGHT

In [ ]:
# 전체 데이터 삭제(table 삭제가 아님!!)
# 테이블에 속한 데이터를 모두다 삭제 -> 값만 지워지고 구조는 남아있음
# 구조까지 지우고 싶으면 drop table하면됨

query <- dbSendQuery(con, "DELETE FROM HW_table")
dbClearResult(query)

In [ ]:
dbGetQuery(con, "SELECT * FROM HW_table")

     ID HEIGHT WEIGHT

* table 삭제(DROP TABLE)

In [ ]:
query <- dbSendQuery(con, "DROP TABLE HW_table")
dbClearResult(query)

In [ ]:
# 에러가 뜬다. 테이블이 완전히 삭제되었기 때문에

# dbGetQuery(con, "SELECT * FROM HW_table")

In [ ]:
dbListTables(con, "HW_table")

character(0)

In [ ]:
# 존재하지 않기 때문에 false리턴한다.

dbExistsTable(con, "HW_table")

[1] FALSE

* connection 종료

In [ ]:
# DB 끝내는 방법 -> 데이터베이스를 사용할 수 없게됨

dbDisconnect(con)

* SQLite의 이식성(!?)

In [ ]:
# Lab 9 참고
#https://archive.ics.uci.edu/ml/datasets.php?format=&task=reg&att=&area=&numAtt=&numIns=&type=&sort=dateDown&view=table
#https://datascience.stackexchange.com/questions/8922/removing-strings-after-a-certain-character-in-a-given-text
#https://stackoverflow.com/questions/5992082/how-to-remove-all-whitespace-from-a-string

Sys.setlocale('LC_ALL','C') # 이부분 무시해도 됨.
DF <- fread("https://raw.githubusercontent.com/Jin0331/TA/master/data/SeoulBikeData.csv", sep = ",", stringsAsFactors = F) %>%
 as_tibble()

colnames(DF) <- colnames(DF) %>% lapply(X = ., FUN = function(value){
  stringr::str_remove(string = value, pattern = "\\(.*") %>%
  stringr::str_replace_all(string = ., pattern = "[[:space:]]", replace = "_")
}) %>% unlist()

DF %>% str()

[1] "LC_CTYPE=C;LC_NUMERIC=C;LC_TIME=C;LC_COLLATE=C;LC_MONETARY=C;LC_MESSAGES=en_US.UTF-8;LC_PAPER=en_US.UTF-8;LC_NAME=C;LC_ADDRESS=C;LC_TELEPHONE=C;LC_MEASUREMENT=en_US.UTF-8;LC_IDENTIFICATION=C"

tibble [8,760 x 14] (S3: tbl_df/tbl/data.frame)
 $ Date                 : chr [1:8760] "01/12/2017" "01/12/2017" "01/12/2017" "01/12/2017" ...
 $ Rented_Bike_Count    : int [1:8760] 254 204 173 107 78 100 181 460 930 490 ...
 $ Hour                 : int [1:8760] 0 1 2 3 4 5 6 7 8 9 ...
 $ Temperature          : num [1:8760] -5.2 -5.5 -6 -6.2 -6 -6.4 -6.6 -7.4 -7.6 -6.5 ...
 $ Humidity             : int [1:8760] 37 38 39 40 36 37 35 38 37 27 ...
 $ Wind_speed_          : num [1:8760] 2.2 0.8 1 0.9 2.3 1.5 1.3 0.9 1.1 0.5 ...
 $ Visibility_          : int [1:8760] 2000 2000 2000 2000 2000 2000 2000 2000 2000 1928 ...
 $ Dew_point_temperature: num [1:8760] -17.6 -17.6 -17.7 -17.6 -18.6 -18.7 -19.5 -19.3 -19.8 -22.4 ...
 $ Solar_Radiation_     : num [1:8760] 0 0 0 0 0 0 0 0 0.01 0.23 ...
 $ Rainfall             : num [1:8760] 0 0 0 0 0 0 0 0 0 0 ...
 $ Snowfall_            : num [1:8760] 0 0 0 0 0 0 0 0 0 0 ...
 $ Seasons              : chr [1:8760] "Winter" "Winter" "Winter" "Winter" ...
 $ Holiday              : chr [1:8760] "No Holiday" "No Holiday" "No Holiday" "No Holiday" ...
 $ Functioning_Day      : chr [1:8760] "Yes" "Yes" "Yes" "Yes" ...
 - attr(*, ".internal.selfref")=<externalptr>

In [ ]:
# 테이블을 만든다 -> content에 sqlite폴더가 만들어져 있어야함.

con <- RSQLite::dbConnect(drv = RSQLite::SQLite(), dbname = "sqlite/seoul_bike.sqlite")

In [ ]:
# DF에 저장되어있는 값을 테이블에 넣어준다.

dbWriteTable(con, "seoul_bike", DF, row.names = F, append = F)

In [ ]:
#테이블 확인

dbListTables(con)

[1] "seoul_bike"

In [ ]:
# 필드 확인
dbListFields(con, "seoul_bike")

 [1] "Date"                  "Rented_Bike_Count"     "Hour"
 [4] "Temperature"           "Humidity"              "Wind_speed_"
 [7] "Visibility_"           "Dew_point_temperature" "Solar_Radiation_"
[10] "Rainfall"              "Snowfall_"             "Seasons"
[13] "Holiday"               "Functioning_Day"

In [ ]:
dbGetQuery(con, "SELECT * FROM seoul_bike") %>%
 as_tibble() %>% str()

tibble [8,760 x 14] (S3: tbl_df/tbl/data.frame)
 $ Date                 : chr [1:8760] "01/12/2017" "01/12/2017" "01/12/2017" "01/12/2017" ...
 $ Rented_Bike_Count    : int [1:8760] 254 204 173 107 78 100 181 460 930 490 ...
 $ Hour                 : int [1:8760] 0 1 2 3 4 5 6 7 8 9 ...
 $ Temperature          : num [1:8760] -5.2 -5.5 -6 -6.2 -6 -6.4 -6.6 -7.4 -7.6 -6.5 ...
 $ Humidity             : int [1:8760] 37 38 39 40 36 37 35 38 37 27 ...
 $ Wind_speed_          : num [1:8760] 2.2 0.8 1 0.9 2.3 1.5 1.3 0.9 1.1 0.5 ...
 $ Visibility_          : int [1:8760] 2000 2000 2000 2000 2000 2000 2000 2000 2000 1928 ...
 $ Dew_point_temperature: num [1:8760] -17.6 -17.6 -17.7 -17.6 -18.6 -18.7 -19.5 -19.3 -19.8 -22.4 ...
 $ Solar_Radiation_     : num [1:8760] 0 0 0 0 0 0 0 0 0.01 0.23 ...
 $ Rainfall             : num [1:8760] 0 0 0 0 0 0 0 0 0 0 ...
 $ Snowfall_            : num [1:8760] 0 0 0 0 0 0 0 0 0 0 ...
 $ Seasons              : chr [1:8760] "Winter" "Winter" "Winter" "Winter" ...
 $ Holiday              : chr [1:8760] "No Holiday" "No Holiday" "No Holiday" "No Holiday" ...
 $ Functioning_Day      : chr [1:8760] "Yes" "Yes" "Yes" "Yes" ...

In [ ]:
dbDisconnect(con)

#### **B. dbplyr**

https://dbplyr.tidyverse.org/index.html

https://dbplyr.tidyverse.org/articles/sql-translation.html

```
dbplyr is the database backend for dplyr. 
It allows you to use remote database tables as if they are in-memory data frames by automatically converting dplyr code into SQL.
```

---

In [ ]:
# dbplyr을 사용해서 데이터베이스를 R언어로 사용할 수 있다.
# 폴더 생성 -> DB 이용할 수 있게함

con <- RSQLite::dbConnect(drv = RSQLite::SQLite(), dbname = "sqlite/seoul_bike.sqlite")

* copy_to를 local 데이터를 database에 복제

In [ ]:
dbListTables(con)

[1] "iris"         "seoul_bike"   "sqlite_stat1" "sqlite_stat4"

In [ ]:
# dplyr을 이용해 데이터베이스에 iris 데이터를 넣어줄 수 잇다.
# local 데이터를 데이터베이스에 복제함
# iris 테이블이 생성된것을 볼 수 있다.

dplyr::copy_to(con, iris)

In [ ]:
dbListTables(con)

[1] "iris"         "seoul_bike"   "sqlite_stat1" "sqlite_stat4"

* tbl을 이용한 database의 table 사용(dataframe)

In [ ]:
# tbl함수를 이용하면 데이터베이스에 있는 데이터를 DF에서 사용하는 것처럼 사용할 수 있다.
# Database: sqlite 3.33.0 [/content/sqlite/seoul_bike.sqlite] -> 데이터베이스에서 온것을 알 수 있다.

iris_2 <- tbl(con, "iris")#데이터베이스에 있는 테이블명
iris_2

# Source:   table<iris> [?? x 5]
# Database: sqlite 3.33.0 [/content/sqlite/seoul_bike.sqlite]
   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
          <dbl>       <dbl>        <dbl>       <dbl> <chr>
 1          5.1         3.5          1.4         0.2 setosa
 2          4.9         3            1.4         0.2 setosa
 3          4.7         3.2          1.3         0.2 setosa
 4          4.6         3.1          1.5         0.2 setosa
 5          5           3.6          1.4         0.2 setosa
 6          5.4         3.9          1.7         0.4 setosa
 7          4.6         3.4          1.4         0.3 setosa
 8          5           3.4          1.5         0.2 setosa
 9          4.4         2.9          1.4         0.2 setosa
10          4.9         3.1          1.5         0.1 setosa
# ... with more rows

In [ ]:
iris %>% show()

    Sepal.Length Sepal.Width Petal.Length Petal.Width    Species
1            5.1         3.5          1.4         0.2     setosa
2            4.9         3.0          1.4         0.2     setosa
3            4.7         3.2          1.3         0.2     setosa
4            4.6         3.1          1.5         0.2     setosa
5            5.0         3.6          1.4         0.2     setosa
6            5.4         3.9          1.7         0.4     setosa
7            4.6         3.4          1.4         0.3     setosa
8            5.0         3.4          1.5         0.2     setosa
9            4.4         2.9          1.4         0.2     setosa
10           4.9         3.1          1.5         0.1     setosa
11           5.4         3.7          1.5         0.2     setosa
12           4.8         3.4          1.6         0.2     setosa
13           4.8         3.0          1.4         0.1     setosa
14           4.3         3.0          1.1         0.1     setosa
15           5.8         4.0          1.2         0.2     setosa
16           5.7         4.4          1.5         0.4     setosa
17           5.4         3.9          1.3         0.4     setosa
18           5.1         3.5          1.4         0.3     setosa
19           5.7         3.8          1.7         0.3     setosa
20           5.1         3.8          1.5         0.3     setosa
21           5.4         3.4          1.7         0.2     setosa
22           5.1         3.7          1.5         0.4     setosa
23           4.6         3.6          1.0         0.2     setosa
24           5.1         3.3          1.7         0.5     setosa
25           4.8         3.4          1.9         0.2     setosa
26           5.0         3.0          1.6         0.2     setosa
27           5.0         3.4          1.6         0.4     setosa
28           5.2         3.5          1.5         0.2     setosa
29           5.2         3.4          1.4         0.2     setosa
30           4.7         3.2          1.6         0.2     setosa
31           4.8         3.1          1.6         0.2     setosa
32           5.4         3.4          1.5         0.4     setosa
33           5.2         4.1          1.5         0.1     setosa
34           5.5         4.2          1.4         0.2     setosa
35           4.9         3.1          1.5         0.2     setosa
36           5.0         3.2          1.2         0.2     setosa
37           5.5         3.5          1.3         0.2     setosa
38           4.9         3.6          1.4         0.1     setosa
39           4.4         3.0          1.3         0.2     setosa
40           5.1         3.4          1.5         0.2     setosa
41           5.0         3.5          1.3         0.3     setosa
42           4.5         2.3          1.3         0.3     setosa
43           4.4         3.2          1.3         0.2     setosa
44           5.0         3.5          1.6         0.6     setosa
45           5.1         3.8          1.9         0.4     setosa
46           4.8         3.0          1.4         0.3     setosa
47           5.1         3.8          1.6         0.2     setosa
48           4.6         3.2          1.4         0.2     setosa
49           5.3         3.7          1.5         0.2     setosa
50           5.0         3.3          1.4         0.2     setosa
51           7.0         3.2          4.7         1.4 versicolor
52           6.4         3.2          4.5         1.5 versicolor
53           6.9         3.1          4.9         1.5 versicolor
54           5.5         2.3          4.0         1.3 versicolor
55           6.5         2.8          4.6         1.5 versicolor
56           5.7         2.8          4.5         1.3 versicolor
57           6.3         3.3          4.7         1.6 versicolor
58           4.9         2.4          3.3         1.0 versicolor
59           6.6         2.9          4.6         1.3 versicolor
60           5.2         2.7          3.9         1.4 versicolor
61           5.0         2.0          3.5         1.0 versicolor
62           5.9         3.0          4.2         1.5 versicolor
63           6.0         2.2          4.0         1.0 versicolor
64           6.1         2.9          4.7         1.4 versicolor
65           5.6         2.9          3.6         1.3 versicolor
66           6.7         3.1          4.4         1.4 versicolor
67           5.6         3.0          4.5         1.5 versicolor
68           5.8         2.7          4.1         1.0 versicolor
69           6.2         2.2          4.5         1.5 versicolor
70           5.6         2.5          3.9         1.1 versicolor
71           5.9         3.2          4.8         1.8 versicolor
72           6.1         2.8          4.0         1.3 versicolor
73           6.3         2.5          4.9         1.5 versicolor
74           6.1         2.8          4.7         1.2 versicolor
75           6.4         2.9          4.3         1.3 versicolor
76           6.6         3.0          4.4         1.4 versicolor
77           6.8         2.8          4.8         1.4 versicolor
78           6.7         3.0          5.0         1.7 versicolor
79           6.0         2.9          4.5         1.5 versicolor
80           5.7         2.6          3.5         1.0 versicolor
81           5.5         2.4          3.8         1.1 versicolor
82           5.5         2.4          3.7         1.0 versicolor
83           5.8         2.7          3.9         1.2 versicolor
84           6.0         2.7          5.1         1.6 versicolor
85           5.4         3.0          4.5         1.5 versicolor
86           6.0         3.4          4.5         1.6 versicolor
87           6.7         3.1          4.7         1.5 versicolor
88           6.3         2.3          4.4         1.3 versicolor
89           5.6         3.0          4.1         1.3 versicolor
90           5.5         2.5          4.0         1.3 versicolor
91           5.5         2.6          4.4         1.2 versicolor
92           6.1         3.0          4.6         1.4 versicolor
93           5.8         2.6          4.0         1.2 versicolor
94           5.0         2.3          3.3         1.0 versicolor
95           5.6         2.7          4.2         1.3 versicolor
96           5.7         3.0          4.2         1.2 versicolor
97           5.7         2.9          4.2         1.3 versicolor
98           6.2         2.9          4.3         1.3 versicolor
99           5.1         2.5          3.0         1.1 versicolor
100          5.7         2.8          4.1         1.3 versicolor
101          6.3         3.3          6.0         2.5  virginica
102          5.8         2.7          5.1         1.9  virginica
103          7.1         3.0          5.9         2.1  virginica
104          6.3         2.9          5.6         1.8  virginica
105          6.5         3.0          5.8         2.2  virginica
106          7.6         3.0          6.6         2.1  virginica
107          4.9         2.5          4.5         1.7  virginica
108          7.3         2.9          6.3         1.8  virginica
109          6.7         2.5          5.8         1.8  virginica
110          7.2         3.6          6.1         2.5  virginica
111          6.5         3.2          5.1         2.0  virginica
112          6.4         2.7          5.3         1.9  virginica
113          6.8         3.0          5.5         2.1  virginica
114          5.7         2.5          5.0         2.0  virginica
115          5.8         2.8          5.1         2.4  virginica
116          6.4         3.2          5.3         2.3  virginica
117          6.5         3.0          5.5         1.8  virginica
118          7.7         3.8          6.7         2.2  virginica
119          7.7         2.6          6.9         2.3  virginica
120          6.0         2.2          5.0         1.5  virginica
121          6.9         3.2          5.7         2.3  virginica
122          5.6         2.8          4.9         2.0  virginica
123          7.7         2.8          6.7         2.0  virginica
124          6.3         2.7          4.9         1.8  virginica
125          6.7         3.3          5.7         2.1  virginica
126          7.2         3.2          6.0         1.8  virginica
127          6.2         2.8          4.8         1.8  virginica
128          6.1         3.0          4.9         1.8  virginica
129          6.4         2.8          5.6         2.1  virginica
130          7.2         3.0          5.8         1.6  virginica
131          7.4         2.8          6.1         1.9  virginica
132          7.9         3.8          6.4         2.0  virginica
133          6.4         2.8          5.6         2.2  virginica
134          6.3         2.8          5.1         1.5  virginica
135          6.1         2.6          5.6         1.4  virginica
136          7.7         3.0          6.1         2.3  virginica
137          6.3         3.4          5.6         2.4  virginica
138          6.4         3.1          5.5         1.8  virginica
139          6.0         3.0          4.8         1.8  virginica
140          6.9         3.1          5.4         2.1  virginica
141          6.7         3.1          5.6         2.4  virginica
142          6.9         3.1          5.1         2.3  virginica
143          5.8         2.7          5.1         1.9  virginica
144          6.8         3.2          5.9         2.3  virginica
145          6.7         3.3          5.7         2.5  virginica
146          6.7         3.0          5.2         2.3  virginica
147          6.3         2.5          5.0         1.9  virginica
148          6.5         3.0          5.2         2.0  virginica
149          6.2         3.4          5.4         2.3  virginica
150          5.9         3.0          5.1         1.8  virginica

In [ ]:
seoul_bike_2 <- tbl(con, "seoul_bike")
seoul_bike_2

# Source:   table<seoul_bike> [?? x 14]
# Database: sqlite 3.33.0 [/content/sqlite/seoul_bike.sqlite]
   Date  Rented_Bike_Cou~  Hour Temperature Humidity Wind_speed_ Visibility_
   <chr>            <int> <int>       <dbl>    <int>       <dbl>       <int>
 1 01/1~              254     0        -5.2       37         2.2        2000
 2 01/1~              204     1        -5.5       38         0.8        2000
 3 01/1~              173     2        -6         39         1          2000
 4 01/1~              107     3        -6.2       40         0.9        2000
 5 01/1~               78     4        -6         36         2.3        2000
 6 01/1~              100     5        -6.4       37         1.5        2000
 7 01/1~              181     6        -6.6       35         1.3        2000
 8 01/1~              460     7        -7.4       38         0.9        2000
 9 01/1~              930     8        -7.6       37         1.1        2000
10 01/1~              490     9        -6.5       27         0.5        1928
# ... with more rows, and 7 more variables: Dew_point_temperature <dbl>,
#   Solar_Radiation_ <dbl>, Rainfall <dbl>, Snowfall_ <dbl>, Seasons <chr>,
#   Holiday <chr>, Functioning_Day <chr>

* dplyr 문법을 이용한 SQL 번역

In [ ]:
# 데이터베이스에 있는 값들을 R언어로 사용할 수 있다.
# dplyr 에서 자동으로 SQL 언어로 번역해서 일을 처리해줌
# 하지만 collect()를 써주지 않는다면 실제 데이터가 되지않고, 출력만 해주게 된다 -> 실제 데이터는 변경되지 않음

seoul_bike_2 %>% select(Date, Hour)

# Source:   lazy query [?? x 2]
# Database: sqlite 3.33.0 [/content/sqlite/seoul_bike.sqlite]
   Date        Hour
   <chr>      <int>
 1 01/12/2017     0
 2 01/12/2017     1
 3 01/12/2017     2
 4 01/12/2017     3
 5 01/12/2017     4
 6 01/12/2017     5
 7 01/12/2017     6
 8 01/12/2017     7
 9 01/12/2017     8
10 01/12/2017     9
# ... with more rows

In [ ]:
seoul_bike_2 %>% filter(Humidity >= 40)

# Source:   lazy query [?? x 14]
# Database: sqlite 3.33.0 [/content/sqlite/seoul_bike.sqlite]
   Date  Rented_Bike_Cou~  Hour Temperature Humidity Wind_speed_ Visibility_
   <chr>            <int> <int>       <dbl>    <int>       <dbl>       <int>
 1 01/1~              107     3        -6.2       40         0.9        2000
 2 01/1~              484    16         1.2       54         4.2         793
 3 01/1~              555    17         0.8       58         1.6        2000
 4 01/1~              862    18         0.6       66         1.4        2000
 5 01/1~              600    19         0         77         1.7        2000
 6 01/1~              426    20        -0.3       79         1.5        1913
 7 01/1~              405    21        -0.8       81         0.8        1687
 8 01/1~              398    22        -0.9       83         1.5        1380
 9 01/1~              323    23        -1.3       84         1          1265
10 02/1~              328     0        -1.8       87         1.1         994
# ... with more rows, and 7 more variables: Dew_point_temperature <dbl>,
#   Solar_Radiation_ <dbl>, Rainfall <dbl>, Snowfall_ <dbl>, Seasons <chr>,
#   Holiday <chr>, Functioning_Day <chr>

In [ ]:
seoul_bike_2 %>% group_by(Date) %>% summarise(daily_humidity = mean(Humidity, na.rm = T))

# Source:   lazy query [?? x 2]
# Database: sqlite 3.33.0 [/content/sqlite/seoul_bike.sqlite]
   Date       daily_humidity
   <chr>               <dbl>
 1 01/01/2018           39.3
 2 01/02/2018           44
 3 01/03/2018           64.2
 4 01/04/2018           68.9
 5 01/05/2018           72.8
 6 01/06/2018           50.1
 7 01/07/2018           93.5
 8 01/08/2018           55.8
 9 01/09/2018           61.2
10 01/10/2018           54.2
# ... with more rows

* Show Query

In [ ]:
daily_h <- seoul_bike_2 %>% filter(Humidity >= 40) %>% 
 group_by(Date) %>% summarise(daily_humidity = mean(Humidity, na.rm = T))

In [ ]:
# R언어가 SQL문인 쿼리으로 바뀐것을 볼 수 있다.

show_query(daily_h)

<SQL>
SELECT `Date`, AVG(`Humidity`) AS `daily_humidity`
FROM `seoul_bike`
WHERE (`Humidity` >= 40.0)
GROUP BY `Date`

In [ ]:
explain(daily_h)

<SQL>
SELECT `Date`, AVG(`Humidity`) AS `daily_humidity`
FROM `seoul_bike`
WHERE (`Humidity` >= 40.0)
GROUP BY `Date`

<PLAN>
  id parent notused                       detail
1  6      0       0        SCAN TABLE seoul_bike
2 10      0       0 USE TEMP B-TREE FOR GROUP BY

* Collect Data

```
Now, some interesting facts. When working with databases, dplyr never pulls data into R unless you explicitly ask for it. 
In the previous example, dplyr will not do anything until you ask for the mileages data. 

It generates the SQL and only pulls down a few rows when you try to print mileages. So how do we pull all the data and store it for further analysis? 
collect() will pull all the data and store it in a tibble and you can use it for any further analysis.
```

In [ ]:
# collect()를 써주지 않는다면 실제 데이터에 영향을 줄 수 없다.


daily_h %>% collect() %>% show()

# A tibble: 361 x 2
   Date       daily_humidity
   <chr>               <dbl>
 1 01/01/2018           47.6
 2 01/02/2018           54.9
 3 01/03/2018           71.7
 4 01/04/2018           68.9
 5 01/05/2018           72.8
 6 01/06/2018           60.9
 7 01/07/2018           93.5
 8 01/08/2018           60.4
 9 01/09/2018           61.2
10 01/10/2018           55.0
# ... with 351 more rows

#### **C. Google Cloud Platform(GCP)를 이용한 DB 서버 생성 및 이용**

https://blog-rogan.tistory.com/entry/Cloud-Platform%EC%9D%B4%EB%9E%80

https://cloud.google.com/free/docs/gcp-free-tier?hl=ko

---

In [ ]:

system("sudo apt-get install libmysql++-dev")

In [ ]:
install.packages("RMariaDB")

Installing package into '/usr/local/lib/R/site-library'
(as 'lib' is unspecified)

In [ ]:
#dbDisconnect(con)

In [ ]:
con <- dbConnect(RMariaDB::MariaDB(), user = "root", password = "spark123!",
                          host = "34.123.12.131", dbname = "test")

* 예제 데이터

In [ ]:
#install.packages("nycflights13")
nycflights13::flights %>% str()

In [ ]:
copy_to(con, nycflights13::flights, "flights")

* 예제 데이터

In [ ]:
Sys.setlocale('LC_ALL','C') # 이부분 무시해도 됨.
DF <- fread("https://raw.githubusercontent.com/Jin0331/TA/master/data/SeoulBikeData.csv", sep = ",", stringsAsFactors = F) %>%
 as_tibble()

colnames(DF) <- colnames(DF) %>% lapply(X = ., FUN = function(value){
  stringr::str_remove(string = value, pattern = "\\(.*") %>%
  stringr::str_replace_all(string = ., pattern = "[[:space:]]", replace = "_")
}) %>% unlist()

In [ ]:
copy_to(con, DF, "seoul_bike")

- - -

## **실습 과제 <11주차 과제 - 100점>**

### **(1) 아래의 조건에 맞는 ```학번_이름.sqlite 파일```을 생성한 후, 한림SmartLEAD에 제출할 것(ex.D20514_이진우.sqlite)**
### **(2) 제출 데드라인 : 2020.11.9(월요일) ~ 2020.11.15(일요일) 23:59 까지**


- - -

### **1. SQLite를 이용하여 학번_이름.sqlite 데이터베이스를 생성**

### **2. dbplyr를 이용하여 학번_이름(영어)인 테이블 생성 (ex. D20514_jinoo)**

```
<테이블의 구조>

ID : 자신의 학번
GRADE : 자신의 학년
NAME : 자신의 이름
RESIDENCE : 자신의 거주 지역
```


### **3. dbplyr를 이용하여 각 열에 맞는 데이터 삽입(1행만)**

* 예시 코드

In [14]:
install.packages(c("DBI", "RSQLite", "tidyverse", "dbplyr"))
library(DBI)
library(RSQLite)
library(tidyverse)
library(dbplyr)

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [15]:
# test 폴더 생성

getwd()
dir.create("test")#dir함수 사용해서 폴더 생성
list.dirs()# 무슨 폴더 있는지 알려줌

[1] "/content"

[1] "."                         "./.config"
[3] "./.config/configurations"  "./.config/logs"
[5] "./.config/logs/2020.11.06" "./.ipynb_checkpoints"
[7] "./sample_data"             "./test"

In [16]:
# 데이터베이스 만들기 위해서 실행
# 2015513_wonyoungAhn으로 데이터베이스파일이 만들어진다. 

con <- RSQLite::dbConnect(drv = RSQLite::SQLite(), dbname = "test/20155137_wonyoungAhn.sqlite") # 자신의 이름과 학번으로 설정할 것

* local dataframe 생성

In [17]:
# 데이터를 넣어주기 위해서 DF를 생성
# 데이터 만들어주는곳

DF <- tibble(ID = c("20155137"), GRADE = c("3"), NAME = c("wonyougAhn"), RESIDENCE = c("Seoul Dongjak"))
DF %>% show()

# A tibble: 1 x 4
  ID       GRADE NAME       RESIDENCE
  <chr>    <chr> <chr>      <chr>
1 20155137 3     wonyougAhn Seoul Dongjak

* copy_to를 이용하여 local dataframe을 SQLite의 테이블로 생성

In [18]:
# 생성한 데이터를 dyplyr을 이용해 데이터베이스에 DF형태로 데이터를 한번에 넣어준다.

dplyr::copy_to(con, DF, "20155137_wonyoungAhn", temporary = F) # connection, 생성한 dataframe, 테이블 명, 일시적인 테이블 해제

* 생성한 테이블 확인

In [19]:
# 테이블이 만들어진것을 확인

dbListTables(con)

[1] "20155137_wonyoungAhn" "sqlite_stat1"         "sqlite_stat4"

In [24]:
# tbl함수를 이용하면 데이터베이스에 있는 데이터를 DF에서 사용하는 것처럼 사용할 수 있다.
tbl(con, "20155137_wonyoungAhn") %>% collect() %>% show()

# A tibble: 1 x 4
  ID       GRADE NAME       RESIDENCE
  <chr>    <chr> <chr>      <chr>
1 20155137 3     wonyougAhn Seoul Dongjak

In [25]:
# 데이터 모두다 삭제하지만 구조는 남겨둠

query <- dbSendQuery(con, "DELETE FROM [20155137_wonyoungAhn]")
dbClearResult(query)

In [27]:
# 데이터가 모두 삭제된것을 확인할 수 있다.

dbGetQuery(con, "SELECT * FROM [20155137_wonyoungAhn]")

     ID GRADE NAME RESIDENCE

In [ ]:
dbDisconnect(con)